@import 'styles/index';

.section__title {
  position: relative;

  margin-bottom: set-calc(32);
  padding-left: set-calc(16);

  @include font-32-normal-header;
  font-family: $font-family-extra-bold;

  @include set-media(md) {
    margin-bottom: set-calc(16);
    padding-left: set-calc(8);
  }
}

.list {
  position: relative;
  left: 0;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include set-media(md) {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
