@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: set-calc(32);

  @include set-media(md) {
    margin-bottom: set-calc(24);
  }
}

.title {
  padding-bottom: set-calc(24);
}

.desc {
  padding-bottom: set-calc(32);
  max-width: set-calc(600);
}

.tags {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: set-calc(2) solid $black-new;
  border-radius: set-calc(30);
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin-right: set-calc(8);
  margin-bottom: set-calc(8);

  padding: set-calc(4) set-calc(16);

  @include set-media(md) {
    border: set-calc(1.3) solid $black-new;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: grid;
  grid-template-columns: repeat(var(--items-in-row, 2),minmax(0,1fr));
  grid-column-gap: set-calc(10);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    margin-bottom: set-calc(8);
  }
}

.listItemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: set-calc(32);
  margin-bottom: set-calc(10);

  border-radius: set-calc(16);
  background-color: $color-background-default;
  overflow: hidden;

  @include set-media(md) {
    padding: set-calc(16) set-calc(16);
    margin-bottom: 0;

  }
}

.listItemCard:not(:last-child) {
  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}

.listItemCardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: set-calc(32);
  margin-bottom: set-calc(10);

  border-radius: set-calc(16);
  background-color: $color-background-default;
  overflow: hidden;

  @include set-media(md) {
    padding: set-calc(16) set-calc(16);
    margin-bottom: 0;
    border: 0;
  }

  .listItemMeta {
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    margin-right: set-calc(8);
    margin-bottom: set-calc(8);
  
    padding: set-calc(4) set-calc(16);
    border-radius: set-calc(6);
    background-color: $color-background-alternate;
    color: $black;
  }

  .listItemContent {
    width: 60%;

    @include set-media(md) {
      width: 100%;
    }
  }

  .listItemTitle {
    width: 60%;
    padding-bottom: set-calc(20);

    @include set-media(md) {
      width: 100%;
    }
  }
  
}

.listItemCardMedia {
  background-color: $blue;
  margin-bottom: set-calc(10);
  cursor: pointer;
  transition: background-color $d-hover ease;

  &:hover {
    background-color: transparent;
  }
}

.listItemMeta {
  color: $blue;
  display: inline-flex;

}

.listItemTitle {
  padding-bottom: set-calc(24);
}

.listItemContent {
  white-space: pre-line;
  padding-bottom: set-calc(16);
  max-width: set-calc(950);

  p {
    font-size: inherit;
    line-height: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }

  span + p {
    padding-top: set-calc(16);
  }

  span {
    display: block;
    font-size: inherit;
    line-height: inherit;
  }

  span:not(:last-child) {
    padding-bottom: set-calc(4);
  }

  span:not(:first-child) {
    padding-left: set-calc(16);

    @include set-media(md) {
      padding-left: 0;
    }
  }
}


.listItemActivities {
  display: flex;
  border-top: set-calc(2) solid $white;
  margin: set-calc(20) 0 0;
  padding: set-calc(20) 0 0;

  white-space: pre-line;
  padding-bottom: set-calc(16);
  width: 100%;

  p {
    font-size: inherit;
    line-height: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }

}

.listItemLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: $blue;
  border-radius: set-calc(40);
  border: none;
  margin: set-calc(40) 0 0;
  padding: set-calc(7) set-calc(16) set-calc(7) set-calc(8);
  height: set-calc(40);
  opacity: 1;

  @include set-media(md) {
    margin: set-calc(20) 0 set-calc(8);
  }
}

.listItemLabelIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: $white;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: set-calc(8);
  height: set-calc(26);
  width: set-calc(26);
}

.listItemLabelIcon svg {
  margin: auto;
}

.listItemLabelText {
  margin: 0;
  color: $white;
}

.listItemMedia {
  position: relative;
  margin: set-calc(-32);
  overflow: hidden;

  display: flex;

  @include set-media(md) {
    margin: set-calc(-16);
  }
}

.listItemMedia img {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listItemMediaDesc {
  margin: set-calc(52) 0 0;

  @include set-media(md) {
    margin: set-calc(24) 0 0;
    padding: set-calc(8) 0 0;
  }
}