@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  padding-left: set-calc(16);
  margin-bottom: set-calc(24);

  @include set-media(md) {
    padding-left: set-calc(8);
    margin-bottom: set-calc(16);
  }
}

.headerTitle {
  padding-bottom: set-calc(16);

  @include set-media(md) {
    padding-bottom:  set-calc(8);
  }
}

.headerDesc {
  max-width: set-calc(600);
}

.list {
  display: flex;
  flex-direction: column;
}