@import 'styles/index';

.popup{
  margin-left: set-calc(20);
  margin-bottom: set-calc(-5);

  transform: none;
  z-index: -1;
  visibility: hidden;
  opacity: 0;

  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.25, 1.15, 0.5, 1.1);

  width: set-calc(250);
  padding: set-calc(8);

  border-radius: set-calc($border-radius-10);
  background-color: var(--color-card);
  border: 1px solid var(--border);
  box-shadow: $shadow-menu;
}

.animated {
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  transition-timing-function: cubic-bezier(0.25, 1.15, 0.5, 1.1);
  transform: scale(0.5);
  transform-origin: calc(100% - var(--right)) calc(var(--top) + var(--size) / 4);
}

.inverseAnimated {
  transform-origin: calc(var(--right)) calc(100% - var(--top) + var(--size) / 4);
}

// --top: calc( var(--popup-offset-top) + var(--popup-padding) + (var(--item-height) + var(--popup-padding) * 2 - var(--size) - var(--spacing-16)) / 2 );
// --right: calc(var(--popup-offset-right) + 2 * var(--popup-padding));
// --size: 24;

.open {
  visibility: visible;
  transform: none;
  opacity: 1;
}

.itemsGroup {
  display: flex;
  flex-direction: column;
  margin-top: set-calc(16);
}

.itemsGroup:first-child {
  margin-top: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-content: space-between;
  height: auto;
  user-select: none;

  padding: set-calc(12) set-calc(12);
  border-radius: set-calc($border-radius-10);

}

.withIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: set-calc(8);

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;

    width: set-calc(24);
    height: set-calc(24);

    path {
      fill: var(--color-content-primary);
    }
  }

  span {
    font-size: inherit;
    line-height: inherit;
  }
}

.itemTitle {
  display: flex;
  align-items: center;
  gap: set-calc(8);
  height: auto;

  color: var(--color-content-paragraph-primary);
  @include set-typography(18, 20, 500);

  @include set-media(md) {
    @include set-typography(16, 18, 500)
  }
}

.userName {
  display: flex;
  align-items: center;
  gap: set-calc(8);
  height: auto;

  color: var(--color-content-paragraph-primary);
  font-family: $font-family-medium;
  @include set-typography(14, 16, 500);
}

.itemSubtitle {
  margin: set-calc(6) 0 0;

  @include font-16-normal-ui;
  color: var(--color-content-paragraph-secondary);
}

.itemHoverable {
  transition: background-color 0.3s ease-out;
  background-color: transparent;
  cursor: pointer;
}

.itemHoverable:hover {
  background-color: var(--color-background-glassy-b);

  @include set-media(md) {
    background-color: transparent;
  }
}

.itemHoverable:active {
  background-color: var(--color-background-glassy-a);

  @include set-media(md) {
    background-color: transparent;
  }
}