@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  overflow: visible;
  border-radius: set-calc($border-radius-medium);
  background-color: $color-background-glassy-c;

  @include set-media(md) {
    position: relative;
  }
}

.inner {
  position: relative;
  overflow: hidden;
  min-height: 60vh;

  padding: set-calc(32);
  border-radius: set-calc($border-radius-medium);
  @include is-grid-4;
  color: $matt-white;

  @include set-media(md) {
    padding: 0;
    min-height: 80vh;
    color: $color-content-primary;
  }
}

.info {
  position: relative;
  grid-column: span 4;
  z-index: 300;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: set-calc(48) 0 set-calc(24);

  @include set-media(md) {
    padding: 0 0 0;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomContent {
  display: grid;
  grid-template-areas: '. actions c';
  grid-template-columns: 1fr set-calc(600) 1fr;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  padding-inline: set-calc(24);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  max-width: set-calc(620);
  margin-bottom: cset-calc(16);

  & > div:not(:last-child) {
    margin-right: set-calc(4);
  }

  @include set-media(md) {
    margin-bottom: cset-calc(8);
    padding-bottom: 0;
    justify-content: center;
  }
}

.categoriesItem {
  margin-bottom: set-calc(8);
  padding: set-calc(6) set-calc(24);
  border: set-calc(2) solid $matt-white;
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    border: set-calc(1) solid $color-content-primary;
    padding: set-calc(4) set-calc(16);
  }
}

.title {
  padding-bottom: set-calc(24);
  max-width: set-calc(1100);
  text-align: center;

  @include set-typography(88, 80, 500);

  @include set-media(md) {

    @include s-text-56;
    padding-bottom: set-calc(16);
    padding-right: set-calc(8);
    padding-left: set-calc(8);

    text-align: center;
  }
}

.block {
  max-width: set-calc(550);
  padding-bottom: set-calc(16);
  text-align: center;

  white-space: pre-line;

  @include set-media(md) {
    padding-bottom: set-calc(16);
    padding-right: set-calc(20);
    padding-left: set-calc(20);

    text-align: center;
  }
}

.actions {
  grid-area: actions;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include set-media(md) {
    flex-direction: row-reverse;
  }

}

.actionsBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: set-calc($border-radius-medium);
  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  background: $matt-white;
  color: $color-content-primary;

  padding: set-calc(20) set-calc(80);

  @include set-media(md) {
    display: none;
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
  }

  .text {
    z-index: 200;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    background-color: $matt-white-hover;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: set-calc($border-radius-medium);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 200;

    @include set-media(md) {
      background: transparent;
    }
  }

  @include set-media(md) {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
  }
}

.cover img {
  width: 100%;
  object-fit: cover;
  border-radius: set-calc($border-radius-medium);
}