@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  height: set-calc(-150, true, 100vh);
  overflow: visible;

  @include set-media(md) {
    position: relative;
    left: set-calc(-$padding-x-mob-page);

    width: set-calc(2 * $padding-x-mob-page, true, 100%);
    min-height: 95vh;
  }
}

.inner {
  position: relative;
  @include is-grid-4;
  padding: set-calc(32);
  background: $beige;
  border-radius: set-calc(20);
  overflow: hidden;

  flex-grow: 1;
  height: 100%;

  @include set-media(md) {
    padding: set-calc(16);
  }
}

.info {
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column;

}

.categories {
  z-index: 100;

  display: flex;
  flex-wrap: wrap;
  max-width: set-calc(620);
  margin-bottom: cset-calc(-8);
  padding-bottom: set-calc(80);

  & > div:not(:last-child) {
    margin-right: set-calc(4);
  }

  @include set-media(md) {
    margin-bottom: cset-calc(-8);
    padding-bottom: set-calc(32);
  }
}

.categoriesItem {
  margin-bottom: set-calc(8);
  padding: 0 set-calc($padding-x-mob-page);

  border: set-calc(2) solid $black;
  border-radius: set-calc(20);
}

.title {
  z-index: 100;
  font-family: $font-family-serif;

  max-width: set-calc(620);
  padding-bottom: set-calc(32);

  @include set-media(md) {
    padding-bottom: set-calc(24);
  }
}

.block {
  z-index: 100;

  max-width: set-calc(620);
  padding-bottom: set-calc(32);

  @include set-media(md) {
    padding-bottom: set-calc(16);
  }
}

.actions {
  z-index: 500;

  display: flex;
  flex-wrap: wrap;

  @include set-media(md) {
    flex-direction: row-reverse;
  }
}

.actionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  background-color: $black-new;
  color: $white;

  border-radius: set-calc(20);
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  width: max-content;
  margin: 0 set-calc(4) set-calc(4) 0;
  padding: set-calc(16) set-calc(80);

  @include set-media(md) {
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
  }

  &:hover {
    background-color: $orange;
  }
}

.actionsDiscount {
  display: flex;
  align-items: center;
  justify-content: center;

  background: hsla(0,0%,100%,.1);
  -webkit-backdrop-filter: blur(set-calc(15.5));
  backdrop-filter: blur(set-calc(15.5));

  border-radius: set-calc(20);
  cursor: default;

  transition: background-color $d-hover, color $d-hover;

  padding: set-calc(16) set-calc(80);

  color: $orange;

  @include set-media(md) {
    flex: 1 1 max-content;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.cover {
  grid-column: span 2;
  position: relative;

  width: 100%;
  height: 100%;
  // aspect-ratio: 1/0.95;
  overflow: hidden;
  border-radius: set-calc(20);
}

.cover img {
  z-index: 100;
  width: 100%;
  object-fit: cover;
  border-radius: set-calc(20);
}