@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  // height: set-calc(-100, true, 100vh);
  overflow: visible;

  @include set-media(md) {
    position: relative;
    left: set-calc(-$padding-x-mob-page);

    width: set-calc(2 * $padding-x-mob-page, true, 100%);
  }
}

.inner {
  position: relative;
  padding: 0 0 set-calc(16);
  @include is-grid-4;
  background: $white;
  overflow: hidden;

  @include set-media(md) {
    padding: 0 set-calc(16) set-calc(16);
  }
}

.info {
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.categories {
  z-index: 100;

  display: flex;
  flex-wrap: wrap;
  max-width: set-calc(620);
  margin-bottom: cset-calc(-8);
  padding-bottom: set-calc(40);

  & > div:not(:last-child) {
    margin-right: set-calc(4);
  }

  @include set-media(md) {
    margin-bottom: cset-calc(-8);
    padding-bottom: set-calc(16);
  }
}

.categoriesItem {
  margin-bottom: set-calc(8);
  padding: set-calc(4) set-calc($padding-x-mob-page);

  background-color: $pastelPink;
  border-radius: set-calc(20);
}

.title {
  z-index: 100;
  font-family: $font-family-serif;
  color: $orange;

  max-width: set-calc(820);
  padding-bottom: set-calc(60);

  @include set-typography(186, 150, 500);
  letter-spacing: -.01rem;

  @include set-media(md) {
    padding-bottom: set-calc(8);
    @include set-typography(48, 52, 500);
  }
}

.block {
  z-index: 100;

  max-width: set-calc(500);
  padding-bottom: set-calc(40);

  white-space: pre-line;

  @include set-media(md) {
    padding-bottom: set-calc(16);
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;

  @include set-media(md) {
    flex-direction: row-reverse;
  }
}

.actionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  background-color: transparent;
  color: $black;

  border: set-calc(2) solid $black-new;
  border-radius: set-calc(20);
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  width: max-content;
  margin: 0 set-calc(4) set-calc(4) 0;
  padding: set-calc(16) set-calc(80);

  @include set-media(md) {
    display: none;
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
  }

  &:hover {
    background-color: $black-new;
    color: $white;
  }
}

.actionsDiscount {
  display: flex;
  align-items: center;
  justify-content: center;

  background: hsla(0,0%,100%,.1);
  -webkit-backdrop-filter: blur(set-calc(15.5));
  backdrop-filter: blur(set-calc(15.5));

  border-radius: set-calc(20);
  cursor: default;

  transition: background-color $d-hover, color $d-hover;

  padding: set-calc(16) set-calc(80);

  color: $orange;

  @include set-media(md) {
    flex: 1 1 max-content;
  }
}

.cover {
  grid-column: span 2;
  position: relative;

  width: set-calc(700);
  overflow: hidden;
  border-radius: set-calc(20);

  @include set-media(md) {
    width: 100%;
  }
}

.cover img {
  z-index: 100;
  width: 100%;
  object-fit: cover;
  border-radius: set-calc(20);
}