$btn-colors: (
  "blue": $blue,
  "beige": $beige,
);
$btn-colors-hover: (
  "blue": $blue-hover,
);

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;

  border-radius: set-calc(20);
  cursor: pointer;

  transition: background-color $d-hover, color $d-hover;
}

.btn-adapt {
  width: max-content;

  @include set-media(sm) {
    flex: 1 1 max-content;
  }
}

@each $color-name, $color in $btn-colors {
  .btn-#{$color-name} {
    color: $white;

    background-color: $color;
  }
}

@each $color-name, $color in $btn-colors-hover {
  .btn-#{$color-name}:hover {
    background-color: $color;
  }
}