@import 'styles/index';

.header {
  @include header;
  
  a {
    @include key-link;
  }
}

.list {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: set-calc($gap-8);

  @include set-media(md) {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
