@import 'styles/index';

.text {
  grid-column: span 3;
  font-family: $font-family-serif;

  padding-right: set-calc(160);

  @include set-media(md) {
    padding-right: 0;
  }

  p {
    @include s-text-20;
  }

  span {
    @include s-text-20;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(28);
  
    @include set-media(md) {
      padding-bottom: set-calc(16);
    }
  }
}

.text + .text {
  padding-top: set-calc(28);

  @include set-media(md) {
    padding-top: set-calc(16);
  }
}
