@import 'styles/index';

.input {
  position: relative;

  width: 100%;
  padding: set-calc(16) set-calc(30);
  font-family: $font-family!important;

  position: relative;
  background: none;
  border: none;
  border-radius: set-calc(15) 0 0 set-calc(15);
  box-shadow: none;
  outline: none;

  @include font-24-normal-ui;

  &::placeholder {
    color:  var(--color-background-glassy-d);
    opacity: 1;
    font-family: $font-family!important;
  }
  
  &:-ms-input-placeholder {
    color:  var(--color-background-glassy-d);
    font-family: $font-family!important;
  }
  
  &::-ms-input-placeholder {
    color:  var(--color-background-glassy-d);
    font-family: $font-family!important;
  }

  @include set-media(md) {
    padding: set-calc(20) set-calc(16);
  }
}

.light {
  background: var(--color-background-glassy-a);
  border: set-calc(1) solid var(--color-background-stroke);

  @include set-media(md) {
    border: set-calc(0.5) solid var(--color-background-stroke);
  }
}

.isError {
  border: set-calc(1.5) solid var(--color-accent-error);
  border-right: none;

  @include set-media(md) {
    border: set-calc(0.5) solid var(--color-accent-error);
    border-right: none;
  }
}