@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 1;
  padding: 0 set-calc($p-page-desk-l) set-calc(40);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
  padding: set-calc(40);

  border-radius: set-calc(40);
  border: 1px solid var(--border);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: set-calc(12);
}

.creators {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: set-calc(8);
}

.person {
  display: flex;
  gap: set-calc(6);
  align-items: baseline;

  &__title {
    @include font-14-ui;
    color: var(--color-content-secondary);
  }
  
  &__name {
    @include s-hoverable;

    @include font-14-ui;
    color: var(--color-content-secondary);
  }
}

.copyright {
  @include font-12-ui;
  color: var(--color-background-glassy-d);
}

.documents {
  display: flex;
  gap: set-calc(6);

  a {
    @include s-hoverable;
    @include font-12-ui;
    color: var(--color-background-glassy-d);
  }
}

.social {
  display: flex;
  align-items: end;
  justify-content: end;

  flex: 1 1;
  gap: set-calc(10);

  @include set-media(md) {
    justify-content: start;
  }

  &__link {
    @include btn;
    @include icon-button-40;
    @include icon-button-secondary;

    border-radius: 50%;
  }
}

.contacts {
  gap: set-calc(6);
  padding: 0 set-calc(8);
}
