@import 'styles/index';

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 0 set-calc($p-page-desk-l) set-calc(32);
  margin-top: set-calc(24);

  gap: set-calc(24);

  @include set-media(md) {
    flex-direction: column-reverse;
    
    padding: 0 set-calc($p-page-mob-s) set-calc(16);
    margin-top: set-calc(16);

    gap: set-calc(16);
  }

  // &_WEB {
  //   margin-top: set-calc(-24);

  //   @include set-media(md) {
  //     margin-top: set-calc(-16);
  //   }
  // }
  
  // &_LMS {
  //   @include set-media(md) {
  //   }
  // }
}

.row {
  position: relative;

  display: flex;
  justify-content: space-between;

  @include set-media(md) {
    flex-direction: column;
    gap: set-calc(32);
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: calc(100% / 4);

  & > * {
    @include font-14-normal-ui;
    color: var(--color-content-paragraph-secondary);
  }

  @include set-media(md) {
    width: 100%;
  }
}

.copyright {
  margin-bottom: set-calc(16);

  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}

.contacts {
  gap: set-calc(6);
  padding: 0 set-calc(8);
}

.documents {
  gap: set-calc(6);
  padding: 0 set-calc(8);
}

.social {
  display: flex;
  align-items: end;
  justify-content: end;

  flex: 1 1;
  gap: set-calc(10);

  @include set-media(md) {
    justify-content: start;
  }

  &__link {
    @include btn;
    @include icon-button-40;
    @include icon-button-secondary;

    border-radius: 50%;
  }
}

.card {
  position: relative;

  padding: set-calc(32);
  background: var(--color-background-alternate);
  border-radius: set-calc($border-radius-20);

  @include set-media(md) {
    display: none;
    
    left: set-calc(-8);
    width: set-calc(8 * 2, true, 100%);

    border-radius: set-calc($border-radius-20);
    padding: set-calc(16);

  }
}

.logo {
  @include set-typography(36, 36, 500);
  font-family: $font-family-normal;
  font-feature-settings: 'ss01' on;
  letter-spacing: set-calc(-0.66);
}

.creators {
  display: flex;
  flex-direction: column;
  gap: set-calc(6);
}

.person {
  display: flex;
  gap: set-calc(6);
  align-items: baseline;

  &__title {
    @include font-14-normal-ui;
  }
  
  &__name {
    @include s-hoverable;

    @include font-16-normal-ui;
    text-transform: uppercase;
  }
}
