@import 'styles/index';

.item {
  position: relative;
  grid-column: 1 / 7;

  padding: set-calc(16);
  border-radius: set-calc($border-radius-medium);
  background-color: var(--color-content-inverted-secondary);
  border: set-calc(1) solid var(--color-background-default);
  box-shadow: $shadow-huge-default;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  @include set-media(md) {
    border-radius: set-calc($border-radius-medium);
    position: relative;

    display: flex;
    flex-direction: column;
  }
}

.item:not(:last-child) {
  margin-bottom: set-calc(8);

  @include set-media(md) {
    margin-bottom: set-calc(4);
  }
}


.itemQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: set-calc(20);
  cursor: pointer;

  @include set-media(md) {
    padding-bottom: 0;
  }
}

.itemQuestionText {
  @include font-21-normal-paragraph;
  max-width: 80%;
}

.itemQuestionPlus {
  display: flex;

  padding: set-calc(8);
  background-color: var(--color-background-glassy-c);
  border-radius: 50%;

  transition: background-color $d-hover ease-in;

  svg {
    width: set-calc(20);
    height: set-calc(20);

    stroke-width: set-calc(2);
    stroke:  var(--color-content-inverted-primary);

    @include set-media(md) {
      width: set-calc(16);
      height: set-calc(16);
    }
  }
}

.itemAnswer {
  height: 0;
  overflow: hidden;
  transition: height $d-collapse linear;
}

.itemAnswerExpanded {
  transition: height $d-expansion cubic-bezier(0, 0, 0.15, 1);
}

.itemAnswerText {
  margin-right: set-calc(48);
  @include font-18-normal-paragraph;
  color: var(--color-content-paragraph-secondary);

  @include set-media(md) {
    margin: set-calc(20) 0 set-calc(20) 0;
    color: var(--color-content-paragraph-secondary);
  }
}