@import 'styles/index';

.__ {
  position: relative;

  overflow: hidden;

  display: block;
  @include is-beige;
}

.title {
  @include font-70-normal-header;
  padding-bottom: set-calc(32);
  padding-left: set-calc(16);

  @include set-media(md) {
    padding-bottom: set-calc(16);
    padding-left: set-calc(8);
    padding-right: set-calc(8);
  }
}

@keyframes row {
  100% {
    opacity: 1;
    transform: translateX(-16000px); 
  }
}

.commonFlowRow {
  @include set-media(md) {
    position: relative;
  }
}

.list {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: set-calc(4);

  width: set-calc(16, true, 100%);
  left: set-calc(-8);

  @include set-media(md) {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    width: set-calc(16, true, 100%);
    left: set-calc(-8);
    padding: 0 0 0 set-calc(8);

    scrollbar-width: 0;
    overflow-y: hidden;
    overflow-x: scroll;

    scroll-behavior: smooth;
    scroll-snap-type: block;

    direction: ltr;
  }
}

.item {
  display: flex;
  margin-right: set-calc(4);

  min-width: 45%;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);
  animation: row linear 80s infinite;

  aspect-ratio: 1 / 1.5;

  text-align: center;

  @include set-media(md) {
    min-width: min(510px, 110vw);
  }
}

.item:not(:last-child) {
  margin-right: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}