@import 'styles/index';

.__ {
  position: relative;

  z-index: 500;

  display: block;
  @include is-beige;
}

.__:hover {

  .backwardButton {
    transform: translate(150%, 0) rotate(180deg);

    &:hover {
      transform: translate(150%, 0) rotate(180deg);
    }
  }

  .forwardButton {
    transform: translate(-150%, 0) rotate(180deg);

    &:hover {
      transform: translate(-150%, 0) rotate(180deg);
    }
  }
}

.backwardButton {
  position: absolute;
  top: 50%;
  left: set-calc(-56);
  box-sizing: border-box;

  z-index: 500;

  padding: set-calc(16);
  width: set-calc(54);
  height: set-calc(54);

  cursor: pointer;
  transition: all $d-hover ease-in;

  border-radius: 50%;
  color: $color-palette-black-500;
  background: $color-gradient-summer-fair;
  border: set-calc(1) solid $color-border-light;
  box-shadow: $shadow-icon;
  transform: rotate(180deg) translate(0, 0);


  svg {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
  }

  &:hover {
    transform: rotate(180deg) scale(1.05);
  }

  @include set-media(md) {
    display: none;
  }
}

.forwardButton {
  position: absolute;
  top: 50%;
  right: set-calc(-56);
  box-sizing: border-box;

  z-index: 500;

  padding: set-calc(16);
  width: set-calc(54);
  height: set-calc(54);

  cursor: pointer;
  transition: all $d-hover ease-in;

  border-radius: 50%;
  color: $color-palette-black-500;
  background: $color-gradient-summer-fair;
  border: set-calc(1) solid $color-border-light;
  box-shadow: $shadow-icon;
  transform: rotate(180deg) translate(0, 0);


  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: rotate(180deg) scale(1.05, 1.05);
  }

  @include set-media(md) {
    display: none;
  }
}

.title {
  @include font-70-normal-header;
  padding-bottom: set-calc(32);
  padding-left: set-calc(16);

  @include set-media(md) {
    padding-bottom: set-calc(16);
    padding-left: set-calc(8);
    padding-right: set-calc(8);
  }
}

@keyframes row {
  100% {
    opacity: 1;
    transform: translateX(-100%); 
  }
}

.commonFlowRow {
  @include set-media(md) {
    position: relative;
  }
}

.list {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  gap: set-calc(4);

  scrollbar-color: none;
  scrollbar-width: 0;
  overflow-x: visible;

  scroll-behavior: smooth;
  scroll-snap-type: block;
  direction: ltr;

  width: set-calc(16, true, 100%);
  left: set-calc(-8);

  @include set-media(md) {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;

    width: set-calc(16, true, 100%);
    left: set-calc(-8);
    padding: 0 set-calc(8);
  }
}

.item {
  display: flex;
  margin-right: set-calc(4);

  min-width: 35%;
  border-radius: set-calc($border-radius-medium);

  aspect-ratio: 1 / 1.5;

  text-align: center;

  @include set-media(md) {
    min-width: min(510px, 110vw);
  }
}

.item:not(:last-child) {
  margin-right: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: set-calc($border-radius-medium);
}