@import 'styles/index';

.wrapper {
  padding-top: 0;

  @include set-media(md) {
    padding-top: 0;
  }
}

.header {
  position: relative;
  padding-bottom: set-calc(32);

  @include set-media(md) {
    position: relative;
    padding-bottom: set-calc(24);
  }
}

.item {
  @include is-grid-12;
  background-color: $color-background-default;
  padding: set-calc(32);
  border-radius: set-calc($border-radius-medium);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    padding: set-calc(16);
  }
}

.item:not(:last-child) {
  margin-bottom: set-calc(8);

  @include set-media(md) {
    margin-bottom: set-calc(6);
  }
}

.content {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}

.content:not(:last-child) {
  padding-bottom: set-calc(40);

  @include set-media(md) {
    padding-bottom: set-calc(24);
  }
}

.caption {
  width: max-content;
}

.title {
  margin-bottom: set-calc(16);
}

.desc {
  padding-right: set-calc(32);
  @include set-media(md) {
    color: $color-content-secondary;
  }

  p {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }

  @include set-media(md) {
    padding-right: 0;
  }
}

.desc:not(:last-child) {
  padding-bottom: set-calc(48);

  @include set-media(md) {
    padding-bottom: set-calc(24);
  }
}

.videoCard {
  grid-column: 7 / 12;
  position: relative;

  overflow: hidden;
  border-radius: set-calc(10);

  @include set-media(md) {
    height: 100%;
  }
}

.videoCardContainer {
  position: relative;
  border-radius: set-calc($border-radius-medium);
  overflow: hidden;
}

.videoCardContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}