@import 'styles/index';

.modal {
  z-index: 1001;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  backdrop-filter: blur(set-calc($blur-15));
  background: var(--color-background-overlay);
  opacity: 0;

  transition: opacity 0.2s ease-out;

  @include set-media(md) {
    background: var(--color-background-overlay);
    opacity: 0;
    
    transition: opacity 0.3s ease-out;
  }
}

.modal__contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include set-media(md) {
    max-height: 100vh;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: fill-available;
  
    overflow: scroll;
    
    display: flex;
    font-display: column;
    justify-content: flex-end;

    top: unset;
    bottom: 0;
    left: 0;
    width: 100vw;

    transform: none;
  }
}

.modal__content {
  position: relative;
  margin: set-calc(10);

  color: var(--color-content-primary);

  background-color: var(--bg-modal-content, var(--color-card));
  border-radius: set-calc($border-radius-20);
  border: 1px solid var(--color-card-border);
  box-shadow: $shadow-popup;

  opacity: 0;

  transform: translateY(50px) scale(0.98);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;

  overflow: hidden;

  @include set-media(md) {
    width: 100%;
    height: max-content;
    margin: 0;

    opacity: 0;

    transform: translateY(100%) scale(1);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    border-bottom: 0 solid var(--color-card-border);
    border-left: 0 solid var(--color-card-border);
    border-right: 0 solid var(--color-card-border);

    border-top-right-radius: set-calc($border-radius-30);
    border-top-left-radius: set-calc($border-radius-30);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.modal__animationEnter {
  .overlay {
    opacity: 1;
  }

  .modal__content {
    transform: translateY(0) scale(1);
    opacity: 1;
  
    @include set-media(md) {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

.modal__animationExit {
  .overlay {
    transition: opacity 0.2s ease-in;
    opacity: 0;
  }

  .modal__content {
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    transform: translateY(50px) scale(0.98);
  
    opacity: 0;
  
    @include set-media(md) {
      transition: opacity 0.3s ease-in, transform 0.3s ease-in;
      transform: translateY(100%) scale(1);
  
      opacity: 1;
    }
  }
}