@import 'styles/index';

.__ {
  position: relative;

  margin: set-calc(12) 0 set-calc(20);
  margin-left: set-calc(32);
  color: var(--color-content-paragraph-primary);
  @include font-18-normal-paragraph;

  @include set-media(md) {
    margin: set-calc(16) 0 set-calc(8);
    margin-left: set-calc(24);
  }
}

.item {
  position: relative;

  margin-bottom: set-calc(8);

  span,
  p {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}

.__ .item::before {
  position: absolute;
  top: set-calc(-2);
  left: set-calc(-20);
  width: set-calc(20);
  font-size: set-calc(32);
  content: "•";

  @include set-media(md) {
    top: set-calc(-1);
    left: set-calc(-16);
    width: set-calc(16);
    font-size: set-calc(24);
  }
}