@import 'styles/index';

.Hidden {
  visibility: hidden;
}

.Placeholder {
  background-color: lightgray;

  min-height: 200px;
}

.Mobile {
  display: none;

  @include set-media(md) {
    display: block;
  }
}

.Desktop {
  display: block;

  @include set-media(md) {
    display: none;
  }
}
