@import 'styles/index';

.__ {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: set-calc(764);
  left: set-calc(-32);
  overflow: hidden;

  margin: set-calc(40) 0 set-calc(20);

  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(16);
    width: set-calc(398);
    left: set-calc(-16);
  }
}

.image {
  position: relative;

  border-radius: set-calc($border-radius-medium);
  background-color: $color-background-alternate;


  overflow: hidden;
}

.image img {
  display: block;
  max-height: set-calc(600);
  width: 100%;

  object-fit: contain;
  object-position: top left;
  cursor: zoom-in;
}

.imageCaption {
  @include s-text-16;

  margin-top: set-calc(16);
}

.imageCaption > * {
  @include s-text-16;
}

.modalCaptionWrapper {
  margin: set-calc(8) set-calc(64);
}

.modalCaption {
  color: $color-background-stroke;
  margin: 0;
  text-align: center;
  white-space: normal;
}

.modalCaption > * {
  font-size: inherit;
  line-height: inherit;
}

.modal {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: $modal-animation-duration;
  background-color: transparent;
}

.modalClose {
  position: absolute;
  top: set-calc(-48);
  right: set-calc(-48);
  cursor: pointer;
  opacity: .7;
  color: $color-background-default;

  svg {
    width: set-calc(33);
    height: set-calc(33);
  }
}

.modalClose:hover {
  opacity: 1;
}

.modalVisible {
  z-index: 10001;
  top: 0;
  left: 0;
  visibility: visible;
  background-color: $color-background-overlay;
}

.modalContentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent_AnimationEnterDone {
  transform: translate(0, 0) scale(1, 1);
}

.modalContent_AnimationExitDone {
  transform: translate($modal-origin-x-offset, $modal-origin-y-offset) scale($modal-origin-x-scale, $modal-origin-y-scale);
}

.modalContent {
  transition: $modal-animation-duration;
  transition-timing-function: ease-in-out;
  transform: translate(0, 0) scale(1, 1);
  transform-origin: left top;

  background: transparent;
  box-shadow: none;

  position: relative;
  margin: set-calc(10);
  color: $color-content-primary;

  img {
    position: relative;
    max-width: calc(100vw - 150px);
    max-height: calc(100vh - 150px);
    touch-action: none;
    pointer-events: none;
    will-change: transform;
    cursor: default;
  }
}