@import 'styles/index';

.image {
  position: relative;
  grid-column: span 3;

  width: 100%;
  max-height: set-calc(-60, true, 100vh);
  overflow: hidden;

  padding-bottom: set-calc(72);
  padding-top: set-calc(36);

  @include set-media(md) {
    padding-bottom: set-calc(56);
    padding-top: set-calc(16);
  }
}

h2 + .image,
.image + .image {
  padding-top: 0;

  @include set-media(md) {
    padding-top: 0;
  }
}

.image img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: top left;
}

.imageCaption > * {
  @include s-text-16;

  margin-top: set-calc(8);
}