@import 'styles/index';

._ {
  padding-bottom: set-calc(56);
  @include is-grid-4;

  @include set-media(md) {
    padding-bottom: set-calc(56);
  }
}

.title {
  grid-column: span 3;
  padding-bottom: set-calc(24);
}

.subTitle {
  grid-column: span 2;
  padding-bottom: set-calc(8);
}

.links {
  grid-column: span 3;
  display: flex;

  @include set-media(md) {
    flex-direction: column;
  }

  a:not(:last-child) {
    margin-right: set-calc(24);
  
    @include set-media(md) {
      margin-right: 0;
      margin-bottom: set-calc(8);
    }
  }
}
