@import 'styles/index';

.wrapper {
  margin-bottom: set-calc(80);
  @include is-grid-4;
}

.itemWrapper {
  grid-column: 1 / 3;
  position: relative;

  display: flex;
  flex-direction: column;
}

.itemWrapper:not(:last-child) {
  padding-bottom: set-calc(32);
}

.item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.listDate {
  margin-bottom: set-calc(8);
  
  @include set-media(md) {
    margin-bottom: set-calc(4);
  }
}

.itemTitle {
  position: relative;
  margin-bottom: set-calc(8);
}

.task {
  position: relative;
  margin-top: set-calc(8);
}


.itemLinks {
  position: relative;
  padding-bottom: set-calc(8);

  display: flex;
  align-items: start;
  justify-content: space-between;
}

.itemLink:not(:last-child) {

  &:after {
    content: " · ";
  }
}