@import 'styles/index';

._{
  @include is-grid-4;
}

.list {
  grid-column: 3 / 5;

  margin-top: 0;
  padding-bottom: set-calc(80);
}

.info {
  grid-column: 1 / 3;
  padding: set-calc(calc($s-gap / 2)) 0 set-calc(calc($s-gap));

  border-top: set-calc(calc($s-gap / 2)) solid $black-new;

  @include set-media(md) {
    padding-bottom: set-calc(56);
  }
}
