@import 'styles/index';

._{
  @include is-grid-4;
}

.list {
  grid-column: 3 / 5;

  margin-top: 0;
  padding-bottom: set-calc(80);
}

.info {
  grid-column: 1 / 3;
  padding: set-calc(calc($s-gap / 2)) 0 set-calc(calc($s-gap));

  border-top: set-calc(calc($s-gap / 2)) solid $black-new;

  @include set-media(md) {
    padding-bottom: set-calc(56);
  }
}

.editBar {
  position: absolute;
  top: 0;
  right: set-calc($padding-x-desk-page);
  height: 100vh;
}

.stickyBtnStaff {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;

  position: absolute;
  top: 80%;
  min-height: 25vh;
  width: 0;
  z-index: 9999;
}

.stickyBtnShaftInner {
  position: sticky;
  bottom: set-calc(24);
  right: 0;

  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  }

.stickyBtn {
  background: hsl(107,94%,35%);
  height: set-calc(48);
  padding: set-calc(8) set-calc(24);
  bottom: set-calc(8);
  color: $white;
  border-radius: set-calc(8);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.stickyBtn:hover {
  background: hsl(107,94%,29%);
}

.stickyBtn:not(:last-child) {
  margin-right: set-calc(4);
}