@import 'styles/index';

._ {
  margin-top: set-calc(40);
  padding: set-calc(calc($s-gap / 2)) 0 set-calc(calc($s-gap));

  border-top: set-calc(calc($s-gap / 2)) solid $black-new;
  border-bottom: 0;

  @include is-grid-4;

  @include set-media(md) {
    margin-top: 0;
  }
}

.title {
  grid-column: 1 / 3;
}