@import 'styles/index';

.item {
  position: relative;

  grid-column: 1 / 5;
  padding: set-calc($s-gap) 0 0;
  border-top: set-calc(3) solid $color-content-background-primary;

  &:not(:last-child) {
    padding-bottom: set-calc(80);
  }

  @include set-media(md) {
    border-top: set-calc(2) solid $color-content-background-primary;
  }
}

.info {
  position: unset;
  height: 100%;

  @include is-grid-4;
}

.titleLink {
  grid-column: 1 / 3;
  padding-bottom: 0;
}

.title {
  padding-bottom: set-calc(8);
  @include s-text-56;
}

.date {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 3 / 5;
  color: $grey-inactive;
}

.cover {
  margin-top: set-calc(8);
  position: relative;

  display: flex;
  justify-content: center;
  grid-column: 3 / 5;
  border-radius: set-calc(20);
  overflow: hidden;

  aspect-ratio: 1.4 / 1;

  @include set-media(md) {
    width: 100%;
  }

  img {
    position: relative;

    display: block;
    object-fit: cover;
    width: 100%;

  }
}