@import 'styles/index';

.courseGroup {
  padding-top: 0;
  
  @include is-grid-4;

  @include set-media(md) {
    grid-gap: 0;
  }
}

.courseGroupTitle {
  grid-column: span 4;
  padding-bottom: set-calc($s-gap);
}