@import 'styles/index';

._ {
  width: set-calc(700);
  position: relative;

  @include set-media(md) {
    width: 100%;
  }
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: set-calc(1) solid $border;
  border-radius: set-calc($border-radius-medium);
  z-index: 100;
  margin-top: set-calc(64);
  width: set-calc(764);
  left: set-calc(-32);
  padding: set-calc(32);


  @include set-media(md) {
    width: set-calc(398);
    left: set-calc(-16);
  }
}

.nav {
  position: sticky;
  top: 0;
  background-color: transparent;
  margin-top: set-calc(16);

  display: flex;
  justify-content: end;
  width: 100%;

  @include set-media(md) {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 set-calc(16) 0 0;
  padding: set-calc(4) set-calc(24);
  border-radius: set-calc(15);
  width: 100%;

  color: $color-accent-error;
  white-space: pre-line;
  text-align: center;

  background-color: $pastelPink;
}

.submit {
  margin-bottom: set-calc(16);
  margin-top: set-calc(16);
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: end;

  @include set-media(md) {
    width: 100%;
  }
}

.submitBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: set-calc(132);

  user-select: none;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
  transition-property: transform, background-color, border-color, color;
  border: none;
  outline: none;
  
  padding: 0 set-calc(16);
  height: set-calc(50);

  color: $color-content-inverted-primary;

  background: $color-accent-neutral;
  border-radius: set-calc($border-radius-small);
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  @include set-media(md) {
    width: fit-content;
  }
}

.submitBtn:hover {
  background-color: $color-accent-neutral-hover;
}

.isDisabled {
  color: $color-content-tertiary;
  background: $color-background-glassy-a;

  pointer-events: none;
}

.submitDescription {
  margin-top: set-calc(8);
  color: $grey;

  @include set-media(md) {
    width: 100%;
    text-align: center;
  }
}

.inner {
  position: relative;
  width: 100%;
  display: flex;

  @include set-media(md) {
    flex-direction: column;
  }
}

.fields {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.fieldsTitle {

}

.fieldsInner {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.files {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;

  @include set-media(md) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.filesHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: set-calc(56);

  @include set-media(md) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
}

.filesTitle {
  @include set-media(md) {
    padding-bottom: set-calc(32);
  }
}

.filesBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: set-calc(48);
  padding: set-calc(4) set-calc(40);

  color: $color-content-background-primary;
  text-align: center;

  border: set-calc(2) solid $color-content-background-primary;
  border-radius: set-calc(20);

  cursor: pointer;
  transition: opacity, color;
  transition-duration: $d-hover;
}

.filesBtn:hover {
  opacity: 0.5;
}

.filesContent {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.file {
  position: relative;
  width: set-calc(-20, true, 50%);
  margin: 0 set-calc(20) set-calc(20) 0;

  @include set-media(md) {
    width: 100%;
    margin-right: 0;
  }
}

.filesEmpty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: set-calc(200);
  margin: 0 auto;
  width: 100%;
  margin-bottom: set-calc(20);
  border-radius: set-calc(20);

  background-color: $beige;

  color: $grey;
  text-align: center;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;
}

.filesEmpty:hover {
  background-color: $beige-dark;
  color: $grey-inactive;
  cursor: pointer;
}

.filesEmpty svg {
  width: set-calc(64);
  height: set-calc(64);
  margin-bottom: set-calc(8);

  path {
    stroke: $grey-inactive;
    stroke-width: 3;
  }
}