@import 'styles/index';

.__ {

  display: none;

  @include set-media(md) {
    display: block;
    position: fixed;
    z-index: 600;
    bottom: set-calc(16);
    width: 100%;
    padding: 0 set-calc(32);
    text-align: center;
    background-color: transparent;
    transition: .3s ease;
    will-change: transform;
  }


}

.btnLink {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-palette-blue-500-a;
  backdrop-filter: blur(set-calc($backdrop-filter));

  @include font-24-normal-ui ;
  color: $color-palette-white-1000;

  border-radius: set-calc($border-radius-large);
  padding: set-calc(10) set-calc(48);
  height: set-calc(60);
}