@import 'styles/index';

.item {
  position: relative;
  
  display: flex;
  flex-direction: column;
  width: calc(33.3% - set-calc(16));

  border-radius: set-calc($border-radius-20);
  border: 1px solid var(--color-card-border);
  background-color: var(--color-background-default);
  padding: set-calc(24);

  @include set-media(md) {
    width: 100%;
    padding: set-calc(16);
  }
}

.ratingStars {
  display: flex;
  align-items: center;

  margin-bottom: set-calc(16);
}

.ratingStar {
  width: set-calc(24);
  height: set-calc(24);
  color: $color-highlight-gold;
  -webkit-tap-highlight-color: transparent;

  svg {
    width: 100%;
    fill: currentColor;
  }
}

.feedbackAuthor {
  position: relative;

  display: flex;
  flex-direction: column;
  color: var(--color-content-paragraph-primary);

  @include set-typography(14, 22, 500);

  span {
    font-family: $font-family-bold;
    color: var(--color-content-primary);
  }

  @include set-media(md) {
  }
}

.feedbackQuote {
  @include set-typography(16, 26, 500);
  color: var(--color-content-paragraph-primary);
  overflow: hidden;

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }
}