@import 'styles/index';

.header {
  position: relative;

  @include is-grid-12;
  grid-row-gap: 0;

  padding: 0 set-calc(16);
  margin-bottom: set-calc(32);

  @include set-media(md) {
    position: relative;

    display: block;
    margin-bottom: set-calc(24);
    padding: 0 set-calc($padding-xs-mob-page);
  }
}

.header__title {
  grid-column: 1 / 7;
  margin-bottom: set-calc(24);

  @include font-56-normal-header;
  font-family: $font-family-extra-bold;

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.header__desc {
  grid-column: 1 / 9;

  @include font-20-normal-paragraph;
}

.animationWrapper {
  // width: 100000px;
  // transform: translateX(0px);
  // animation: 42.116667s linear infinite marqueeAnimation;

  // gap: set-calc(16);

  // -webkit-backface-visibility: hidden;

  display: flex;
  flex-direction: row;

  @include set-media(md) {
    width: 100%;
    transform: none;
    animation: none;
    gap: 8;

    flex-direction: column;
  }
}

.cardsWrapper {
  display: flex;
  gap: set-calc(20);

  @include set-media(md) {
    position: relative;
    
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;

    width: set-calc(16, true, 100%);
    left: set-calc(-8);
    padding: 0 set-calc(8) 0;

    gap: set-calc(12);
  }
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: set-calc(400);
}