@import 'styles/index';

.contentWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: set-calc(10);
  @include font-18-normal-paragraph;
  color: var(--color-content-primary);

  padding: set-calc(32);
  width: set-calc(480);

  @include set-media(md) {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: fill-available;

    padding: set-calc(24);
    width: 100%;
  }
}

.close {
  @include btn;
  @include icon-button-40;
  @include icon-button-invisible;

  position: absolute;
  top: set-calc(16);
  right: set-calc(16);

  z-index: 1;

  @include set-media(md) {
    top: 0;
    right: 0;

    background-color: transparent;
    padding: set-calc(24);

    &:active,
    &:hover {
      background-color: transparent;
    }
  }
}

.header {
  margin: 0 0 set-calc(30);
}

.title {
  @include set-typography(24, 30, 500);
  font-family: $font-family-medium;

  &_start {
    align-self: start;
    max-width: 92%;
  }

  &_center {
    text-align: center;
  }
}

.title:not(:last-child) {
  margin-bottom: set-calc(24);
  
  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}
