@import 'styles/index';

._ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include s-text-21;

  @include set-media(md) {
    transition: top 0.5s, transform 0.5s;

    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;

    @include set-typography(20, 28, 500);
  }

  @include set-media(md) {
    width: 0;

    &[data-is-mobile-menu-opened="true"] {
      width: 100%;
    }
  }
}

.desc {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: set-calc(8) set-calc($padding-x-desk-page) set-calc(16);
  background-color: $white;

  @include is-grid-12;
  gap: 0;

  @include set-media(md) {
    width: max-content;
    padding: set-calc(8) set-calc($padding-x-mob-page) set-calc(8);
    background-color: transparent;

    .logo {
      display: none;
    }
  }
}

.logo {
  grid-column: span 3;
  padding-top: set-calc(4);

  @include set-media(md) {
    position: relative;
    display: block;
    padding-top: 0;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: transparent;
  border: set-calc(1.5) solid $black-new;
  max-width: fit-content;
  color: $black;
  padding: set-calc(4) set-calc(32);
  border-radius: 0;

  transition: background-color $d-hover ease;
  
  &:hover {
    cursor: pointer;
    background-color: $black-new;
    color: $white;
  }

  @include set-media(md) {
    border: set-calc(1.3) solid $black-new;
  }
}

.nav {
  grid-column: 4/12;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: set-calc(4);

  @include set-media(md) {
    display: none;
  }
}

.navItem:not(:last-child) {
  padding-right: set-calc(24);
}

.navLogin {
  grid-column: 12;

  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: set-calc(1.5) solid $black-new;
  color: $black;
  padding: set-calc(4) set-calc(16);
  border-radius: set-calc(30);

  transition: background-color $d-hover ease;
  
  &:hover {
    cursor: pointer;
    background-color: $black-new;
    color: $white;
  }

  @include set-media(md) {
    display: none;
  }
}

.humburger {
  display: none;

  @include set-media(md) {
    display: block;
    position: relative;
    width: set-calc(44);
    height: set-calc(44);

    background: url("./menu.svg") no-repeat;
    background-size: contain;
    opacity: 1;
    cursor: pointer;
  }
}

.mob {
  transition: $d-hover opacity;
  padding: 0 set-calc($padding-x-mob-page) 0;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: end;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  background-color: $white;

  &MenuMain {
    .mobItem {
      padding: set-calc(24) 0;
      display: flex;
      justify-content: start;
      border-bottom: set-calc(2) solid $black-new;
    }
  }

  &MenuControls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loginBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: set-calc(68);
  margin: set-calc(40) 0 set-calc(16);
  border-radius: 0;
  border: set-calc(2) solid $black;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;

  &:active {
    opacity: 0.9;
  }
}

.IsMobileMenuOpened {
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 1000;

  .mob {
    display: flex;
  }

  .desc {
    background-color: $white;
  }

  .humburger {
    display: block;
    position: relative;
    width: set-calc(44);
    height: set-calc(44);

    background: url("./menu-close.svg") no-repeat;
    opacity: 1;
    background-size: contain;
    cursor: pointer;
  }
}

.isActive {
  color: $blue !important;
}
