@import 'styles/index';

._ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @include set-typography(18, 24, 500);

  @include set-media(md) {
    position: absolute;
    top: 0;
    left: 0;
    
    transition: top 0.5s, transform 0.5s;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    @include set-typography(20, 28, 500);
  }
}

.desc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: set-calc(4) set-calc($padding-x-desk-page) set-calc(8);
  background-color: $white;

  @include is-grid-12;

  @include set-media(md) {
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 0;
    align-items: center;
    padding: set-calc(8) set-calc($padding-x-mob-page) set-calc(8);
    background-color: transparent;

    .logo {
      visibility: hidden;
    }
  }
}

.desc::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 106px);
  height: 20px;
  z-index: 800;
  background: url('./left-conner.png') 0 100% / 20px 20px no-repeat, url('./right-corner.png') 100% 0 / 20px 20px no-repeat;

  @include set-media(md) {
    display: none;
  }
}

.logo {
  grid-column: span 1;

  @include set-media(md) {
    position: relative;
    display: block;
    padding-top: 0;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  a:hover {
      opacity: 0.5;
      cursor: pointer;
  }
}

.nav {
  grid-column: 2/12;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: set-calc(4);

  @include set-media(md) {
    display: none;
  }
}

.navItem:not(:last-child) {
  padding-right: set-calc(24);
}

.navLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: set-calc(4);
  grid-column: 12;

  @include set-media(md) {
    display: none;
  }
}

.humburger {
  display: none;

  @include set-media(md) {
    display: block;
    position: relative;
    width: set-calc(44);
    height: set-calc(44);

    background: url("./menu.svg") no-repeat;
    background-size: contain;
    opacity: 0.4;
    cursor: pointer;
  }
}

.mob {
  transition: $d-hover opacity;
  padding: 0 set-calc($padding-x-mob-page) 0;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: end;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  background-color: $white;

  &MenuMain {
    .mobItem {
      padding: set-calc(24) 0;
      display: flex;
      justify-content: start;
      border-bottom: set-calc(calc($s-gap/2)) solid $black-new;
    }
  }

  &MenuControls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loginBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $white;
  height: set-calc(68);
  margin: set-calc(40) 0 set-calc(16);
  background-color: $black-new;
  border-radius: set-calc(20);
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, opacity 0.2s;

  &:active {
    opacity: 0.9;
  }
}

.IsMobileMenuOpened {
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 1000;

  .mob {
    display: flex;
  }

  .desc {
    background-color: $white;
  }

  .logo {
    visibility: hidden;
  }

  .humburger {
    display: block;
    position: relative;
    width: set-calc(44);
    height: set-calc(44);

    background: url("./menu-close.svg") no-repeat;
    opacity: 1;
    background-size: contain;
    cursor: pointer;
  }
}

.isActive {
  color: $orange !important;
}
