@import 'styles/index';

.__ {
  position: sticky;
  position: -webkit-sticky; 
  top: 0;
  z-index: 500;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @include set-typography(16, 16, 500);
  font-family: $font-family-regular;
  color: var(--color-content-inverted-primary);
}

.desk {
  @include is-grid-12;
  width: 100%;
  gap: 0;

  border-bottom: 1px solid var(--color-border);
  background-color: transparent;
  backdrop-filter: blur(set-calc(15));

  @include set-media(md) {
    position: relative;
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;

    grid-gap: set-calc(16);
  }
}

.deskPaddingWEB {
  margin: set-calc(8) set-calc($padding-x-desk-page) 0;
  padding: set-calc(16) set-calc(16);

  background-color: var(--color-background-glassy-inverted-d);
  border-radius: set-calc(calc(78 / 2));
  border: 1px solid var(--color-border);
  
  .navContent,
  .navLogin {
    @include button-small;
  }

  @include set-media(md) {
    margin: 0 0 0;
    padding: set-calc(12) set-calc($padding-xs-mob-page);

    border-radius: 0;

    .navContent,
    .navLogin {
      @include button-extra-small;
    }
  }
}

.deskPaddingLMS {
  padding: set-calc(12) set-calc(24);
  backdrop-filter: blur(set-calc(0));
  border-bottom: 1px solid transparent;

  .navContent,
  .navLogin {
    @include button-extra-small;
  }

  .logoWrapper {
    display: none;
  }

  @include set-media(md) {
    background-color: transparent;
    backdrop-filter: blur(set-calc(0));
    border-bottom: 1px solid transparent;

    padding: set-calc(12) set-calc($padding-x-mob-page);

    .logoWrapper {
      display: flex;
    }
  }
}

.logoWrapper {
  grid-column: 1 / 5;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: start;

  cursor: pointer;

  div {
    @include set-typography(22, 22, 500);
    color: var(--color-content-primary);
    font-family: $font-family-highlight-bold;

    margin-top: set-calc(4);

    @include set-media(md) {
      @include set-typography(20, 20, 500);
    }
  }

  svg {
    height: set-calc(36);
    padding: set-calc(4);

    margin-right: set-calc(4);
  }
}

.nav {
  grid-column: 5 / -1;
  position: relative;

  display: flex;
  align-items: baseline;
  justify-content: end;

  @include set-media(md) {
    width: 100%;
    justify-content: space-between;
  }
}

.navItem {
   height: 100%;

   &:not(:first-child) {
    margin-left: set-calc(8);
  
    @include set-media(md) {
      margin-left: set-calc(8);
    }
  }
}

.navMob {
  display: flex;
  gap: set-calc(6);
}

.userSettingsWrapper {
  display: none;

  @include set-media(md) {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-card);
    border-radius: set-calc($border-radius-6);
    border: set-calc(1) solid var(--color-border);
    box-shadow: $shadow-small-default;
  }
}

.open {
  z-index: 10000;
}

.userSettings {
  display: none;

  @include set-media(md) {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: set-calc(8);
  
    svg {
      width: set-calc(24);
      height: set-calc(24);
  
      color: var(--color-content-paragraph-primary);
    }
  }
}

.navLogin {
  @include btn;
  @include button-extra-small;

  background-color: var(--color-background-glassy-c);
  color: var(--color-content-primary);
  font-family: $font-family-regular;

  width: max-content;

  &:hover {
    background-color: var(--primary-color-hover);
    color: $color-content-inverted-primary-light;
  }

  @include set-media(md) {
    margin-left: auto;

    &:hover {
      background-color: var(--color-background-glassy-c);
      color: var(--color-content-primary);
    }
  }
}

.navBuy {
  display: block;
  position: relative;
}

.buyBtn {
  @include btn;
  @include button-extra-small;

  color: $color-content-primary-light;
  background-color: $color-highlight-yellow;

  width: max-content;

  &:hover {
    background-color: $color-highlight-yellow-hover;
  }

  @include set-media(md) {
    &:hover {
      background-color: $color-highlight-yellow;
    }
  }
}

.navContent {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 set-calc(16);
  color: var(--color-content-primary);

  width: max-content;
  gap: set-calc(4);

  transition: all $d-hover ease;
  
  .selectToggleIcon svg {
    fill: currentColor;
  }

  @include set-media(md) {
    display: none;
  }
}

.selectToggleContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selectToggleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: set-calc(16);


  transition: all $d-hover ease;

  svg {
    transition: all $d-hover ease;
    
    display: inline-block;
    text-align: center;
    width: set-calc(16);
    height: set-calc(16);
    background: 50% no-repeat;
    background-size: contain;

    fill: var(--color-content-primary);
  }
}

.selectToggleIsOpened {
  svg {
    transform: rotate(180deg);
  }
}

.__Hidden {
  // transform: translateY(-100%);

  .desk {
    border-bottom: 1px solid var(--border);
  }

    @include set-media(md) {
      // transform: none;

      // .desk {
      //   transform: none;
      //   transform: translateY(-100%);
      // }
    }
}

.isActive {
  color: var(--primary-color) !important;
}
