@import 'styles/index';

.wrapper {
  padding-top: 0;

  @include set-media(md) {
    padding-top: 0;
  }
}

.headerTitle {
  margin: 0 0 set-calc(24);
  padding-left: set-calc(8);

  @include font-24-normal-header;
  font-family: $font-family-bold;
  color: var(--color-content-primary);

  @include set-media(md) {
    margin: 0 0 set-calc(24) set-calc(8);
    padding-left: set-calc(0);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: set-calc(16);

  @include set-media(md) {
    flex-direction: column;
    gap: set-calc(8);
  }
}