@import 'styles/index';

._ {
  grid-column: span 4;
  align-items: start;
  padding-left: set-calc(16);

  @include is-grid-12;

  @include set-media(md) {
    align-items: start;
    flex-direction: column-reverse;
    padding-left: set-calc(0);
  }
}

._:not(:last-child) {
  padding-bottom: set-calc(24);

  @include set-media(md) {
    padding-bottom: set-calc(32);
  }
}

.feedbackAuthor {
  position: relative;

  display: flex;
  flex-direction: column;
  grid-column: span 2;
  padding-top: set-calc(8);

  @include set-media(md) {
    padding-top: set-calc(8);
    padding-left: set-calc(16);
  }
}

.feedbackQuote {
  padding: set-calc(24);
  background-color: $color-content-inverted-secondary;
  border: set-calc(1.5) solid $color-background-default;
  box-shadow: $shadow-huge-default;
  border-radius: set-calc($border-radius-medium);
  overflow: hidden;
  grid-column: 3 / 9;

  p {
    @include s-text-21;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }

  @include set-media(md) {
    padding: set-calc(16);
  }
}

.feedbackExcerpt {
  grid-column: 10 / -1;
  padding-right: set-calc(24);
  padding-top: set-calc(8);

  @include set-media(md) {
    display: none;
  }
}