@import 'styles/index';

._ {
  grid-column: span 4;
  align-items: start;
  padding-left: set-calc(16);

  @include is-grid-12;

  @include set-media(md) {
    align-items: start;
    flex-direction: column-reverse;
    padding-left: set-calc(0);
  }
}

._:not(:last-child) {
  padding-bottom: set-calc(24);

  @include set-media(md) {
    padding-bottom: set-calc(32);
  }
}

.feedbackAuthor {
  position: relative;

  display: flex;
  flex-direction: column;
  grid-column: span 2;

  @include font-18-normal-paragraph;
  padding-top: set-calc(8);

  @include set-media(md) {
    padding-top: set-calc(8);
    padding-left: set-calc(16);
  }
}

.feedbackQuote {
  grid-column: 3 / 9;

  border: set-calc(1) solid $color-background-default;
  border-radius: set-calc($border-radius-medium);
  background-color: $color-content-inverted-secondary;
  box-shadow: $shadow-huge-default;

  @include font-21-normal-paragraph;
  color: $color-content-paragraph-primary;
  padding: set-calc(24);

  overflow: hidden;

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }

  @include set-media(md) {
    padding: set-calc(16);
  }
}

.feedbackExcerpt {
  grid-column: 10 / -1;

  @include font-28-normal-header;
  padding-right: set-calc(24);
  padding-top: set-calc(8);

  @include set-media(md) {
    display: none;
  }
}