@import 'styles/index';

.wrapper {
  @include btn;
  flex-direction: column;

  width: set-calc(280);
  min-height: set-calc(380);

  border: 1px solid var(--color-card-border);
  border-radius: set-calc($border-radius-20);
  background: var(--color-card);

  padding: set-calc(32);
  gap: set-calc(24);

  &:hover {
    .btn {
      background-color: var(--color-content-background-primary);
      color: var(--color-content-inverted-primary);
    }
  }

  @include set-media(md) {
    padding: set-calc(24);

    width: set-calc(280);
    min-height: set-calc(320);

    &:hover {
      .btn {
        background-color: transparent;
        color: var(--color-content-primary);
      }
    }
  }
}

.icon {
  order: 1;

  padding: set-calc(16);
  background-color: var(--color-background-glassy-b);
  border-radius: 50%;

  svg {
    display: block;
    width: set-calc(100);
    height: set-calc(100);
    color: inherit;
  }
  
  @include set-media(md) {
    order: 1;
    justify-content: flex-start;
    align-items: start;

    margin-top: set-calc(10);
    margin-bottom: set-calc(10);

    svg {
      width: set-calc(88);
      height: set-calc(88);
    }
  }
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  order: 2;

  @include set-media(md) {
    align-items: start;
    order: 2;
  }
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;

  text-align: center;

  @include set-typography(20, 26, 500);
  color: var(--color-content-primary);
  font-family: $font-family-bold;

  margin-bottom: set-calc(10);

  @include set-media(md) {
    @include set-typography(18, 22, 500);
  }
}

.meta {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  p {
    position: relative;

    @include set-typography(13, 18, 500);
    color: var(--color-content-tertiary);
    text-align: center;
  }

  p:not(:last-child) {
    margin-right: set-calc(20);

    &::after {
      content: "";
      position: absolute;
      right: set-calc(-10);
      top: 50%;
    
      width: set-calc(3);
      height: set-calc(3);
      border-radius: 50%;
      background-color: var(--color-content-tertiary);
      transform: translate3d(0, -50%, 0);
    }
  }
}

.btn {
  @include btn;
  @include button-small;
  @include button-outline(var(--color-content-primary));

  margin-top: auto;
  width: 100%;
  order: 3;
}