@import 'styles/index';

.__ {
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: set-calc($border-radius-medium);
  color: $color-palette-white-1000;
  ;
  min-height: set-calc(300);

  transition: transform .2s ease, box-shadow .2s;
  box-shadow: none;
  transform-origin: center center;


  &:hover {
    .background {
      box-shadow: $shadow-medium-hovered;
      cursor: pointer;
      transform: scale(1.02);
    }
  }
}


.preview {
  position: relative;

  width: 100%;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);

  aspect-ratio: 1.4 / 1;

  img {
    position: absolute;
    inset: 0;
  
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.previewLink {
  position: absolute;
  inset: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: set-calc(24);
  cursor: pointer;
  
  @include set-media(md) {
    padding: set-calc(16);
    margin-bottom: 0;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform .2s ease, box-shadow .2s;
  box-shadow: none;
  transform-origin: center center;
}

.info {
  margin-bottom: set-calc(16);
  padding: set-calc(2) set-calc($padding-x-mob-page);
  width: fit-content;
  z-index: 1;

  border-radius: set-calc($border-radius-large);
  background-color: $color-palette-white-300-a;
}

.title {
  margin-bottom: set-calc(4);
  z-index: 1;

  @include set-media(md) {
    margin-bottom: set-calc(4);
  }
}


.description {
  padding-right: set-calc(16);
  z-index: 1;

  @include set-media(md) {
    margin-bottom: set-calc(32);
  }
}

.actions {
  display: none;

  @include set-media(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-bottom: set-calc(24);
  }
}

.actionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  background-color: $color-background-default;
  color: $color-content-background-primary;
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  width: max-content;
  padding: set-calc(8) set-calc(40);

  @include set-media(md) {
    flex: 1 1 max-content;
    padding: set-calc(12) set-calc(80);
    border-radius: set-calc($border-radius-medium);
  }

  &:hover {
    background-color: $color-content-background-primary;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transition: transform .2s ease, box-shadow .2s;
  box-shadow: none;
  transform-origin: center center;

  background: $gradient-background-red-rose;
  border-radius: set-calc($border-radius-medium);
}