@import 'styles/index';

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 70%;

  @include set-media(md) {
    width: set-calc(-16, true, 100%);
    
    margin: 0 set-calc(8);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;

  margin: 0 auto set-calc(40);

  @include set-media(md) {
    margin: 0 auto set-calc(32);

    width: 100%;
  }
}

.header__title {
  @include set-typography(28, 40, 500);
  font-family: $font-family-medium;
  text-align: center;

  @include set-media(md) {
    @include set-typography(28, 38, 500);
  }
}

.btn {
  @include btn;
  @include button-3d($color-palette-brand-300, $color-palette-brand-300, $color-palette-brand-400, $color-palette-brand-400, 0.9, 4px);
  @include rounded(150);

  width: max-content;
  height: set-calc(150);

  padding: 0 set-calc(80);


  @include set-typography(40, 40, 500);
  color: $color-content-inverted-primary-light;
  font-family: $font-family-bold;

  @include set-media(md) {
    @include btn;
    @include button-large;
    @include button-3d($color-palette-brand-300, $color-palette-brand-300, $color-palette-brand-400, $color-palette-brand-400, 0.9, 2px);

    width: 100%;
  }
}