@import 'styles/index';

.__ {
}

.header {
  position: relative;
  display: flex;
  justify-content: center;

  width: 68%;

  margin: 0 auto set-calc(80);

  padding-left: set-calc(16);

  @include set-media(md) {
    margin: 0 auto set-calc(40);
    padding-left: set-calc(8);

    width: 100%;
  }
}

.headerTitle {
  @include font-56-normal-header;
  font-family: $font-family-extra-bold;
  padding: 0 set-calc(16);

  @include set-media(md) {
    position: relative;

    display: block;
    padding: 0 set-calc($padding-xs-mob-page);
  }
}

.commonFlowRow {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  margin: 0 auto;
  width: 70%;

  gap: set-calc(40);

  @include set-media(md) {
    width: 100%;
    gap: 0;
  }
}

.btn {
  @include btn;
  @include button-2d($color-palette-brand-300, $color-palette-brand-300, $color-palette-brand-400, $color-palette-brand-400, 0.9, 4px);
  @include rounded(150);

  width: max-content;
  height: set-calc(150);

  padding: 0 set-calc(80);


  @include set-typography(40, 40, 500);
  color: $color-content-inverted-primary-light;
  font-family: $font-family-bold;

  @include set-media(md) {
    @include button-2d($color-palette-brand-300, $color-palette-brand-300, $color-palette-brand-400, $color-palette-brand-400, 0.9, 2px);
    @include rounded(60);

    padding: 0 set-calc(16);
    height: set-calc(60);

    @include set-typography(18, 18, 500);
    font-family: $font-family-medium;
  }
}