@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: set-calc(16);

  @include set-media(md) {
    gap: set-calc(8);
  }
}

.wrapper:not(:last-child) {
  margin-bottom: set-calc(40);
}

.itemWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.item {
  @include btn;
  
  position: relative;

  display: flex;
  align-items: center;
  height: set-calc(100);
  width: 100%;

  gap: set-calc(20);

  padding: set-calc(20);

  cursor: pointer;
  border-radius: set-calc($border-radius-20);

  box-shadow: inset 0 0 0 1px var(--border);
  text-align: left;

  &:hover {
    background-color: var(--color-background-glassy-b);
    box-shadow: inset 0 0 0 2px var(--border);
  }

  &:active {
    transform: scale(0.99);
  }

  @include set-media(md) {
    gap: set-calc(16);
    height: set-calc(110);
    padding: set-calc(16);

    &:hover {
      background-color: transparent;
    }

    &:active {
      transform: scale(1);
    }
  }
}

.featured:after {
  content: "";
  position: absolute;
  top: set-calc(-2);
  bottom: set-calc(-2);
  left: set-calc(-2);
  right: set-calc(-2);
  border: 4px solid var(--primary-color);
  border-radius: inherit;
}

.featured:hover {
  box-shadow: none;
  background-color: var(--color-background-glassy-d);
}

.featured {
  .itemPopover {
    opacity: 1;
    pointer-events: all;
    transform: translate3d(-50%, 0, 0) scale(1);
  }
}

.itemPopover {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: auto;
  bottom: calc(100% - 6px);
  left: 50%;
  z-index: 3;

  color: $color-content-inverted-primary-light;
  @include font-16-normal-ui;
  font-family: $font-family-medium;


  box-shadow: 0 0 32px var(--black-300-constant);
  background: var(--primary-color);
  opacity: 0;

  cursor: pointer;

  padding: set-calc(14) set-calc(14);
  width: auto;
  border-radius: set-calc($border-radius-12);

  animation: itemPopover 1.6s linear infinite;

  transform: translate3d(-50%, 0, 0) scale(.25);
  transition: opacity .2s cubic-bezier(.25,.01,.25,1) 0s, transform .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.itemPopover::before {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;

  width: set-calc(14);
  height: set-calc(14);
  content: "";
  border: 2px solid var(--primary-color);
  border-radius: set-calc(3) 0;
  background: var(--primary-color);
  transform: translate3d(-50%, calc(50% - 1px), 0) rotate(45deg);
  box-sizing: border-box;
}

.itemBody {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  text-align: left;
  cursor: pointer;
}

.itemStatus {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  width: set-calc(24);
  height: set-calc(24);

  border-radius: 50%;
  background-color: var(--color-background-glassy-d);

  svg {
    width: set-calc(24);
    height: set-calc(24);
    color: var(--color-content-inverted-primary);
  }
}

.solved {
  background-color: var(--color-accent-success);
}

.itemBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include set-media(md) {
    justify-content: start;
  }
}

.titleContainer {
  margin-bottom: set-calc(6);

  @include set-media(md) {
    margin-bottom: set-calc(6);
  }
}

.title {
  margin: 0;

  color: var(--color-content-primary);
  font-family: $font-family-medium;
  @include set-typography(18, 28, 500);

  @include set-media(md) {
    font-family: $font-family-bold;
    @include set-typography(16, 20, 500);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoMain {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.infoItem {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: set-calc(4);

  transition: opacity 0.3s;
  opacity: 1;

  @include set-typography(13, 18, 500);
  color: var(--color-content-paragraph-secondary);

  @include set-media(md) {
    @include set-typography(12, 18, 500);
  }
}

.infoItem:not(:last-child) {
  text-align: center;
  margin-right: set-calc(20);

  @include set-media(md) {
    margin-right: set-calc(16);
  }
}

.infoItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: set-calc(-10);
  top: 50%;

  width: set-calc(3);
  height: set-calc(3);
  border-radius: 50%;
  background-color: var(--color-content-secondary);
  transform: translate3d(0, -50%, 0);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: set-calc(48);
    aspect-ratio: auto 1;
  }
}

.task {
  position: relative;
  margin-top: set-calc(8);
}


.itemLinks {
  position: relative;
  padding-bottom: set-calc(8);

  display: flex;
  align-items: start;
  justify-content: space-between;
}

.itemLink:not(:last-child) {

  &:after {
    content: " · ";
  }
}