@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: set-calc(16);

  @include set-media(md) {
    gap: set-calc(8);
  }
}

.wrapper:not(:last-child) {
  margin-bottom: set-calc(40);
}

.itemWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.item {
  position: relative;

  display: flex;
  align-items: center;
  height: set-calc(100);
  width: 100%;

  gap: set-calc(20);

  padding: set-calc(20);
  margin: 0;
  border: none;

  cursor: pointer;
  transition-property: transform, box-shadow;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  border-radius: set-calc($border-radius-medium);

  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--border);
  text-align: left;

  @include set-media(md) {
    gap: set-calc(16);
    height: set-calc(110);

    padding: set-calc(16);
    
    .infoItem {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    transform: translateY(set-calc(-4));

    .infoItem {
      opacity: 1;
    }

    @include set-media(md) {
      box-shadow: none;
      transform: none;
    }
  }
}

.itemBody {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  text-align: left;
  cursor: pointer;
}

.itemStatus {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  width: set-calc(24);
  height: set-calc(24);

  border-radius: 50%;
  background-color: var(--color-background-glassy-d);

  svg {
    width: set-calc(24);
    height: set-calc(24);
    color: $color-content-inverted-primary-light;
  }
}

.solved {
  background-color: var(--primary-color);
}

.itemBodyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  @include set-media(md) {
    justify-content: start;
    flex: 0;
  }
}

.titleContainer {
  margin-bottom: set-calc(10);

  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}

.title {
  margin: 0;

  color: var(--color-content-primary);
  font-family: $font-family-medium;
  @include set-typography(18, 28, 500);

  @include set-media(md) {
    @include set-typography(18, 22, 500);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoMain {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.infoItem {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: set-calc(4);

  transition: opacity 0.3s;
  opacity: 1;

  @include font-14-normal-ui;
  color: var(--color-content-secondary);
}

.infoItem:not(:last-child) {
  text-align: center;
  margin-right: set-calc(20);
}

.infoItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: set-calc(-10);
  top: 50%;

  width: set-calc(3);
  height: set-calc(3);
  border-radius: 50%;
  background-color: var(--color-content-paragraph-secondary);
  transform: translate3d(0, -50%, 0);
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: set-calc(48);
    aspect-ratio: auto 1;
  }
}

.task {
  position: relative;
  margin-top: set-calc(8);
}


.itemLinks {
  position: relative;
  padding-bottom: set-calc(8);

  display: flex;
  align-items: start;
  justify-content: space-between;
}

.itemLink:not(:last-child) {

  &:after {
    content: " · ";
  }
}