@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);
  background: $color-palette-indigo-100;
  border: set-calc(1) solid var(--color-border);

  @include set-media(md) {
    position: relative;
    border: set-calc(1) solid var(--color-border);
  }
}

.inner {
  position: relative;

  @include is-grid-4;
  gap: set-calc(8);

  overflow: hidden;
  min-height: 75vh;

  padding: set-calc(32);
  border-radius: set-calc($border-radius-medium);
  @include is-grid-4;
  color: $matt-white;

  @include set-media(md) {
    padding: set-calc(16);
    min-height: 45vh;
    color: var(--color-content-primary);
    border-radius: 0;
  }
}

.info {
  position: relative;
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include set-media(md) {
    padding: 0 0 0;
    align-items: center;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: set-calc(24);

  @include set-media(md) {
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
  }
}

.bottomContent {
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  padding-inline: set-calc(24);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  max-width: set-calc(620);

  & > div:not(:last-child) {
    margin-right: set-calc(4);
  }

  @include set-media(md) {
    padding: set-calc(4) 0 set-calc(8);
    justify-content: flex-start;
  }
}

.categoriesItem {
  display: flex;
  justify-content: center;
  align-items: center;

  @include font-18-normal-ui;
  color: $color-palette-indigo-600;
  padding: set-calc(6) set-calc(24);
  background-color: $color-palette-indigo-200;
  
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    height: set-calc(30);
    padding: 0 set-calc(12);
  }
}

.title {
  @include set-typography(120, 90, 500);
  padding-bottom: set-calc(32);
  
  color: $color-content-primary-light;

  @include set-media(md) {

    @include font-88-normal-header;
    padding-bottom: set-calc(16);
  }
}

.block {
  max-width: set-calc(550);
  padding-bottom: set-calc(16);

  @include font-21-normal-paragraph;
  color: $color-content-primary-light;

  white-space: pre-line;

  @include set-media(md) {
    padding: 0 0 set-calc(16);

    max-width: 90%;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;

  @include set-media(md) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

}

.actionsBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: set-calc($border-radius-30);
  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  background: var(--primary-color);

  @include font-21-normal-ui;

  padding: set-calc(20) set-calc(32);
  height: set-calc(60);

  @include set-media(md) {
    display: none;
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
  }

  .text {
    z-index: 200;
    color: $color-content-inverted-primary-light;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    opacity: 0.9
  }
}

.cover {
  grid-column: span 2;
  position: relative;

  display: block;
  align-self: stretch;
  justify-self: stretch;
  border-radius: set-calc($border-radius-medium);
  overflow: hidden;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;

  //   @include set-media(md) {
  //     background: transparent;
  //   }
  // }

  @include set-media(md) {
    position: relative;
    width: 100%;
    padding-left: 0;
  }
}

.cover img {
  width: 100%;
  object-fit: cover;
  border-radius: set-calc($border-radius-medium);
}