@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);
  background-color: $color-palette-black-900;

  @include set-media(md) {
    position: relative;
    background-color: transparent;
  }
}

.inner {
  position: relative;

  @include is-grid-4;
  gap: set-calc(8);

  overflow: hidden;
  height: 75vh;

  padding: set-calc(24) set-calc(24);
  border-radius: set-calc($border-radius-medium);
  @include is-grid-4;
  color: $matt-white;

  @include set-media(md) {
    padding: 0;
    height: 100vh;
    color: var(--color-content-primary);
  }
}

.info {
  position: relative;
  grid-column: span 2;
  z-index: 300;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include set-media(md) {
    padding: 0 0 0;
    align-items: center;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: set-calc(24);

  @include set-media(md) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: set-calc(8);
  }
}

.bottomContent {
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  padding-inline: set-calc(24);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  max-width: set-calc(620);

  & > div:not(:last-child) {
    margin-right: set-calc(4);
  }

  @include set-media(md) {
    padding-bottom: 0;
    justify-content: center;
  }
}

.categoriesItem {
  @include font-18-normal-ui;
  padding: set-calc(6) set-calc(24);

  border: set-calc(2) solid $matt-white;
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    border: set-calc(1) solid var(--color-content-primary);
    padding: set-calc(4) set-calc(16);
  }
}

.title {
  @include font-88-normal-header;
  padding-right: set-calc(32);

  @include set-media(md) {

    @include font-56-normal-header;
    padding-right: set-calc(8);
    padding-left: set-calc(8);

    text-align: center;
  }
}

.block {
  max-width: set-calc(550);
  padding-bottom: set-calc(16);

  @include font-21-normal-paragraph;

  white-space: pre-line;

  @include set-media(md) {
    padding-bottom: set-calc(16);
    padding-right: set-calc(20);
    padding-left: set-calc(20);

    text-align: center;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;

  @include set-media(md) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

}

.actionsBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: set-calc($border-radius-10);
  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  background: $matt-white;

  @include font-21-normal-ui;
  color: $color-palette-black-700;
  padding: set-calc(20) set-calc(80);
  height: set-calc(60);

  @include set-media(md) {
    display: none;
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
  }

  .text {
    z-index: 200;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    background-color: $matt-white-hover;
  }
}

.cover {
  grid-column: span 2;
  position: relative;

  overflow: hidden;

  display: block;
  align-self: stretch;
  justify-self: stretch;
  border-radius: set-calc($border-radius-medium);

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 200;

    @include set-media(md) {
      background: transparent;
    }
  }

  @include set-media(md) {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
  }
}

.cover img {
  width: 100%;
  object-fit: cover;
  border-radius: set-calc($border-radius-medium);
}