@import 'styles/index';

.inner {
  position: relative;

  @include is-grid-4;
  gap: 0;
  min-height: set-calc(600);
  overflow: hidden;

  padding: set-calc(48) set-calc(24) set-calc(24);
  border-radius: set-calc($border-radius-medium);
  border: set-calc(1) solid var(--color-border);
  background: var(--color-card);

  color: $matt-white;

  @include set-media(md) {
    min-height: 45vh;
    color: var(--color-content-primary);

    padding: set-calc(16) set-calc(16) set-calc(16);
    border: set-calc(1) solid var(--color-border);
  }
}

.info {
  position: relative;
  grid-column: span 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include set-media(md) {
    padding: 0 0 0;
    align-items: center;
  }
}

.topContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: set-calc(24);

  @include set-media(md) {
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.bottomContent {
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: set-calc(16);

  & > div:not(:last-child) {
    margin-right: set-calc(4);
  }

  @include set-media(md) {
    margin: set-calc(4) 0 set-calc(16);
    justify-content: flex-start;
  }
}

.categoriesItem {
  display: flex;
  justify-content: center;
  align-items: center;

  @include font-18-normal-ui;
  color: var(--color-content-primary);
  font-family: $font-family-bold;

  padding: 0 set-calc(12);
  height: set-calc(30);
  background-color: transparent;
  
  border-radius: set-calc($border-radius-large);
  border: 2px solid var(--color-content-primary);

  @include set-media(md) {
    border: 1.5px solid var(--color-content-primary);
    height: set-calc(30);
    padding: 0 set-calc(12);
  }
}

.title {
  @include set-typography(78, 80, 500);
  margin-bottom: set-calc(24);
  letter-spacing: -0.05rem;
  
  color: var(--color-content-primary);
  font-family: $font-family-bold;
  text-align: center;

  @include set-media(md) {

    @include font-88-normal-header;
    margin-bottom: set-calc(16);
  }
}

.block {
  margin-bottom: set-calc(16);

  @include set-typography(24, 30, 500);
  color: var(--color-content-primary);

  white-space: pre-line;
  text-align: center;

  @include set-media(md) {
    margin: 0 0 set-calc(16);
    @include set-typography(20, 28, 500);

    max-width: 90%;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include set-media(md) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.actionsBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: set-calc($border-radius-16);
  background: var(--primary-color);
  background-size: 400% 400%;

  animation: buttonGradient 45s ease infinite;
  transition: width .3s, margin .3s, min-width .3s, background-color .3s, color .3s, border .3s, background-position 2s ease-out, padding-left .3s, opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;

  @include font-21-normal-ui;

  padding: 0 set-calc(64);
  height: set-calc(60);

  @include set-media(md) {
    display: none;
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
  }

  .text {
    z-index: 200;
    color: $color-content-inverted-primary-light;
    font-family: $font-family-bold;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    opacity: 0.9
  }
}

.cover {
  grid-column: span 2;
  position: relative;

  display: block;
  align-self: stretch;
  justify-self: stretch;
  border-radius: set-calc($border-radius-medium);
  overflow: hidden;
  max-height: set-calc(600);

  // &:before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;

  //   @include set-media(md) {
  //     background: transparent;
  //   }
  // }

  @include set-media(md) {
    position: relative;
    width: 100%;
    padding-left: 0;
  }
}

.cover img {
  width: 100%;
  object-fit: cover;
  border-radius: set-calc($border-radius-medium);
}