@import 'styles/index';

.keyText {
  color: $grey-hover;
  font-family: $font-family!important;
}

.listHeader {
  padding-bottom: set-calc(16)!important;
}

.listItem {
  padding-bottom: set-calc(8)!important;
  padding-left: set-calc(24);

  @include set-media(md) {
    padding-left: set-calc(16);
  }
}
