@import 'styles/index';

.keyText {
  color: $color-profession-darken;
  font-family: $font-family!important;
}

.listHeader {
  padding-bottom: set-calc(16)!important;
}

.listItem {
  position: relative;
  
  padding-bottom: set-calc(8)!important;
  padding-left: set-calc(24);

  @include set-media(md) {
    padding-left: set-calc(16);
  }
}
