@import 'styles/index';

.input {
  position: relative;

  width: 100%;
  padding: set-calc(22) set-calc(30);

  position: relative;
  background: none;
  border: none;
  border-radius: set-calc(15);
  box-shadow: none;
  outline: none;
}

.dark {
  color: $white;
  background: hsla(0,0%,100%,.05);
  border: set-calc(1) solid hsla(0,0%,100%,.1);
}

.decision-form-choice-agreement {
  position: relative;

  display: flex;
  align-items: center;
  padding: 0 0 set-calc(32);

  color: $text-grey;

  &-checkbox {
    display: none;
  }

  label {
    position: relative;

    display: flex;
    align-items: center;

    cursor: pointer;

    svg {
      width: set-calc(18);
      height: set-calc(18);
    }

    a {
      text-decoration: underline;
    }
  }

  &-text {
    padding-left: set-calc(4);

    cursor: pointer;
  }

  input[type='checkbox'] {
    box-sizing: border-box;
    margin: set-calc(3) set-calc(3) set-calc(3) set-calc(4);
    padding: initial;

    background-color: initial;
    border: initial;
    cursor: default;

    appearance: auto;
  }

  input[type='checkbox']:not(:checked) + label #checkmark {
    display: none;

    transition: display $d-hover linear;
  }
}