@import 'styles/index';

.__ {
  box-sizing: border-box;
  max-width: set-calc(700);
  width: set-calc(-44, true, -44);
  padding-top: set-calc(40);
  padding-bottom: set-calc(120);

  @include set-media(md) {
    padding-top: set-calc(40);
    padding-bottom: set-calc(60);
  }
}

.buttons {
  display: flex;
  align-items: flex-start;

  @include set-media(md) {
    width: 100%;
  }
}

.nextLesson {
  display: flex;

  @include set-media(md) {
    width: 100%;
  }
}

.button {
  @include btn;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: set-calc(8);
  padding: set-calc(20) set-calc(24);

  border-radius: set-calc(8);
  background-color: var(--color-background-btn);

  @include font-18-normal-ui;
  color: $color-content-inverted-primary-light;

  &:hover {
    background-color: var(--color-background-btn-hover);
  }

  @include set-media(md) {
    width: 100%;

    &:hover {
      background-color: var(--color-background-btn);
    }
  }
}