@import 'styles/index';

.__ {
  position: relative;

  display: block;
  padding-top: set-calc(0);
  @include is-beige;
  background-color: $black;
}

.title {
  margin-bottom: set-calc(24);
  padding: set-calc(16);
  background-color: rgba(255, 255, 255, 0.12);
  color: $white;
  border-radius: set-calc($border-radius-medium);

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.list {
  @include is-grid-3;

  @include set-media(md) {
    display: flex;
  }
}

.item {
  display: flex;
  grid-column: span 1;
  margin-right: set-calc(8);
  width: 100%;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);

  aspect-ratio: 1 / 1.5;

  text-align: center;
}

.item:not(:last-child) {
  margin-right: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}