.program-intro {
  position: relative;
  left: 0;

  grid-column: span 12;
  width: 100%;
  min-height: set-calc(-150, true, 100vh);

  @include set-media(md) {
    position: relative;
    left: set-calc(-$padding-x-mob-page);

    display: block;
    grid-column: span 12;
    width: set-calc(2 * $padding-x-mob-page, true, 100%);
    min-height: 100%;
  }

}

.program-intro-inner {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: set-calc(32);
  overflow: hidden;

  background: $beige;
  border-radius: set-calc(20);

  @include set-media(md) {
    height: set-calc(660);
    padding: set-calc($padding-x-mob-page) set-calc($padding-x-mob-page) 0;
  }

  .program-intro-categories {
    z-index: 200;

    display: flex;
    flex-wrap: wrap;
    max-width: set-calc(620);
    margin-bottom: cset-calc(-8);
    padding-bottom: set-calc(80);

    & > div:not(:last-child) {
      margin-right: set-calc(4);
    }

    @include set-media(md) {
      margin-bottom: cset-calc(-8);
      padding-bottom: set-calc(32);
    }
  }

  .program-intro-categories-item {
    margin-bottom: set-calc(8);  
    padding: 0 set-calc($padding-x-mob-page);

    border: set-calc(2) solid $black;
    border-radius: set-calc(20);
  }

  .program-intro-title {
    z-index: 200;;

    max-width: set-calc(620);
    padding-bottom: set-calc(32);

    @include set-media(md) {
      padding-bottom: set-calc(32);;
    }
  }

  .program-intro-block {
    z-index: 200;

    max-width: set-calc(620);
    padding-bottom: set-calc(32);

    @include set-media(md) {
      padding-bottom: set-calc(32);
    }
  }

  .program-intro-actions {
    z-index: 300;

    display: flex;
    flex-wrap: wrap;

    &-btn {
      height: set-calc(40);
      margin: 0 set-calc(4) set-calc(4) 0;
      padding: 0 set-calc(48);

      @include set-media(md) {
        height: set-calc(38);
      }

      &:hover {
        opacity: 1;
      }
    }
  
    &-discount {
      height: set-calc(40);
      padding: 0 set-calc(48);

      color: $black;

      @include set-media(md) {
        height: set-calc(38);
      }
    }
  }

  .program-intro-cover img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.description-wrapper {
  padding-top: set-calc(140);

  @include set-media(md) {
    padding-top: set-calc(80);
  }

  .description-title {
    padding-bottom: set-calc(60);

    @include set-media(md) {
      padding-bottom: set-calc(32);
    }
  }

  .description-list {
    .description-list-item {
      grid-column: span 4;

      &-question-wrapper {
        position: relative;

        display: flex;
        grid-column: span 1;
        padding-right: set-calc(60);

        @include set-media(md) {
          padding-right: 0;

          // left: set-calc(-$padding-x-mob-page);
          // width: set-calc($padding-x-mob-page * 2, true, 100%);
        }
      }

      &-question {
        position: relative;

        width: 100%;
        margin-bottom: auto;
        padding: set-calc(16) set-calc(16) set-calc(24);

        text-align: center;

        background-color: $beige;
        border-radius: set-calc(20);

        @include set-media(md) {
          padding: set-calc(8) 0 set-calc(4);

          text-align: left;

          background-color: $white;
          border-top: set-calc(calc($s-gap / 2)) solid $black-new;
          border-radius: 0;
        }
      }
  
      &-answear {
        grid-column: 2 / -1;
      }
    }

    .description-list-item:not(:last-child) {
      margin-bottom: set-calc(80);
    }

    @include set-media(md) {
      .description-list-item:not(:last-child) {
        margin-bottom: set-calc(40);
      }
    }
  }
}

.modules-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: set-calc(140);

  @include set-media(md) {
    padding-top: set-calc(80);
  }

  .modules-head {
    grid-row-gap: 0;

    .modules-title {
      grid-column: 1/-1;
      padding-bottom: set-calc(60);

      @include set-media(md) {
        padding-bottom: set-calc(32);
      }
    }

    .modules-students-desc {
      grid-column: 1/7;
      padding-bottom: set-calc(32);

      @include set-media(md) {
        padding-bottom: set-calc(16);
      }
    }

    .modules-menu-wrapper {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      grid-column: span 12;

      padding-bottom: set-calc(32);

      @include set-media(md) {
        padding-bottom: set-calc(16);
      }
    }

    .modules-menu-item {
      position: relative;

      display: block;
      margin-right: set-calc(8);
      margin-bottom: set-calc(8);

      padding: set-calc(2) set-calc(16) set-calc(4);

      background: $beige;
      border-radius: set-calc(20);
      cursor: pointer;
    }
  }

  .modules-list {
    display: grid;
    grid-row-gap: set-calc($s-gap);
  }

  .modules-list-item-info {
    position: relative;
    left: 0;

    display: block;

    grid-column: span 6;
    width: 100%;
    padding: set-calc(32);

    background-color: $beige;
    border-radius: set-calc(20);

    @include set-media(md) {
      left: set-calc(-$padding-x-mob-page);

      width: set-calc(32, true, 100%);
      padding: set-calc($padding-x-mob-page) set-calc($padding-x-mob-page);
    }
  }

  .modules-list-item-head {
    position: relative;

    padding-bottom: set-calc(8);

    color: $text-grey;
  }

  .modules-list-item-title {
    padding-bottom: set-calc(32);
  }

  .modules-list-item-text {
    padding-bottom: set-calc(16);
  }

  .modules-list-item-media {
    position: relative;
    left: 0;

    display: block;

    grid-column: span 6;
    width: 100%;

    background-color: $beige;
    border-radius: set-calc(20);

    @include set-media(md) {
      left: set-calc(-$padding-x-mob-page);

      width: set-calc(2 * $padding-x-mob-page, true, 100%);
    }
  }

  .modules-list-item-media-src {
    position: relative;

    display: block;
    width: 100%;
    height: set-calc(340);
  }

  .modules-list-item-media-src  img[data-v-desktop-2]{
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: set-calc(20);
  }

  .modules-list-item-media-author {
    padding: set-calc(20) set-calc(32) set-calc(40);

    @include set-media(md) {
      padding: set-calc(8) set-calc($padding-x-mob-page) set-calc(20);
    }
  }

  .modules-list-item-media-desc {
    padding: 0 set-calc(32) set-calc(48);

    color: $text-grey;

    @include set-media(md) {
      padding: 0 set-calc($padding-x-mob-page) set-calc(16);
    }
  }
}

.explain-wrapper {
  left: 0;

  display: grid;
  grid-column-gap: set-calc($s-gap);
  grid-template-columns: repeat(12,minmax(0,1fr));
  width: 100%;
  padding-top: set-calc(140);

  @include set-media(md) {
    position: relative;

    display: block;

    padding-top: set-calc(80);
  }

  .explain-title {
    grid-column: span 12;
    padding-bottom: set-calc(60);

    @include set-media(md) {
      padding-bottom: set-calc(32);
    }
  }

  .explain-quote {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    justify-content: center;
    padding-right: set-calc(100);
    padding-bottom: set-calc(40);
    padding-left: set-calc(32);

    @include set-media(md) {
      padding-right: set-calc(0);
      padding-left: set-calc(0);
    }
  }

  .content-block-embed {
    left: 0;

    grid-column: span 6;
    width: 100%;
  }

  .video-player {
    overflow: hidden;

    border-radius: set-calc(20);
  }

  .plyr {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: px-to-rem(200px);
    max-width: 100%;
    height: 100%;

    font-weight: 400;
    font-family: inherit;
    line-height: 1.7;
    direction: ltr;
    text-shadow: none;

    transition: box-shadow .3s ease;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: tabular-nums;

    &-video {
      overflow: hidden;

      background: $black;
      border-radius: set-calc(20);
    }
  
    &-full-ui {
      box-sizing: border-box;
    }


    &-video-embed {
      height: 0;
      padding-bottom: 56.25%;
    }

    &-video-wrapper {
      position: relative;

      width: 100%;
      height: 100%;
      margin: auto;
      overflow: hidden;

      background: $black;
    }
  }

  .content-block-embed iframe {
    max-width: 100%;

    border-radius: set-calc(20);
  }

  .plyr-video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;

    border: 0;
  }

  .plyr iframe {
    display: block;
    width: 100%;
    height: 100%;
  }

  .video-describtion {
    position: relative;

    display: block;
    padding-top: set-calc(16);

    color: $text-grey;

    @include set-media(md) {
      padding-top: set-calc(8);
    }
  }
  
}

.teachers-wrapper {
  padding-top: set-calc(140);

  @include set-media(md) {
    padding-top: set-calc(80);
  }

  .teachers-title {
    padding-bottom: set-calc(60);

    @include set-media(md) {
      padding-bottom: set-calc(32);
    }
  }

  .teachers-list {
    position: relative;
    left: 0;

    display: grid;
    grid-gap: set-calc($s-gap);
    grid-template-columns: repeat(12,minmax(0,1fr));
    width: 100%;

    background: $beige;
    border-radius: set-calc(20);

    @include set-media(md) {
      left: set-calc(-$padding-x-mob-page);

      width: set-calc(2 * $padding-x-mob-page, true, 100%);
    }
  }

  .teachers-list-item {
    display: grid;
    grid-column: span 12;
    grid-column-gap: set-calc(40);
    grid-template-rows: auto 1fr;
    grid-template-columns: set-calc(181) set-calc(376) auto;
    min-height: set-calc(214);
    padding: set-calc(32);
    
    @include set-media(md) {
      position: relative;

      display: grid;
      grid-column-gap: set-calc(20);
      grid-template-columns: set-calc(130) 1fr;
      min-height: set-calc(170);
      padding: set-calc($padding-x-mob-page) set-calc(24) set-calc($padding-x-mob-page) set-calc($padding-x-mob-page);

      background: $beige;
      border-radius: set-calc(20);
    }

    &-photo {
      position: relative;

      display: block;
      grid-row: 1/3;
      grid-column: 1;

      width: set-calc(181);
      height: set-calc(251);
      padding-bottom: set-calc(8);
  
      @include set-media(md) {
        grid-row: 1/5;
        grid-column: 1/1;
        width: set-calc(130);

        height: set-calc(181);
      }
    }

    &-photo img {
      position: relative;

      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: set-calc(20);
    }

    &-name {
      grid-column: 2/2;
      padding-bottom: set-calc(16);

      @include set-media(md) {
        padding-bottom: set-calc(8);
      }
    }

    &-description {
      grid-column: 2/2;
    }

    &-link {
      display: flex;
      flex-direction: column-reverse;
      grid-column: 3/3;
      align-items: flex-end;
      justify-content: space-between;


      a {
        position: relative;

        display: block;

        text-align: right;
      }

      a:hover {
        color: $grey-hover;
      }

      @include set-media(md) {
        display: none;
      }

    }
  }
}

.gallery {
  position: relative;

  display: block;
  padding-top: set-calc(0);

  &-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    // justify-content: flex-end;
    padding: set-calc(60) 0 set-calc(8);

    @include set-media(md) {
      display: none;
    }
  }

  &-paginationBtn {
    padding: 0;

    color: $grey;

    background: none;

    border: none;
    outline: none;
    cursor: pointer;
  }

  &-paginationBtn:hover {
    opacity: 0.5;
  }

  .swiper-btn-prev {
    margin-right: set-calc(16);
  }

  .swiper-btn-next {
    margin-right: 0;
  }

  &-container {
    left: set-calc(-$padding-x-desk-page);

    width: set-calc(2 * $padding-x-desk-page, true, 100%);
    padding: 0 set-calc($padding-x-desk-page);

    @include set-media(md) {
      left: set-calc(-$padding-x-mob-page);

      width: set-calc(2 * $padding-x-mob-page, true, 100%);
      margin-top: set-calc(16);
      padding: 0 set-calc(8);
    }
  }

  .swiper-container {
    position: relative;
    z-index: 100;

    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    list-style: none;
  }

  &-wrapper {
    position: relative;
    top: 0;

    height: 100%;
  }

  .swiper-wrapper {
    display: flex;
    box-sizing: content-box;
    width: 100%;

    transition-property: transform;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto!important;
    margin-right: set-calc(8);
    overflow: hidden;

    text-align: center;
  }

  &-item img {
    height: set-calc(580);

    @include set-media(md) {
      height: set-calc(435);
    }
  }

  .swiper-slide {
    position: relative;

    flex-shrink: 0;
    height: 100%;

    transition-property: transform;
  }

  &-caption {
    display: flex;
    flex-wrap: wrap;
    padding-top: set-calc(16);

    @include set-media(md) {
      padding-top: set-calc(8);
    }
  }
}

.program-promo {
  left: 0;

  display: grid;
  grid-column-gap: set-calc($s-gap);
  grid-template-columns: repeat(12,minmax(0,1fr));
  width: 100%;
  padding-top: set-calc(140);

  @include set-media(md) {
    position: relative;

    display: block;

    padding-top: set-calc(80);
  }

  &-title {
    grid-column: span 5;
    padding-bottom: set-calc(32);
  }

  .content-block-embed {
    left: 0;

    grid-column: span 7;
    width: 100%;
  }

  .video-player {
    overflow: hidden;

    border-radius: set-calc(20);
  }

  .plyr { 
    &-video-embed {
      padding-bottom: 56.25%;
    }

    &-video-wrapper {
      position: relative;

      width: 100%;
      height: 100%;
      margin: auto;
      overflow: hidden;

      background: $black;
    }
  }

  .plyr-video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;

    border: 0;
  }

  .plyr iframe {
    display: block;
    width: 100%;
    height: 100%;
  }

  .video-describtion {
    position: relative;

    display: block;
    padding-top: set-calc(16);

    color: $text-grey;

    @include set-media(md) {
      padding-top: set-calc(8);
    }
  }
}

.decision-form-wrapper {
  display: grid;
  grid-gap: set-calc($s-gap);
  grid-column: span 12;
  grid-template-columns: repeat(12,minmax(0,1fr));

  @include set-media(md) {
    display: block;
  }

  .decision-form-info {

    position: relative;
    left: 0;

    display: flex;
    flex-direction: column;
    grid-column: span 6;
    justify-content: space-between;
    width: 100%;

    padding: set-calc(32);
    padding-right: set-calc(72);

    background: $beige;

    border-radius: set-calc(20);

    @include set-media(md) {
      position: relative;

      display: block;
      padding: set-calc($padding-x-mob-page) set-calc($padding-x-mob-page);

      border-radius: set-calc(20);
    }

    &-title {
      padding-bottom: set-calc(32);

      @include set-media(md) {
        padding-bottom: set-calc(24);
      }
    }

    &-subtitle {
      width: set-calc(435);
      padding-bottom: set-calc(40);

      @include set-media(md) {
        width: set-calc(382);
        padding-bottom: set-calc(32);
      }
    }

    &-credit-container {
      position: relative;

      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    &-credit-was {
      color: $text-grey;
      letter-spacing: -0.05rem;
      text-decoration: line-through;
    }

    &-credit-price {
      position: relative;

      display: inline-block;

      color: $blue;
      letter-spacing: -0.05rem;
    }

    &-credit-price-discount {

      position: absolute;
      top: set-calc(-24);
      right: set-calc(-70);

      display: block;
      height: set-calc(41);
      padding: set-calc(8);

      color: $white;
      letter-spacing: 0;

      background: $blue;
      border-radius: set-calc(20);
    }

    &-course-name {
      position: relative;

      display: block;

      padding: set-calc(100) 0 set-calc(5);

      color: $text-grey;

      @include set-media(md) {
        padding: set-calc(32) 0 0;
      }
    }
  }

  .decision-form-container {
    position: relative;

    display: block;
    grid-column: span 6;
    width: 100%;

    margin: 0;
    padding: set-calc(32);
    overflow: hidden;

    background: $beige;

    border-radius: set-calc(20);

    @include set-media(md) {
      margin-top: set-calc(8);
      padding: set-calc($padding-x-mob-page);
    }
  }

  .decision-form-title {
    padding-bottom: set-calc(32);
  }

  .decision-form {
    position: relative;

    display: block;
  }

  .input-field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: set-calc(32);
  }

  .input-field-label {
    text-transform: inherit;
  }

  .input-field-input {
    position: relative;

    width: 100%;
    padding: set-calc(4) 0 set-calc(8);

    color: $text-grey;

    background: none;
    border: none;
    border-bottom: set-calc(2) solid $white;
    border-radius: 0;
    outline: none;
    box-shadow: none;
  }

  .decision-form-choice-agreement {
    position: relative;

    display: flex;
    align-items: center;
    padding: 0 0 set-calc(32);

    color: $text-grey;

    &-checkbox {
      display: none;
    }

    label {
      position: relative;

      display: flex;
      align-items: center;

      cursor: pointer;

      svg {
        width: set-calc(18);
        height: set-calc(18);
      }

      a {
        text-decoration: underline;
      }
    }

    &-text {
      padding-left: set-calc(4);

      cursor: pointer;
    }

    input[type="checkbox"] {
      box-sizing: border-box;
      margin: set-calc(3) set-calc(3) set-calc(3) set-calc(4);
      padding: initial;
  
      background-color: initial;
      border: initial;
      cursor: default;
  
      appearance: auto;
    }

    input[type="checkbox"]:not(:checked )+ label #checkmark {
      display: none;

      transition: display $d-hover linear;
    }
  }

  .decision-form-choice-submit-button {

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: set-calc(68);
    padding: 0 set-calc(40);

    color: $white;

    background-color: $blue;
    border-radius: set-calc(20);

    @include set-media(md) {
      height: set-calc(38);
    }
  }
  
}

.faq-wrapper {
  padding-top: set-calc(160);

  @include set-media(md) {
    padding-top: set-calc(80);
  }

  .faq-head {
    position: relative;

    display: grid;
    grid-row-gap: 0;
    padding: 0;

    @include set-media(md) {
      position: relative;

      display: block;
      padding: 0;
    }
  }

  .faq-title {
    grid-column: span 5;
    padding-bottom: set-calc(60);

    @include set-media(md) {
      padding-bottom: set-calc(32);
    }
  }

  .faq-desc {
    grid-column: 1/6;

    a {
      color: $blue;
      text-decoration: none;
    }

    a:hover {
      color: $blue-hover;
    }

    @include set-media(md) {
      a:active {
        color: $blue-hover;
      }
    }
  }

  .faq-list {
    position: relative;
    left: 0;

    display: grid;
    grid-gap: set-calc($s-gap) set-calc($s-gap);
    grid-template-columns: repeat(12,minmax(0,1fr));
    width: 100%;

    padding-top: set-calc(60);

    @include set-media(md) {
      position: relative;
      left: set-calc(-$padding-x-mob-page);

      display: flex;
      flex-direction: column;
      width: set-calc(2 * $padding-x-mob-page, true, 100%);

      padding-top: set-calc(32);
    }
  }

  .faq-list-item {
    position: relative;

    grid-column: span 4;
    height: auto;
    padding: set-calc(32);

    background-color: $beige;
    border-radius: set-calc(20);

    @include set-media(md) {
      position: relative;

      display: flex;
      flex-direction: column;
      grid-row-gap: 0;
      padding: set-calc(16) set-calc($padding-x-mob-page);
    }

    &-question {
      padding-bottom: set-calc(32);
    }

    &-answers {
      display: block;
    }
  }
}