.lessons-wrapper {
  padding: 0 set-calc($padding-x-desk-page);

  @include set-media(md) {
    padding: 0 set-calc($padding-x-mob-page);
  }

  .lessons-header {
    margin-top: set-calc(40);
    padding: set-calc(calc($s-gap / 2)) 0 set-calc(calc($s-gap));

    border-top: set-calc(calc($s-gap / 2)) solid $black-new;
    border-bottom: 0;

    @include set-media(md) {
      margin-top: 0;
    }

    &-title {
      grid-column: 1 / 3;
    }
  }

  .lessons-content {
    padding-bottom: set-calc(140);

    @include set-media(md) {
      padding-bottom: set-calc(80);
    }

    &-date {
      grid-column: 1 / 3;
      padding-top: set-calc(calc($s-gap / 2));

      border-top: set-calc(calc($s-gap / 2)) solid $black-new;

      @include set-media(md) {
        padding-bottom: set-calc(56);
      }
    }

    &-list {
      grid-column: 3 / 5;

      margin-top: 0;
    }
  }

  .lessons-list {
    margin: 0;
    padding: 0;

    list-style: none;

    counter-reset: lessonsCounter;

    &-item {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: set-calc(8) 0;

      border-top: set-calc(calc($s-gap / 2)) solid $black-new;

      counter-increment: lessonsCounter;

      .results {
        color: $orange;
      }
    }

    &-item::before {
      position: absolute;
      top: set-calc(8);
      left: set-calc(-48);

      min-width: set-calc(24);

      text-align: right;

      content: counter(lessonsCounter);
    }
  }

  .lessons-chat {
    padding-bottom: set-calc(140);

    border-top: set-calc(calc($s-gap / 2)) solid $black-new;

    @include set-media(md) {
      padding-bottom: set-calc(80);
    }

    &-title {
      grid-column: 1 / 3;
      padding-top: set-calc(calc($s-gap / 2));
    }

    &-link {
      grid-column: 3 / 5;
      padding-top: set-calc(calc($s-gap / 2));

      color: $text-grey;
    }
  }
}