@import 'styles/index';

.title {
  margin: set-calc(40) 0 set-calc(12);

  @include font-28-article;
  color: var(--color-content-primary);
  font-family: $font-family-article-bold;

  @include set-media(md) {
    margin: set-calc(40) 0 set-calc(12);
  }
}