@import 'styles/index';

.title {
  margin: set-calc(56) 0 set-calc(20);

  @include font-36-normal-header;
  color: var(--color-content-primary);
  text-transform: uppercase;

  @include set-media(md) {
    margin: set-calc(40) 0 set-calc(16);
  }
}