@import 'styles/index';

.videoWrapper {
  grid-column: span 3;
  padding-bottom: set-calc(72);

  @include set-media(md) {
    padding-bottom: set-calc(56);
  }
}

.video {
  border-radius: set-calc(20);
  position: relative;

  padding-bottom: 56.25%;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;

  background: $black;
}

.video iframe {
  position: absolute;
  display: block;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}

.videoCaption {
  @include s-text-18;

  padding-top: set-calc(4);
}