@import 'styles/index';

.wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: set-calc(40) 0 set-calc(20);
 
  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(16);
  }
}

.button {
  @include btn;
  @include button-xl;

  background-color: $color-highlight-yellow;

  @include font-18-normal-ui;
  color: $color-content-inverted-primary-dark;
  font-family: $font-family-medium;

  &:hover {
    background-color: $color-highlight-yellow-hover;
  }

  @include set-media(md) {
    width: 100%;

    &:hover,
    &:active {
      background-color: $color-highlight-yellow;
    }
  }
}