@import 'styles/index';

.wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: set-calc(40) 0 set-calc(20);
 
  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(16);
  }
}

.button {
  position: relative;
  align-items: center;
  justify-content: center;

  padding: set-calc(20) set-calc(24);
  gap: set-calc(8);
  border-radius: set-calc($border-radius-30);
  background-color: $color-highlight-yellow;

  @include font-18-normal-ui;
  color: $color-content-inverted-primary-dark;
  font-family: $font-family-medium;

  transition-property: background-color, border-color, box-shadow, color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $color-highlight-yellow-hover;
  }

  @include set-media(md) {
    width: 100%;
  }
}