
@import 'styles/index';

.form {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;

  @include set-media(md) {
    margin-top: set-calc(16);
  }
}

.submitButton {
  @include btn;
  @include button-large;
  @include button-primary;

  width: 100%;
  margin-top: set-calc(12);

  @include set-media(md) {
    margin-top: set-calc(8);
  }
}

.btnSvg {
  color: var(--color-content-inverted-primary);
  svg {
    width: set-calc(24);
    height: set-calc(24);
  }
}

.isSuccess {
  pointer-events: none;
  color: var(--color-content-background-secondary);
}

.isPending {
  background-color: var(--color-background-glassy-a);
  color: var(--color-background-glassy-d);
  pointer-events: none;
}

.isError {
  color: var(--color-content-inverted-primary);
  background-color: var(--color-content-background-secondary);
  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  &:hover {
    background-color: var(--color-content-background-primary);
  }
}

.Error {
  color: var(--color-accent-error);
  @include font-14-normal-ui;

  margin-top: set-calc(6);
  margin-left: set-calc(4);
}
