.s-text-14 {
  @include set-typography(14, 19, 500);
}

.s-text-16-18 {
  @include set-typography(16, 22, 500);

  @include set-media(md) {
    @include set-typography(18, 24, 500);
  }
}

.s-text-16 {
  @include set-typography(16, 20, 500);

  @include set-media(md) {
    @include set-typography(14, 18, 500)
  }
}

@mixin s-text-16 {
  @include set-typography(16, 20, 500);

  @include set-media(md) {
    @include set-typography(14, 18, 500)
  }
}

@mixin s-text-18 {
  @include set-typography(18, 24, 500);

  @include set-media(md) {
    @include set-typography(16, 22, 500)
  }
}

.s-text-18 {
  @include set-typography(18, 24, 500);

  @include set-media(md) {
    @include set-typography(16, 22, 500)
  }
}

.s-text-18-uppercase {
  @include set-typography(18, 24, 500);
  text-transform: uppercase;

  @include set-media(md) {
    @include set-typography(16, 22, 500);
    text-transform: uppercase;
  }
}

//article
.s-text-20 {
  @include set-typography(20, 30, 500);
}

@mixin s-text-20 {
  @include set-typography(20, 30, 500);
}

.s-text-21  {
  @include set-typography(21, 25, 500);

  @include set-media(md) {
    @include set-typography(16, 20, 500);
  }
}

@mixin s-text-21  {
  @include set-typography(21, 25, 500);

  @include set-media(md) {
    @include set-typography(16, 20, 500);
  }
}

.s-text-21-uppercase  {
  @include set-typography(21, 28, 500);
  text-transform: uppercase;

  @include set-media(md) {
    @include set-typography(18, 24, 500);
    text-transform: uppercase;
  }
}

@mixin s-text-24 {
  @include set-typography(24, 32, 500);

  @include set-media(md) {
    @include set-typography(20, 28, 500);
  }
}

.s-text-24 {
  @include set-typography(24, 32, 500);

  @include set-media(md) {
    @include set-typography(20, 28, 500);
  }
}

@mixin s-text-28 {
  @include set-typography(28, 32, 500);
  font-family: $font-family-compact;

  @include set-media(md) {
    @include set-typography(24, 26, 500);
  }
}

.s-text-28 {
  @include set-typography(28, 32, 500);
  font-family: $font-family-compact;

  @include set-media(md) {
    @include set-typography(24, 26, 500);
  }
}

.s-text-36 {
  @include set-typography(36, 38, 500);
  font-family: $font-family-compact;

  @include set-media(md) {
    @include set-typography(28, 32, 500);
  }
}

@mixin s-text-36 {
  @include set-typography(36, 38, 500);
  font-family: $font-family-compact;

  @include set-media(md) {
    @include set-typography(28, 32, 500);
  }
}

.s-text-56 {
  @include set-typography(56, 48, 500);
  font-family: $font-family-compact;
  letter-spacing: set-calc(-1);

  @include set-media(md) {
    @include set-typography(36, 38, 500);
  }
}

@mixin s-text-56 {
  @include set-typography(56, 48, 500);
  font-family: $font-family-compact;
  letter-spacing: set-calc(-1);

  @include set-media(md) {
    @include set-typography(36, 38, 500);
  }
}

@mixin s-text-88 {
  @include set-typography(88, 96, 500);
  font-family: $font-family-compact;

  @include set-media(md) {
    @include set-typography(48, 52, 500);
  }
}

.s-text-88 {
  @include set-typography(88, 96, 500);
  font-family: $font-family-compact;

  @include set-media(md) {
    @include set-typography(48, 52, 500);
  }
}

.warmGreen {
  color: $warmGreen;
}

.color-content-inverted-secondary {
  color: $color-background-glassy-c;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.b-black-new {
  background-color: $color-content-background-secondary !important;
  color: $color-content-inverted-primary!important;
  border-radius: set-calc($border-radius-small);
}