
.footer {
  display: block;
  padding: 0 set-calc($padding-x-desk-page) set-calc(32);
  margin-top: set-calc(32);

  border-bottom: px-to-rem(1px) solid rgb(70, 70, 70);

  @include set-media(md) {
    padding: 0 set-calc($padding-x-mob-page) set-calc(1.5 * $padding-x-mob-page);
  }

  a:hover {
    opacity: 0.5;
  }

  @include set-media(md) {
    a:active {
      opacity: 0.5;
    }
  }

  &-inner {
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: set-calc(32) set-calc(8);
    border-top: set-calc(calc($s-gap / 2)) solid $black-new;
    padding-top: set-calc(16);

    @include set-media(md) {
      position: relative;
  
      display: flex;
      flex-direction: column;

      padding-top: set-calc(8);
    }
  }

  &-left {
    grid-column: span 1;
  }

  &-references {
    grid-column: 4 / 6;
  }

  &-social {
    grid-column: 7 / 9;
  }

  &-right {
    grid-column: 11 / 13;
  }

  &-author {
    grid-row: 2;
    grid-column: 11 / 13;

    &-title {
      color: $text-grey;
    }

  }

  &-row {
    display: block;
  }

  &-row-item {
    display: block;
  }

  &-row-item:not(:last-child) {
    padding-bottom: set-calc(8);
  }

  .logo {
    display: flex;
    align-items: center;
  }
}