* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 500;
  font-family: TTNormsPro-Normal;
  src: url("../assets/fonts/TTNormsPro-Normal.ttf");
}

@font-face {
  font-weight: 500;
  font-family: TTNormsProCompact-Normall;
  src: url("../assets/fonts/TTNormsPro-Normal.ttf");
}

@font-face {
  font-weight: 500;
  font-family: TTNormsProSerif-Medium;
  src: url("../assets/fonts/TTNormsProSerif-Medium.ttf");
}

html {
  font-family: $font-family;
  font-size: set-calc(18);
  line-height: set-calc(28);
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: $color-content-primary;
  background-color: $color-background-alternate;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-variant-numeric: oldstyle-nums;
}

.ss01 {
  font-feature-settings: "ss01" 1;
}

h1 {
  @include set-typography(88, 96, 500);
  letter-spacing: -.01rem;

  @include set-media(md) {
    @include set-typography(48, 52, 500)
  }
}

h2 {
  @include set-typography(56, 61, 500);
  letter-spacing: -.01rem;

  @include set-media(md) {
    @include set-typography(40, 44, 500)
  }
}

h3 {
  @include set-typography(48, 55.2, 500);

  @include set-media(md) {
    @include set-typography(32, 36.8, 500);
  }
}

p {
  @include set-typography(24, 32, 500);

  @include set-media(md) {
    @include set-typography(20, 28, 500)
  }
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: background-color $d-hover, color $d-hover, opacity $d-hover;
}

button {
  word-spacing: set-calc(1);
  border: none;
  padding: 0;
  background: none;
  outline: none;
  font-family: $font-family !important;

  cursor: pointer;
  transition: color $d-hover,background-color $d-hover,opacity $d-hover;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

s {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.inline-link {
  transition: $d-hover color;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
  }

  &-text {
    display: inline;
    vertical-align: top;
    color: inherit;
  }
  
  &-arrow {
    display: inline-block;
    vertical-align: top;
    line-height: set-calc(28);
    margin-left: set-calc(6);

    @include set-media(md) {
      line-height: set-calc(22);
    }
  }

  &-arrow-left {
    display: inline-block;
    vertical-align: top;
    line-height: set-calc(28);
    margin-right: set-calc(6);

    @include set-media(md) {
      line-height: set-calc(22);
    }
  }
}

.s-hoverable {
  cursor: pointer;
  transition: opacity, color;
  transition-duration: $d-hover;

  &:hover {
    color: $primary-color;
  }
}

.key-link {
  background-image: linear-gradient(to bottom, $primary-color-underline 0, $primary-color-underline 100%);
  background-position: 0 90%;
  background-repeat: repeat-x;
  background-size: set-calc(1) set-calc(1);
  color: $primary-color;
  width: fit-content;

  &:hover {
    background-image: linear-gradient(to bottom, $primary-color 0, $primary-color 100%);
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: set-calc(1) set-calc(1);
  }
}

.link {
  background-image: linear-gradient(to bottom, $link-underline 0, $link-underline 100%);
  background-position: 0 90%;
  background-repeat: repeat-x;
  background-size: set-calc(1) set-calc(1);
  color: $link;
  width: fit-content;

  &:hover {
    background-image: linear-gradient(to bottom, $primary-color 0, $primary-color 100%);
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: set-calc(1) set-calc(1);
    color: $primary-color;
  }

  &:visited {
    background-image: linear-gradient(to bottom, $link-visited-underline 0, $link-visited-underline 100%);
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: set-calc(1) set-calc(1);
    color: $link-visited;
    width: fit-content;
  
    &:hover {
      background-image: linear-gradient(to bottom, $primary-color 0, $primary-color 100%);
      background-position: 0 90%;
      background-repeat: repeat-x;
      background-size: set-calc(1) set-calc(1);
      color: $primary-color;
    }
  }
}

.nav-link {
  transition: $d-hover color;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
  }

  &-text {
    display: inline;
    vertical-align: top;
    color: inherit;
  }
  
  &-arrow {
    display: inline-block;
    vertical-align: top;
    line-height: set-calc(28);
    margin-left: set-calc(6);

    @include set-media(md) {
      line-height: set-calc(22);
    }
  }

  &-arrow-left {
    display: inline-block;
    vertical-align: top;
    line-height: set-calc(28);
    margin-right: set-calc(6);

    @include set-media(md) {
      line-height: set-calc(22);
    }
  }
}

.isActive {
  color: $primary-color !important;
}