@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "sass:meta";

@function px-to-rem($list) {
  $rem-list: ();

  @each $value in $list {
    $rem-value: math.div($value, $rem-base) * 1rem;
    $rem-value-rounded: math.div(math.round($rem-value * 1000), 1000);
    $rem-list: append($rem-list, $rem-value-rounded);
  }

  @return #{$rem-list};
}

@mixin set-typography(
  $font-size,
  $line-height: $font-size,
  $font-weight: 500,
  $text-transform: inherit
) {
  font-weight: $font-weight;
  font-size: calc(var(--scale)*$font-size);
  line-height: calc(var(--scale)*$line-height);
  text-transform: $text-transform;
}

@mixin set-media($type) {
  @media (max-width: map-get($breakpoints, $type)) {
    @content;
  }
}

@mixin add-scale {
  :root {
     --scale: 100vw/1600;
  }
}

@mixin add-scale-md {
  :root {
     --scale: 100vw/414;
  }
}

@include add-scale;

@include set-media(md) {
  @include add-scale-md;
}

@mixin is-beige {
  position: relative;
  background-color: var(--color-content-tertiary);

  left: set-calc(-$padding-x-desk-page);
  width: set-calc(2 * $padding-x-desk-page, true, 100%);
  padding: set-calc($padding-x-desk-page) set-calc($padding-x-desk-page);

  @include set-media(md) {
    display: block;
    border-radius: 0;

    left: set-calc(-$padding-xs-mob-page);
    width: set-calc(2 * $padding-xs-mob-page, true, 100%);
    padding: set-calc($padding-xs-mob-page) set-calc($padding-xs-mob-page);
  }
}

@mixin is-grid-2 {
  display: grid;
  grid-gap: set-calc($s-gap);
  grid-template-columns: repeat(2,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($mobile-gap);
  }
}

@mixin is-grid-3 {
  display: grid;
  grid-gap: set-calc($s-gap);
  grid-template-columns: repeat(3,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($mobile-gap);
  }
}

@mixin is-grid-4 {
  display: grid;
  grid-gap: set-calc($s-gap);
  grid-template-columns: repeat(4,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($mobile-gap);
  }
}

@mixin is-grid-12 {
  display: grid;
  grid-gap: set-calc($s-gap);
  grid-template-columns: repeat(12,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($mobile-gap);
  }
}


@function set-calc(
  $value,
  $bollean: false,
  $value2: 0%
  ) {
    @if $bollean {
      @return calc($value2 + var(--scale) * $value);
    } @else { @return calc(var(--scale) * $value) }
}
