@use "sass:math";
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

//general
@function px-to-rem($list) {
  $rem-list: ();

  @each $value in $list {
    $rem-value: math.div($value, $rem-base) * 1rem;
    $rem-value-rounded: math.div(math.round($rem-value * 1000), 1000);
    $rem-list: append($rem-list, $rem-value-rounded);
  }

  @return #{$rem-list};
}

@mixin set-typography(
  $font-size,
  $line-height: $font-size,
  $font-weight: 500,
  $text-transform: inherit
) {
  font-weight: $font-weight;
  font-size: calc(var(--scale)*$font-size);
  line-height: calc(var(--scale)*$line-height);
  text-transform: $text-transform;
}

@mixin set-media($type) {
  @media (max-width: map-get($breakpoints, $type)) {
    @content;
  }
}

@mixin set-media-min($type) {
  @media (min-width: map-get($breakpoints, $type)) {
    @content;
  }
}

@mixin add-scale {
  :root {
     --scale: 100vw/1600;
  }
}

@mixin add-scale-md {
  :root {
     --scale: 100vw/414;
  }
}

@include add-scale;

@include set-media(md) {
  @include add-scale-md;
}

//layout
@mixin is-beige {
  position: relative;
  background-color: transparent;
  color: var(--color-content-primary);

  left: set-calc(-$p-desk-page);
  width: set-calc(2 * $p-desk-page, true, 100%);
  padding: set-calc(0) set-calc(24);

  @include set-media(md) {
    display: block;

    left: set-calc(-$p-mob-s-page);
    width: set-calc(2 * $p-mob-s-page, true, 100%);
    padding: set-calc($p-mob-s-page) set-calc($p-mob-s-page);
  }
}

@mixin is-grid-2 {
  display: grid;
  grid-gap: set-calc($gap-8);
  grid-template-columns: repeat(2,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($gap-8);
  }
}

@mixin is-grid-3 {
  display: grid;
  grid-gap: set-calc($gap-8);
  grid-template-columns: repeat(3,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($gap-8);
  }
}

@mixin is-grid-4 {
  display: grid;
  grid-gap: set-calc($gap-8);
  grid-template-columns: repeat(4,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc($gap-8);
  }
}

@mixin is-grid-12 {
  display: grid;
  grid-gap: set-calc($gap-8);
  grid-template-columns: repeat(12,minmax(0,1fr));

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    grid-gap: set-calc(gap-8);
  }
}

//atomic
@mixin key-link(
  $color: var(--color-accent-promo-background)
  ) {
  position: relative;
  display: inline-block;
  color: inherit;
  z-index: 1;

  transition: all $d-hover ease-out 0s;
  -o-transition: all $d-hover ease-out 0s;
  -moz-transition: all $d-hover ease-out 0s;
  -ms-transition: all $d-hover ease-out 0s;
  -webkit-transition: all $d-hover ease-out 0s;
  cursor: pointer;

  width: fit-content;
  -webkit-tap-highlight-color: transparent;

  &:hover::before {
    height: 100%;
  }

  @include set-media(md) {
    &:hover::before {
      height: 2px;
    }
  }

  &::before {
    position: absolute;
    content: "";

    bottom: 0;
    left: -2px;
    z-index: -1;

    width: calc(100% + 4px);
    height: 2px;

    border-radius: set-calc(4);
    background-color: $color;
    transition: height .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
}

@mixin bc-yellow {
  background-color: var(--color-accent-promo-background);
}

@mixin rounded($height) {
  border-radius: calc(set-calc($height) / 2)
}

//button
@mixin btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  transition-property: all;
  transition-duration: $d-hover;
  transition-timing-function: ease-out;

  box-shadow: none;

  &_loading {
    opacity: 0.8;
    cursor: default;
    pointer-events: none;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .loader {
      color: inherit;
    }
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    color: var(--color-background-glassy-d);
    background: var(--color-background-glassy-c);
  }

  &:active {
    transform: scale(0.96);
    box-shadow: none;
  }

  @include set-media(md) {
    transition-property: none;
    
    &:active {
      transform: none;
    }
  }
}

@mixin button-primary {
  color: $color-content-inverted-primary-light;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
  }

  @include set-media(md) {
    &:hover {
      opacity: 1;
    }
  }
}

@mixin button-black {
  color: var(--color-content-inverted-primary);
  background-color: var(--color-background-btn);

  &:hover {
    background-color: var(--color-background-btn-hover);
  }

  @include set-media(md) {
    &:hover {
      background-color: var(--color-background-btn);
    }
  }
}

@mixin button-invisible (
  $height,
  $border-radius
) {
  color: var(--color-content-primary);
  background-color: transparent;

  height: set-calc($height);
  border-radius: set-calc($border-radius);

  &:hover {
    background-color: var(--color-background-glassy-b);
  }

  @include set-media(md) {
    &:hover {
      background-color: transparent;
      color: var(--color-content-primary);
    }
  }
}

@mixin button-secondary {
  color: var(--color-content-primary);
  background-color: var(--color-background-glassy-b);

  &:hover {
    background-color: var(--color-background-glassy-c);
  }

  @include set-media(md) {
    &:hover {
      background-color: var(--color-background-glassy-b);
      color: var(--color-content-primary);
    }
  }
}

@mixin button-special( 
  $color: var(--color-content-primary),
  $bc: var(--color-accent-promo-background),
  ) {
  background-color: $bc;
  color: $color;

  &:hover {
    opacity: 0.9;
  }

  @include set-media(md) {
    &:hover {
      opacity: 1;
    }
  }
}

@mixin button-outline(
  $color,
  $bc-color: $color
) {
  border: 2px solid $color;
  color: $color;
  background: transparent;

  &:hover {
    background: $color;
    color: $bc-color;
  }

  @include set-media(md) {

    &:hover {
      background: transparent;
      color: $color;
    }
  }
}

@mixin button-3d(
  $bc: transparent,
  $colorHover: var(--color-background-glassy-a),
  $color: $color-palette-black-200,
  $colorActive: $color-palette-black-300,
  $opacity: 1,
  $width: 2px,
  ) {

  box-shadow: 0 0 0 calc($width / 2) $color, 0 $width 0 $width $color;
  transition-property: all;
  transition-duration: $d-hover;
  transition-timing-function: ease-out;

  background-color: $bc;

  &:hover {
    background-color: $colorHover;
    opacity: $opacity;
  }

  &:active {
    box-shadow: 0 0 0 calc($width / 2) $colorActive;
    transform: translate3d(0, $width, 0);
  }

  @include set-media(md) {
    transition-property: all;
    transition-duration: $d-hover;
    transition-timing-function: ease-out;
    
    background-color: $bc;
  }
}

@mixin button-extra-small {
  height: set-calc(36);

  padding: 0 set-calc(12);
  border-radius: set-calc($border-radius-8);

  .content {
    gap: set-calc(2);

    svg {
      width: set-calc(24);
      height: set-calc(24);
    }

    .loader {
      width: set-calc(12);
      height: set-calc(12);
    }
  }

  @include font-14-normal-ui;
  font-family: $font-family-medium;
}

@mixin button-small {
  height: set-calc(44);

  padding: 0 set-calc(16);
  border-radius: set-calc($border-radius-10);


  .content {
    gap: set-calc(4);

    svg {
      width: set-calc(24);
      height: set-calc(24);
    }

    .loader {
      width: set-calc(12);
      height: set-calc(12);
    }
  }

  @include set-typography(16, 16, 500);
  font-family: $font-family-medium;
}

@mixin button-large {
  height: set-calc(64);
  
  padding: 0 set-calc(24);
  border-radius: set-calc($border-radius-16);


  .content {
    gap: set-calc(8);

    svg {
      width: set-calc(32);
      height: set-calc(32);
    }

    .loader svg {
      width: set-calc(16);
      height: set-calc(16);
    }
  }

  @include set-typography(18, 18, 500);
  font-family: $font-family-medium;
}

//icon
@mixin icon {
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}

@mixin icon-size (
  $size
) {
  width: set-calc($size);
  height: set-calc($size);

  svg {
    display: block;

    width: set-calc($size);
    height: set-calc($size);
    fill: currentColor;
  }
}

@mixin icon-button-64 {
  height: set-calc(64);
  padding: 0 set-calc(16);
  border-radius: set-calc($border-radius-12);

  svg {
    display: block;
    width: set-calc(32);
    height: set-calc(32);
    color: inherit;

    transition-property: all;
    transition-duration: $d-hover;
    transition-timing-function: ease-out;

    path {
      transition-property: all;
      transition-duration: $d-hover;
      transition-timing-function: ease-out;
    }
  }
}

@mixin icon-button-40 {
  height: set-calc(40);
  padding: 0 set-calc(8);
  border-radius: set-calc($border-radius-8);

  svg {
    display: block;
    width: set-calc(24);
    height: set-calc(24);
    color: inherit;

    transition-property: all;
    transition-duration: $d-hover;
    transition-timing-function: ease-out;

    path {
      transition-property: all;
      transition-duration: $d-hover;
      transition-timing-function: ease-out;
    }
  }
}

@mixin icon-button-32 {
  height: set-calc(32);
  padding: 0 set-calc(6);
  border-radius: set-calc($border-radius-6);

  svg {
    display: block;
    width: set-calc(20);
    height: set-calc(20);
    color: inherit;

    transition-property: all;
    transition-duration: $d-hover;
    transition-timing-function: ease-out;

    path {
      transition-property: all;
      transition-duration: $d-hover;
      transition-timing-function: ease-out;
    }
  }
}

@mixin icon-button-invisible {
  background: transparent;
  color: var(--color-content-primary);

  &:hover {
    background: var(--color-background-glassy-b);
  }

  &:active {
    background: var(--color-background-glassy-c);
  }

  &:disabled {
    background: var(--color-background-glassy-c);
    color: var(--color-background-glassy-d);
  }

  @include set-media(md) {
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

@mixin icon-button-invisible-secondary {
  background: transparent;
  color: var(--color-content-tertiary);

  &:hover {
    background: var(--color-background-glassy-b);
  }

  &:active {
    background: var(--color-background-glassy-c);
  }

  &:disabled {
    background: var(--color-background-glassy-c);
    color: var(--color-background-glassy-d);
  }

  @include set-media(md) {
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

@mixin icon-button-secondary {
  background: var(--color-background-glassy-a);
  color: var(--color-content-primary);

  &:hover {
    background: var(--color-background-glassy-b);
  }

  &:active {
    background: var(--color-background-glassy-c);
  }

  &:disabled {
    background: var(--color-background-glassy-c);
    color: var(--color-background-glassy-d);
  }

  @include set-media(md) {
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

//dropdown
@mixin dropdown {
  position: relative;

  display: inline-flex;
  align-items: center;
  width: max-content;

  color: inherit;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;

  svg,
  svg path {
    color: inherit;

    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &_isOpened {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    color: var(--primary-color);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    color: var(--color-background-glassy-d);
  }

  @include set-media(md) {
    transition-property: none;
  }
}

@mixin dropdown-small {
  height: set-calc(44);

  &__content {
    @include font-16-normal-ui;
  }

  svg {
    display: block;

    width: set-calc(24);
    height: set-calc(24);
  }
}

@mixin dropdown-extra-small {
  height: set-calc(44);

  &__content {
    @include font-14-normal-ui;
  }

  svg {
    display: block;
    
    width: set-calc(24);
    height: set-calc(24);
  }
}

//chips
@mixin chips {
  @include btn;
}

@mixin chips-secondary {
  background: var(--color-background-glassy-a);
  color: var(--color-content-primary);

  &:hover {
    background: var(--color-background-glassy-b);
  }

  &:active {
    background: var(--color-background-glassy-c);
  }

  &:disabled {
    background: var(--color-background-glassy-c);
    color: var(--color-background-glassy-d);
  }

  &_selected {
    background: var(--color-content-primary);
    color: var(--color-content-inverted-primary);
  }

  @include set-media(md) {
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

@mixin chips-special (
  $color: var(--color-content-primary),
  $bc:  var(--color-accent-promo-background),
  ) {
  background-color: $bc;
  color: $color;

  &:hover {
    opacity: 0.9;
  }

  @include set-media(md) {
    &:hover {
      opacity: 1;
    }
  }
}

@mixin chips-outline {
  background: transparent;
  color: var(--color-content-primary);
  border: 1px solid var(--color-background-glassy-d);

  &:hover {
    background: var(--color-background-glassy-a);
    border: 2px solid var(--color-background-glassy-d);
  }

  &:active {
    background: var(--color-background-glassy-c);
    border: 2px solid var(--color-background-glassy-d);
  }

  &:disabled {
    background: var(--color-background-glassy-c);
    color: var(--color-background-glassy-d);
  }

  &_selected {
    background: transparent;
    border: 2px solid var(--color-content-primary);
  }

  @include set-media(md) {
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

@mixin chips-30 {
  height: set-calc(30);
  @include rounded(30);

  padding: 0 set-calc(12);

  .content {
    gap: set-calc(4);

    svg {
      width: set-calc(12);
      height: set-calc(12);
    }
  }

  @include font-12-normal-ui;
}

@mixin chips-44 {
  height: set-calc(44);
  @include round(44);

  padding: 0 set-calc(16);

  .content {
    gap: set-calc(8);

    svg {
      width: set-calc(20);
      height: set-calc(20);
    }
  }

  @include font-16-normal-ui;
}

@mixin chips-64 {
  height: set-calc(64);
  @include round(64);

  padding: 0 set-calc(20);

  .content {
    gap: set-calc(8);

    svg {
      width: set-calc(28);
      height: set-calc(28);
    }
  }

  @include font-20-normal-ui;
}

//input
@mixin input {
  position: relative;
  appearance: none;

  color: var(--color-background-glassy-d);

  background: transparent;

  border-color: var(--border);
  border-style: solid;
  
  box-shadow: none;
  outline: none;

  font-family: $font-family!important;

  transition-property: all;
  transition-duration: $d-focus;
  transition-timing-function: ease-out;

  &::placeholder,
  &::-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: var(--color-background-glassy-d)!important;
    font-family: $font-family!important;
    opacity: 1;
  }

  &:is(:-webkit-autofill, :autofill, :-webkit-autofill:focus, :-webkit-autofill:hover) {
    background-color: transparent;
    background: transparent;
    color: var(--color-content-primary);
  }

  &:focus {
    border-color: var(--color-accent-notice);
    background-color: transparent;
    color: var(--color-content-primary);
  }

  &:disabled {
    border-color: transparent;
    background-color: var(--color-background-glassy-a);
    color: var(--color-background-glassy-d);

    &+ .caption {
      color: var(--color-content-tertiary);
    }
  }
}

@mixin input-caption {
  @include font-10-normal-ui;
  font-family: $font-family;
  color: var(--color-content-tertiary);

  margin-top: set-calc(4);
  margin-left: set-calc(8);
}

@mixin input-label {
  @include font-12-normal-ui;
  font-family: $font-family-medium;

  margin-left: set-calc(8);
  margin-bottom: set-calc(4);

  &_disabled {
    color: var(--color-content-tertiary);
  }
}

@mixin input-large {
  height: set-calc(64);
  padding: 0 set-calc(16);

  border-width: 1.5px;
  border-radius: set-calc($border-radius-12);

  @include font-16-normal-ui;
}

@mixin input-medium {
  height: set-calc(44);
  padding: 0 set-calc(12);

  border-width: 1px;
  border-radius: set-calc($border-radius-8);

  @include font-14-normal-ui;
}

@mixin input-alert {
  border-color: var(--color-accent-error);

  [data-input-state-error] & {
    border-color: var(--color-accent-error);

    &:focus {
      border-color: var(--color-accent-error);
    }
  }

  & + .caption {
    color: var(--color-accent-error);
  }
}

@mixin input-normal {
  color: var(--color-content-primary);
  background-color: transparent;
}

@mixin input-empty {
  color: var(--color-background-glassy-d);
}

//animation
@mixin contentExpander {
  animation: theoryFragmentAppearance .3s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

//keyframes

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin apply-to-all($mixin, $list) {
  @each $element in $list {
    @include meta.apply($mixin, $element);
  }
}

@keyframes itemPopover {
  0% {
    bottom: calc(100% - 6px);
  }

  25% {
      bottom: calc(100% - 8px);
  }

  50% {
      bottom: calc(100% - 14px);
  }

  75% {
      bottom: calc(100% - 8px);
  }

  100% {
      bottom: calc(100% - 6px);
  }
}

@keyframes buttonGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes marqueeAnimation {
  0% {transform: translate(0)}
  10% {transform: translate(-5%)}
  100% {transform: translate(-50%)}
}

@keyframes theoryFragmentAppearance{
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@function set-calc(
  $value,
  $bollean: false,
  $value2: 0%
  ) {
    @if $bollean {
      @return calc($value2 + var(--scale) * $value);
    } @else { @return calc(var(--scale) * $value) }
}
