@use "sass:math";
$rem-base: 18px;
$font-family: TTNormsPro-Normal, sans-serif;
$font-family-serif: TTNormsProSerif-Medium, serif;
$padding-x-desk-page: 56;
$padding-x-mob-page: 16;
$s-gap: 8;
$white: #fff;
$black: #161616;
$black-new: #131313;
$blackLight: #161616e7;
$link: #161616e7;
$link-underline: #d7d7d78d;
$link-visited: rgb(130,19,136);
$link-visited-underline: rgba(85,26,139,.14);
$orange: #ff2800;
$orange-hover: #e61e00;
$orange-underline: rgba(255, 40, 0, 0.2);
$blue: #008DEA;
$blue-hover: #609bf8;
$blue-underline: #609af856;
$pink: #EF005D;
$pink-hover: #e61e00;
$pink-underline: rgba(255, 40, 0, 0.2);
$popup-blue: #2e7cf6;
$popup-hover-blue: #609bf8;
$yellow: #fbbf44;
$tooltip-bg-color: #FFF705;
$yellow-hover: #e2a52b;
$green: hsl(107,94%,35%);
$green-hover: hsl(107,94%,29%);
$violet: #8d46f6;
$violet-hover: #6631b4;
$violetCool: #725ef2;
$warmGreen:  #d0f500;
$warmGreen-hover: #bdfd55;
$beige: #F3F3F3;
$beige-light: #F9F9F9;
$beige-dark: #E7E7E7;
$text-grey: #C4C4C4;
$grey: #aaa;
$grey-hover: #969696;
$grey-inactive: #707070;
$border: #d7d7d7;
$keyText: #e25050;
$pastelPink: #ffc4c4ac;
$pastelPinkLight: #ffc4c465;
$pastelViolet: #e8e5f9;
$pastelWarmGreen: #d0f50046;
$pastelColdGreen: #71e76e;
$pastelYellow: #f3e9c9;
$pastelBlue: #D9E7F9;

$breakpoints: (
  xxs: 319.98px,
  xs: 374.98px,
  sm: 575.98px,
  md: 767.98px,
  lg: 991.98px,
  xl: 1199.98px,
);
$d-hover: 0.1s;
$d-expansion: 0.5s;
$d-collapse: calc($d-expansion / 3);