@import 'styles/index';

.__ {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  color: var(--color-content-primary);
  background-color: var(--color-background-alternate);

  padding: set-calc(16);
  min-height: 100vh;
  min-width: 100vw;

  @include set-media(md) {
    display: flex;
    flex-direction: column;

    min-height: unset;
    padding: 0;
    border-radius: 0;

    width: 100%;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
}

.close {
  z-index: 1;
  position: absolute;
  top: set-calc(16);
  right: set-calc(16);

  border-radius: set-calc($border-radius-small);
  padding: set-calc(13);

  display: flex;
  color: var(--color-content-primary);
  background-color:  var(--color-background-glassy-b);

  cursor: pointer;

  transition-property: background-color, border-color, box-shadow, color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

  
  svg {
    width: set-calc(24);
    height: set-calc(24);

    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
  }

  @include set-media(md) {
    top: 0;
    right: 0;
    padding: set-calc(24);
    box-shadow: none;
    background-color: transparent;
  }
}

.close:hover {
  background-color: var(--color-background-glassy-c);

  @include set-media(md) {
    background-color: transparent;
  }
}

.close:active {
  transform: scale(0.94);

  @include set-media(md) {
    transform: none;
    background-color: transparent;
  }
}

.back {
  z-index: 1;
  position: absolute;
  top: set-calc(16);
  left: set-calc(16);

  border-radius: set-calc($border-radius-small);
  padding: set-calc(13);

  display: flex;
  color: var(--color-content-primary);
  background-color:  var(--color-background-glassy-b);

  cursor: pointer;

  transition-property: background-color, border-color, box-shadow, color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

  
  svg {
    width: set-calc(24);
    height: set-calc(24);

    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
    transform: rotate(0deg);
  }

  @include set-media(md) {
    top: 0;
    right: unset;
    left: 0;
    padding: set-calc(24);
    box-shadow: none;
    background-color: transparent;
  }
}

.back:hover {
  background-color:  var(--color-background-glassy-c);

  @include set-media(md) {
    background-color: transparent;
  }
}

.back:active {
  transform: scale(0.94);

  @include set-media(md) {
    transform: none;
    background-color: transparent;
  }
}

.body {
  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;
  height: -moz-max-content;
  height: max-content;

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header {
  padding: 0 set-calc(16) set-calc(40);
  display: flex;

  @include set-media(md) {
    padding: set-calc(12) set-calc(12) set-calc(12);
  }
}

.stepWidget {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: set-calc(8);
  justify-content: center;

  @include set-media(md) {
    column-gap: set-calc(4);
    padding-top: set-calc(8);
  }
}

.stepWidgetItem {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 set-calc(16);
  border-radius: set-calc($border-radius-large);
  background-color: var(--color-background-glassy-b);
  color: var(--color-content-tertiary);
  height: set-calc(30);

  @include font-16-normal-ui;

  @include set-media(md) {
    padding: 0 0;
    height: set-calc(30);
    width: set-calc(30);
    border-radius: 50%;
  }

  &Mob {
    display: none;
    @include set-media(md) {
      display: flex;
    }
  }

  &Desk {
    display: flex;
    @include set-media(md) {
      display: none;
    }
  }
}

.active {
  background-color: var(--color-content-background-primary);
  color: var(--color-content-inverted-primary);
  border: none;
}