@import 'styles/index';

.mob {
  display: flex;
  flex-direction: column;

  padding: 0;
  border-radius: 0;

  width: 100%;
}

.mobMenuMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: set-calc(4);
  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;
  height: max-content;
  padding: set-calc(16);
}

.mobItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 set-calc(10);
  height: set-calc(60);

  box-shadow: $shadow-menu;
  border-radius: set-calc($border-radius-10);
  background: transparent;
  color: var(--color-content-primary);

  @include set-typography(18, 24, 500);
  touch-action: manipulation;
}

.active {
  background-color: var(--color-background-glassy-b)
}

.mobMenuControls {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: set-calc(16);
}

.listOptionTitle {
  padding: set-calc(8) set-calc(8);

  @include font-18-normal-ui;
  color: var(--color-content-secondary);
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 set-calc(32);
  height: set-calc(60);
  width: 100%;

  border-radius: set-calc($border-radius-30);
  background: $gradient-blue-button;
  color: $color-palette-white-1000;

  @include set-typography(18, 24, 500);
  touch-action: manipulation;
}

.close {
  display: none;

  @include set-media(md) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    border-radius: 50%;
    padding: set-calc(18);
  
    display: flex;
    color: var(--color-content-primary);
    box-shadow: none;

    cursor: pointer;
  
    transition-property: background-color, border-color, box-shadow, color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    svg {
      width: set-calc(24);
      height: set-calc(24);
  
      display: inline-block;
      text-align: center;
      background: 50% no-repeat;
      background-size: contain;
    }
  }
}

.IsMobileMenuOpened {
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 1000;

  .mob {
    display: flex;
  }
}

.navigationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: set-calc(58);
  color: var(--color-content-primary);
  border-radius: set-calc(8);

  @include set-media(md) {
    min-height: set-calc(42);
  }
}

.navigationItem:not(:last-child) {
  margin-bottom: set-calc(4);

  @include set-media(md) {
    margin-bottom: 0;
  }
}

.navigationItem:last-child {
  margin-bottom: set-calc(24);
}

.active {
  background-color: var(--color-background-glassy-b);

  &:hover {
    cursor: default;
  }
}

.title {
  margin: 0 0 set-calc(20);
  @include font-36-normal-header;

  @include set-media(md) {
    margin: set-calc(16) 0 set-calc(16);
  }
}

.navigationItemTitle {
  display: inline-flex;
  margin: 0;
  padding: set-calc(8) set-calc(16);
  color: var(--color-content-primary);

  @include font-18-normal-ui;

  span {
    font-size: inherit;
    line-height: inherit;
  }

  @include set-media(md) {
    padding: set-calc(8) set-calc(28)   set-calc(8) set-calc(24);
  }
}

.navigationItemIndex {
  display: inline-flex;
  box-sizing: border-box;
  min-width: set-calc(38);
  padding-right: set-calc(16);
  justify-content: flex-end;

  @include set-media(md) {
    min-width: set-calc(24);
    padding: 0;
    justify-content: flex-start;
  }
}

.navigationItemInfo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;
  margin-right: set-calc(16);
}

.infoItem {
  white-space: nowrap;
  color: var(--color-content-primary);
}

.infoIcon {
  width: set-calc(24);
  height: set-calc(24);
  transition: opacity 0.1s;
  opacity: 0;
  color: var(--color-content-primary);

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
  }

  @include set-media(md) {
    opacity: 1;
  }
}

.itemStatus {
  width: set-calc(24);
  height: set-calc(24);
  display: flex;
  box-sizing: border-box;
}

.solved {
  .infoIcon {
    opacity: 1;
  }
}

.disabled {
  cursor: default;
  opacity: 0.5;

  &:hover {
    opacity: 1;

    .infoIcon {
      opacity: 1;
    }
  }

  @include set-media(md) {
    opacity: 0.5;
  
    .infoIcon {
      opacity: 0.2;
    }
  }
}