@import 'styles/index';

.mob {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  padding: 0;
  border-radius: 0;

  width: 100%;
}

.mobMenuMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: set-calc(4);
  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: set-calc(16);
}

.mobItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 set-calc(10);
  height: set-calc(60);

  box-shadow: $shadow-menu;
  border-radius: set-calc($border-radius-10);
  background: transparent;
  color: var(--color-content-primary);

  @include set-typography(18, 24, 500);
  touch-action: manipulation;
}

.active {
  background-color: var(--color-background-glassy-b);
  color: var(--primary-color);
}

.mobMenuControls {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: set-calc(16);
}

.listOptionTitle {
  padding: set-calc(8) set-calc(8);

  @include font-18-normal-ui;
  color: var(--color-content-secondary);
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 set-calc(32);
  height: set-calc(60);
  width: 100%;

  border-radius: set-calc($border-radius-30);
  background: $gradient-button;
  color: $color-palette-white-1000;

  @include set-typography(18, 24, 500);
  touch-action: manipulation;
}

.close {
  display: none;

  @include set-media(md) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    border-radius: 50%;
    padding: set-calc(18);
  
    display: flex;
    color: var(--color-content-primary);
    box-shadow: none;

    cursor: pointer;
  
    transition-property: background-color, border-color, box-shadow, color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    svg {
      width: set-calc(24);
      height: set-calc(24);
  
      display: inline-block;
      text-align: center;
      background: 50% no-repeat;
      background-size: contain;
    }
  }
}

.IsMobileMenuOpened {
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 1000;

  .mob {
    display: flex;
  }
}