@import 'styles/index';

.mob {
  display: flex;
  flex-direction: column;

  padding: 0;
  border-radius: 0;

  width: 100%;
}

.mobMenuMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: set-calc(4);
  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;
  height: max-content;
  padding: set-calc(24) set-calc(8) set-calc(16);
}

.listOptionTitle {
  padding: set-calc(4) set-calc(12);

  @include set-typography(16, 20, 500);
  color: var(--color-content-paragraph-secondary);
}

.mobItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 set-calc(16);
  height: set-calc(60);

  border-radius: set-calc($border-radius-12);
  background: transparent;

  touch-action: manipulation;
  box-shadow: none;
}

.mobItemText {
  color: var(--color-content-paragraph-primary);
  @include set-typography(18, 24, 500);
}

.mobMenuControls {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: set-calc(16) 0;
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 set-calc(24);
  height: set-calc(62);

  border-radius: set-calc($border-radius-16);
  background: var(--primary-color);
  color: $color-palette-white-1000;
  width: 100%;

  @include set-typography(18, 24, 500);
  touch-action: manipulation;
}

.close {
  display: none;

  @include set-media(md) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    border-radius: 50%;
    padding: set-calc(12);
    margin: set-calc(12);
  
    display: flex;
    color: var(--color-content-primary);

    cursor: pointer;
  
    transition-property: background-color, border-color, box-shadow, color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    svg {
      width: set-calc(24);
      height: set-calc(24);
  
      display: inline-block;
      text-align: center;
      background: 50% no-repeat;
      background-size: contain;
    }
  }
}

.IsMobileMenuOpened {
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 1000;

  .mob {
    display: flex;
  }
}

//lessons
.header {
  margin: 0 set-calc(32) 0 set-calc(16);
  max-width: set-calc(700);

  @include set-media(md) {
    margin: 0 set-calc(40) 0 set-calc(16);
  }
}

.title {
  @include font-28-normal-header;
  font-family: $font-family-bold;

  margin: set-calc(60) 0 set-calc(24);
}

.navigationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: set-calc(58);
  color: var(--color-content-primary);
  border-radius: set-calc(8);

  @include set-media(md) {
    min-height: set-calc(50);
  }
}

.navigationItem:not(:last-child) {
  margin-bottom: set-calc(4);

  @include set-media(md) {
    margin-bottom: 0;
  }
}

.navigationItemTitle {
  display: inline-flex;
  margin: 0;
  padding: set-calc(8) set-calc(16);
  color: var(--color-content-paragraph-secondary);

  @include set-typography(18, 24, 500);

  span {
    font-size: inherit;
    line-height: inherit;
  }

  @include set-media(md) {
    padding: set-calc(10) set-calc(16) set-calc(10) set-calc(10);
  }
}

.navigationItemIndex {
  display: inline-flex;
  box-sizing: border-box;
  min-width: set-calc(38);
  padding-right: set-calc(16);
  justify-content: flex-end;

  @include set-media(md) {
    min-width: set-calc(24);
    padding: 0;
    justify-content: flex-start;
  }
}

.navigationItemInfo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;
  margin-right: set-calc(8);
}

.infoItem {
  white-space: nowrap;
  color: var(--color-content-primary);
}

.infoIcon {
  width: set-calc(24);
  height: set-calc(24);
  transition: opacity 0.1s;
  opacity: 0;
  color: var(--color-content-primary);

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
  }

  @include set-media(md) {
    opacity: 1;
  }
}

.itemStatus {
  width: set-calc(24);
  height: set-calc(24);
  display: flex;
  box-sizing: border-box;
}

.solved {
  .infoIcon {
    opacity: 1;
  }
}

.disabled {
  cursor: default;
  opacity: 0.5;

  &:hover {
    opacity: 1;

    .infoIcon {
      opacity: 1;
    }
  }

  @include set-media(md) {
    opacity: 0.5;
  
    .infoIcon {
      opacity: 0.2;
    }
  }
}

//settings
.itemsGroup {
  display: flex;
  flex-direction: column;
  margin-top: set-calc(16);
  padding-bottom: set-calc(12);

  gap: set-calc(4);

  border-bottom: 1px solid var(--border-color);
}

.itemsGroup:first-child {
  margin-top: set-calc(-10);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-content: space-between;
  height: auto;
  user-select: none;

  border-radius: set-calc($border-radius-10);

  padding: set-calc(12) set-calc(16);
}

.withIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  gap: set-calc(8);

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;

    width: set-calc(24);
    height: set-calc(24);

    path {
      fill: var(--color-content-primary);
    }
  }

  span {
    font-size: inherit;
    line-height: inherit;
  }
}

.itemTitle {
  display: flex;
  align-items: center;
  gap: set-calc(8);

  color: var(--color-content-primary);
  @include set-typography(18, 24, 500)
}

.userEmail {
  display: flex;
  align-items: center;

  background: $color-gradient-rainbow;
  background-size: 400% 400%;

  -webkit-text-fill-color: transparent;
  background-clip: text;

  animation: buttonGradient 45s ease infinite;
  transition: width .3s, margin .3s, min-width .3s, background-color .3s, color .3s, border .3s, background-position 2s ease-out, padding-left .3s;

  @include set-typography(16, 20, 500);
  font-family: $font-family-bold;

  margin-top: set-calc(2);
}

.active {
  background-color: var(--color-background-glassy-c);
  font-family: $font-family-bold;

  .navigationItemTitle {
    color: var(--color-content-primary);
  }

  .mobItemText {
    color: var(--color-content-primary);
  }

  &:hover {
    cursor: default;
  }
}