@import 'styles/index';

.section {
  display: block;
  position: relative;
}

.section:not(:last-child) {
  margin-bottom: set-calc(100);

  @include set-media(md) {
    margin-bottom: set-calc(80);
  }
}

.section:last-child {
  @include set-media(md) {
    margin-bottom: set-calc(24);
  }
}

.section:has([data-bcalternate]) {
  margin-bottom: 0;
}