@import 'styles/index';

.section {
  display: block;
  position: relative;
  margin-top: set-calc(16);

  @include set-media(md) {
    margin-top: set-calc(10);
  }
}

.section:first-child {
  padding-top: 0;
}