@import 'styles/index';

.__ {
  background-color: var(--color-card);
  border: set-calc(1) solid var(--color-border);
  box-shadow: $shadow-huge-default;
  border-radius: set-calc($border-radius-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include set-media(md) {
    border: set-calc(1) solid var(--color-border);
  }
}

.content {
  padding: set-calc(48) set-calc(32);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: set-calc(300);
    padding: set-calc(24) set-calc(16);
  }
}

.contentTitle {
  color: var(--color-content-primary);
  font-family: $font-family-bold;
  margin-bottom: set-calc(48);

  @include font-40-normal-header;
  text-align: center;

  @include set-media(md) {
    @include font-32-normal-header;
    text-align: start;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;

  gap: set-calc(8);

  margin-top: set-calc(24);

  @include set-media(md) {
    justify-content: flex-end;
    align-items: start;
  }
}

.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: set-calc(60);
  
  padding: set-calc(0) set-calc(24);
  border-radius: set-calc($border-radius-30);
  background-color: var(--color-background-btn);

  color: $color-content-inverted-primary-light;
  font-family: $font-family-bold;
  transition: opacity $d-hover ease, box-shadow $d-hover ease, background-color $d-hover ease;
  cursor: pointer;

  @include font-18-normal-ui;
  white-space: nowrap;

  @include set-media(md) {
    height: set-calc(48);
  }
}

.button:hover {
  cursor: pointer;
  box-shadow: $shadow-medium-hovered;
  background-color: var(--color-background-btn-hover);
}