@import 'styles/index';

.__ {
  min-height: set-calc(350);
  background-color: $color-content-inverted-secondary;
  border: set-calc(1) solid $color-background-default;
  box-shadow: $shadow-huge-default;
  border-radius: set-calc($border-radius-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include set-media(md) {
    min-height: unset;
    border: set-calc(1) solid $color-background-default;
    border-radius: set-calc(10);
  }
}

.content {
  padding: set-calc(24);

  @include set-media(md) {
    padding: set-calc(16) set-calc(8);
  }
}

.contentTitle {
  color: $color-content-primary;
  margin-bottom: set-calc(16);

  text-align: center;

  @include set-media(md) {
    text-align: start;
  }
}

.contentDescription {
  color: $color-content-tertiary;
  text-align: center;

  @include set-media(md) {
    text-align: start;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: set-calc(8);
  overflow: hidden;

  margin-top: set-calc(24);

  @include set-media(md) {
    align-items: start;
  }
}

.button {
  position: relative;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  border-radius: set-calc($border-radius-large);
  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  background: $gradient-button;
  color: $color-content-inverted-primary;
  white-space: nowrap;
  max-width: fit-content;
  padding:0 set-calc(32);
  height: set-calc(52);

  opacity: 1;

  @include set-media(md) {
    width: 100%;
  }
}

.button:hover {
  opacity: .85;
}