@import 'styles/index';

.__ {
  min-height: set-calc(350);
  background-color: $color-content-inverted-secondary;
  border: set-calc(1.5) solid $color-background-default;
  box-shadow: $shadow-huge-default;
  border-radius: set-calc($border-radius-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include set-media(md) {
    min-height: unset;
  }
}

.content {
  padding: set-calc(24);

  @include set-media(md) {
    padding: set-calc(24) set-calc(16);
  }
}

.contentTitle {
  color: $color-content-primary;
  margin-bottom: set-calc(16);

  text-align: center;

  @include set-media(md) {
    text-align: start;
  }
}

.contentDescription {
  color: $color-content-secondary;
  text-align: center;

  @include set-media(md) {
    text-align: start;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: set-calc(8);
  overflow: hidden;

  margin-top: set-calc(24);

  @include set-media(md) {
    align-items: start;
  }
}

.button {
  position: relative;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: set-calc(52);
  padding: set-calc(16) set-calc(24);
  
  color: $color-palette-white-1000;
  background-color: $primary-color;
  border-radius: set-calc($border-radius-small);
  white-space: nowrap;
  max-width: fit-content;

  opacity: 1;
  transition: color $d-hover, opacity $d-hover;
}

.button:hover {
  opacity: .8;
}