@import 'styles/index';

.section__title {
  position: relative;

  margin-bottom: set-calc(32);
  padding-left: set-calc(16);

  @include font-32-normal-header;
  font-family: $font-family-extra-bold;

  @include set-media(md) {
    margin-bottom: set-calc(16);
    padding-left: set-calc(8);
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: set-calc(16);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    gap: set-calc(8);
  }
}