@import 'styles/index';

._ {
  position: relative;

  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin: 0 set-calc(8) 0 0;
  color: currentColor;

  @include set-media(md) {
    width: 100%;
    margin-bottom: set-calc(16);
  }
}

.input {
  @include input;
  @include input-medium;

  width: 100%;
}