@mixin sized($width, $height: $width) {
  width: $width;
  height: $height;
  min-width: $width;
  min-height: $height;
}

.Icon {
  fill: currentColor;
  outline: none;
  transition: fill 0.2s;

  &.Sm {
      --icon-size: 0.75rem;
      @include sized(var(--icon-size));
  }

  &.Md {
      --icon-size: 1rem;
      @include sized(var(--icon-size));
  }

  &.Lg {
      --icon-size: 1.5rem;
      @include sized(var(--icon-size));
  }

  &.Flip {
    transition: fill 0.2s, transform 0.2s;

    &.TransitionEntered {
      transform: rotate(180deg);
    }
  }
}
