@import 'styles/index';

.wrapper {
  display: grid;
  grid-gap: set-calc($s-gap);
  grid-template-columns: repeat(12, minmax(0, 1fr));
  // color: $white;

  @include set-media(md) {
    position: relative;
    display: block;
    left: set-calc(-$padding-x-mob-page);
    width: set-calc(calc($padding-x-mob-page * 2), true, 100%);
  }
}

.block {
  grid-column: span 6;
  position: relative;
  padding: set-calc(32);
  background: $beige;
  border-radius: set-calc(20);

  @include set-media(md) {
    margin-bottom: set-calc(8);
    padding: set-calc($padding-x-mob-page);
  }
}

.blockDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: set-calc(24);
}

.titleWrapper{
  display: flex;
  justify-content: space-between;

  @include set-media(md) {
    flex-direction: column;
  }
}

.title {
  padding-bottom: set-calc(40);
  font-family: $font-family-serif;
  @include s-text-36;

  @include set-media(md) {
    padding-bottom: set-calc(16);

    @include s-text-56;
  }
}

.subtitle {
  padding-bottom: set-calc(8);

  @include set-media(md) {
    padding-bottom: set-calc(8);
  }
}

.credit {
  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;

  font-variant-numeric: normal;
  font-family: $font-family-serif;

  s:after {
    margin-top: 1px;
    border-bottom: 1px solid var(--keyColor,rgb(227,0,22));
    content: "";
    left: -2px;
    position: absolute;
    right: -2px;
    top: 50%;
  }
}

.creditWas {
  width: max-content;
  letter-spacing: -0.05rem;
}

.creditPrice {
  position: relative;

  display: inline-block;
  letter-spacing: -0.05rem;
  color: $orange;
}

.discount {
  position: absolute;
  top: set-calc(-28);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: set-calc(12) set-calc(24);
  letter-spacing: 0;

  background: hsla(0,0%,100%,.8);
  border-radius: set-calc(30);
}

.courseInfo {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 0 set-calc(5);

  @include set-media(md) {
    align-items: start;
    padding-top: set-calc(24);
    padding-bottom: set-calc(16);
  }
}

.agreement {
  padding: 0 set-calc(8) set-calc(32);

  @include set-media(md) {
    padding-left: set-calc(2);
    padding-bottom: 0;
  }
}

.agreementText {
  padding-left: set-calc(4);
  cursor: pointer;
  white-space: nowrap;
}
