@import 'styles/index';

.input {
  position: relative;

  width: 100%;
  padding: set-calc(22) set-calc(30);

  position: relative;
  background: none;
  border: none;
  border-radius: set-calc(15);
  box-shadow: none;
  outline: none;
}

.dark {
  color: $white;
  background: hsla(0,0%,100%,.05);
  border: set-calc(1) solid hsla(0,0%,100%,.1);
}