@import 'styles/index';

.__ {
  box-sizing: border-box;
  max-width: set-calc(700);
  width: set-calc(-44, true, -44);
  padding-top: set-calc(40);
  padding-bottom: set-calc(120);
}

.buttons {
  display: flex;
  align-items: flex-start;

  @include set-media(md) {
    width: 100%;
  }
}

.nextLesson {
  display: flex;

  @include set-media(md) {
    width: 100%;
  }
}

.button {
  position: relative;
  align-items: center;
  justify-content: center;

  padding: set-calc(20) set-calc(24);
  gap: set-calc(8);
  border-radius: set-calc(8);
  background-color: $color-accent-neutral;
  color: $color-content-inverted-primary;

  transition-property: background-color, border-color, box-shadow, color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $color-accent-neutral-hover;
  }

  @include set-media(md) {
    width: 100%;
  }
}