@import 'styles/index';

._ {
  position: relative;

  width: 100%;
  margin-bottom: set-calc(56);
}

.label {
  position: absolute;

  display: block;
  margin-bottom: set-calc(16);

  color: $color-content-secondary;

  transform: translateY(-100%);
}

.input {
  width: 100%;
  padding: 0 0 set-calc(4);

  background: none;
  border: none;
  border-bottom: set-calc(3) solid $color-content-background-primary;

  border-radius: 0;
  outline: none;
  box-shadow: none;

  @include set-media(md) {
    border-bottom: set-calc(2) solid $color-content-background-primary;
  }

}

.isDisabled {
  color: