@import 'styles/index';

@import 'styles/index';

.__ {
  position: relative;
  margin: set-calc(20) 0 set-calc(40);

  width: set-calc(764);
  left: set-calc(-32);

  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(30);
    width: set-calc(398);
    left: set-calc(-16);
  };
}
.textImportantWrapper {
  padding: set-calc(32);
  background-color: $color-profession-lighten;
  border-radius: set-calc($border-radius-medium);

  display: flex;
  flex-direction: column;

  @include set-media(md) {
    padding: set-calc(16);
  }
}

.textImportantWrapper > *:not(:last-child) {
  margin: set-calc(20) 0 set-calc(16);

  @include set-media(md) {
    margin: set-calc(20) 0 set-calc(16);
  }
}

.textImportantWrapper > *:first-child {
  margin-top: 0;
}

.textImportantWrapper > * {
  @include s-text-20;

}