@import 'styles/index';

._ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    background-color: $white;
}
  
.content {
    margin-top: set-calc(16);
  
    @include set-media(md) {
        margin-top: set-calc(64);
    }
}

.Course-wrapper {
    padding: 0 set-calc($padding-x-desk-page);
  
    @include set-media(md) {
        padding: 0 set-calc($padding-x-mob-page);
    }
}

.Catalogue-wrapper {

}

.FreeZone-wrapper {

}

.My-wrapper {
    padding: set-calc(40) set-calc($padding-x-desk-page) 0;

    @include set-media(md) {
      padding: 0 set-calc($padding-x-mob-page);
    }
}

.Lessons-wrapper {
    padding: 0 set-calc($padding-x-desk-page);

    @include set-media(md) {
      padding: 0 set-calc($padding-x-mob-page);
    }
}

.Lesson-wrapper {
    padding: 0 set-calc($padding-x-desk-page);
  
    @include set-media(md) {
      padding: 0 set-calc($padding-x-mob-page);
    }
}