@import 'styles/index';

.trainerContent {
  position: relative;
  display: flex;
  min-width: 0;
  height: -moz-max-content;
  min-height: 100vh;
}

._ {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.theoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  overflow: auto;
  flex: 1 1 100%;
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.WEBWrapper {
  padding: 0 set-calc($padding-x-desk-page);

  @include set-media(md) {
    padding: 0 set-calc($padding-xs-mob-page);
  }
}

.LMSWrapper {
  padding: 0 set-calc($padding-x-desk-page);

  @include set-media(md) {
    padding: set-calc(16) set-calc($padding-x-mob-page);
  }
}

.FallbackWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: set-calc(16);
  background-color: transparent;

  padding: 0 set-calc($padding-x-desk-page);

  @include set-media(md) {
    padding: 0 set-calc($padding-x-mob-page);
  }

}