@import 'styles/index';

.wrapper {
display: block;
}

.title {
  padding-bottom: set-calc(60);

  @include set-media(md) {
    padding-bottom: set-calc(32);
  }
}

.section {
  background: transparent;
  border-radius: set-calc(20);

  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-column-gap: set-calc(8);

  @include set-media(md) {
    background: $beige;
    border-radius: set-calc(20);

    display: flex;
    flex-direction: column;
    padding: set-calc(16);
    min-height: set-calc(382);
  }
}

.card {
  position: relative;
  background: $beige;
  border-radius: set-calc(20);
  height: set-calc(485);
  padding: set-calc(32);

  @include set-media(md) {
    height: auto;
    background: transparent;
    padding: 0;
  }
}

.cardTitle {
  padding-bottom: set-calc(32);
  color: $text-grey;

  @include set-media(md) {
    padding-bottom: set-calc(16);
  }
}

.cardDesc {
  padding-bottom: set-calc(24);
}

.cardMedia {
  padding: 0;
  overflow: hidden;
}

.cardMedia img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: set-calc(20);

  @include set-media(md) {
    max-height: set-calc(350);
  }
}