@import 'styles/index';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: set-calc(24);
  @include set-media(md) {
    margin-top: set-calc(32);
  }
}


.headerTitle {
  position: relative;

  padding-bottom: set-calc(24);

  @include font-56-normal-header;
  font-family: $font-family-bold;
  text-align: center;

  @include set-media(md) {
    padding-bottom: set-calc(16);
  }
}

.headerDescription {
  position: relative;

  margin-bottom: set-calc(40);
  max-width: set-calc(600);

  @include font-21-normal-paragraph;
  color: var(--color-content-paragraph-primary);
  text-align: center;

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.commonFlowRow {
  @include set-media(md) {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 set-calc(16) set-calc(16);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  grid-gap: set-calc(16);
  padding: set-calc(24) 0 0;

  @include set-media(md) {
    position: relative;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    width: set-calc(16, true, 100%);
    left: set-calc(-8);
    padding: set-calc(32) set-calc(8) set-calc(16);
  }
}

.block {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: min(380px, 80vw);

  padding: set-calc(32);
  background-color: var(--color-card);
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    padding: set-calc(24);
    flex-grow: 1;

    min-width: 100%;
    min-height: unset;

    // box-shadow: 0 0 0 2px $color-palette-black-200, 0 2px 0 2px $color-palette-black-200;
    border-radius: set-calc($border-radius-medium);
    // background-color: var(--color-card);
    // -webkit-tap-highlight-color: transparent;
    // cursor: pointer;

    transition: box-shadow $d-hover ease-in, background-color $d-hover ease-in;
  }
}

// .block:active {
//   @include set-media(md) {
//     box-shadow: 0 0 0 2px $color-palette-black-600;
//     transform: translate3d(0, 2px, 0);
//   }
// }

// .active {
//   @include set-media(md) {
//     background-color: $color-palette-indigo-100;
//     box-shadow: 0 0 0 2px var(--primary-color), 0 2px 0 2px var(--primary-color);
//     -webkit-tap-highlight-color: transparent;
//     cursor: pointer;
  
//     .courseName {
//       color: $color-content-primary-light;
//     }
//     .title  {
//       color: $color-content-paragraph-secondary-light;
//     }
//     .credit {
//       s:after {
//         border-bottom: set-calc(1.5) solid $color-background-glassy-d-light;
//         @include set-media(md) {
//           border-bottom: set-calc(1) solid $color-background-glassy-d-light;
//         }
//       }
//     }
    
//     .creditWas {
//       color: $color-background-glassy-d-light;
//     }
    
//     .creditPrice {
//       color: $color-content-primary-light;
//     }
    
//     .discount {
//       background: $color-background-glassy-b-light;
//       color: $color-content-primary-light;
//     }
//   }
// }

.block:first-child {
  background-color: var(--color-accent-promo-background);

  .courseName {
    color: var(--color-content-inverted-primary);
  }
  .title {
    color: var(--color-content-inverted-secondary);
  }

  .creditPrice {
    color: var(--color-content-inverted-primary);
  }

  .credit {
    s:after {
      border-bottom: set-calc(1.5) solid var(--color-background-glassy-inverted-d);

      @include set-media(md) {
        border-bottom: set-calc(1) solid var(--color-background-glassy-inverted-d);
      }
    }
  }

  .creditWas {
    color: var(--color-background-glassy-inverted-d);
  }

  .itemIcon {
    color: var(--color-content-inverted-primary);

    svg {
      path {
        fill: var(--color-content-primary);
      }
    }
  }

  .itemText {
    color: var(--color-content-inverted-secondary);
  }

  .cardBtn {
    color: $color-content-inverted-primary-light;
    border: 2px solid $primary-color-dark;
    background-color: $primary-color-dark;
  
    &:hover {
      cursor: pointer;
      box-shadow: $shadow-medium-hovered;
      background-color: $primary-color-hover-dark;
      border-color: $primary-color-hover-dark;
    }
  }
}

.courseName {
  margin-bottom: set-calc(8);

  @include font-21-normal-paragraph;
  font-family: $font-family-bold;
  color: var(--color-content-primary);
}

.title {
  max-width: set-calc(560);
  word-break: break-word;
  margin: set-calc(24) 0;

  @include set-typography(18, 26, 500);
  color: var(--color-content-paragraph-secondary);
}

.pricingCheckList {
  flex: 1;
  display: block;
  padding-left: 0;
  list-style: none;
}

.pricingCheckListItem {
  position: relative;

  display: flex;
  align-items: center;
  gap: set-calc(12);
}

.pricingCheckListItem:not(:last-child) {
  margin-bottom: set-calc(16);
}

.itemIcon {
  width: set-calc(20);
  height: set-calc(20);

  color: var(--color-content-primary);
  margin-bottom: set-calc(2);

  svg {
    path {
      fill: var(--color-content-inverted-primary);
    }
  }
}

.itemText {
  @include set-typography(18, 26, 500);
  color: var(--color-content-paragraph-secondary);
}

.buble {
  position: absolute;
  right: set-calc(20);
  top: set-calc(-18);
  transform: rotate(0);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;

  border-radius: set-calc($border-radius-large);
  padding: set-calc(8) set-calc(12);
  background: $color-gradient-rainbow-btn;
  background-size: 400% 400%;

  animation: buttonGradient 45s ease infinite;
  transition: width .3s, margin .3s, min-width .3s, background-color .3s, color .3s, border .3s, background-position 2s ease-out, padding-left .3s, opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  
  color: $color-content-primary-dark;
  @include font-14-normal-ui;
  font-family: $font-family-bold;

  @include set-media(md) {
    right: set-calc(20);
    top: set-calc(-14);
    padding: set-calc(8) set-calc(12);
  }
}

.credit {
  padding-top: set-calc(16);

  display: flex;
  gap: set-calc(32);

  @include set-media(md) {
    padding-top: 0;
  }

  s:after {
    margin-top: 0;
    border-bottom: set-calc(1.5) solid var(--color-background-glassy-d);
    content: "";
    left: set-calc(-2);
    position: absolute;
    right: set-calc(-2);
    top: 50%;

    @include set-media(md) {
      border-bottom: set-calc(1) solid var(--color-background-glassy-d);
    }
  }
}

.creditWas {
  width: max-content;
  margin-bottom: set-calc(4);
  color: var(--color-background-glassy-d);

  @include font-24-normal-header;
  font-family: $font-family-bold;
  letter-spacing: -0.05rem;
  align-self: flex-end;
}

.creditPrice {
  position: relative;
  @include set-typography(48, 50, 500);
  font-family: $font-family-bold;

  display: inline-block;
  letter-spacing: -0.05rem;
  color: var(--color-content-primary);
  align-self: flex-end;

  @include set-media(md) {
    @include set-typography(48, 50, 500);
  }
}

.discount {
  position: absolute;
  top: set-calc(-28);
  right: unset;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include font-14-normal-ui;
  font-family: $font-family;
  letter-spacing: 0;

  padding: set-calc(6) set-calc(10);
  background: var(--color-background-glassy-b);
  color: $color-content-paragraph-secondary-light;
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    right: set-calc(-44);
    top: set-calc(-24);
  }
}

.courseInfo {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 0 set-calc(5);

  @include set-media(md) {
    align-items: start;
    padding-top:  0;
    padding-bottom: set-calc(150);
  }
}

.btnWrapper {
  display: none;

  // @include set-media(md) {
  //   position: fixed;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   width: 100%;
  //   bottom: set-calc(0);
  //   background-color: var(--color-card);

  //   padding: set-calc(16) 0;
  // }
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-content-inverted-primary-light;
  @include font-21-normal-ui;
  font-family: $font-family-bold;

  border-radius: set-calc($border-radius-10);
  background-color: var(--primary-color);
  height: set-calc(60);
  padding: 0 set-calc(32);
  width: fit-content;

  transition: opacity $d-hover ease, box-shadow $d-hover ease, background-color $d-hover ease, transform 0.15s ease-out;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    background-color: var(--primary-color-hover);
  }

  @include set-media(md) {
    height: set-calc(52);
    width: 100%;
    border-radius: set-calc($border-radius-10);
    margin: 0 set-calc(16);
  }
}

.cardBtn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: set-calc(32);

  color: var(--color-content-primary);
  @include font-21-normal-ui;
  font-family: $font-family-bold;

  border-radius: set-calc($border-radius-16);
  border: 2px solid var(--color-content-background-primary);
  background-color: transparent;
  height: set-calc(64);
  padding: 0 set-calc(32);

  transition: opacity $d-hover ease, box-shadow $d-hover ease, background-color $d-hover ease, transform 0.15s ease-out, color $d-hover ease,;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    background-color: var(--color-content-background-primary);
    color: var(--color-content-inverted-primary);
  }

  @include set-media(md) {
    // display: none;
  }
}