@import 'styles/index';
.headerTitle {
  position: relative;

  padding-bottom: set-calc(18);

  @include font-36-normal-header;
  text-align: center;

  @include set-media(md) {
    padding-bottom: 0;

    text-align: start;
  }
}

.commonFlowRow {
  @include set-media(md) {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 set-calc(16);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  grid-gap: set-calc($s-gap);
  padding: set-calc(24) 0 0;

  @include set-media(md) {
    position: relative;

    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    flex-grow: 1;

    width: set-calc(16, true, 100%);
    left: set-calc(-8);
    padding: set-calc(32) set-calc(8) set-calc(16);

    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: scroll;

    scroll-behavior: smooth;
    scroll-snap-type: block;
  }
}

.block {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  min-width: min(380px, 80vw);
  min-height: 60vh;

  padding: set-calc(24);
  border-radius: set-calc($border-radius-large);
  background: $color-gradient-summer-fair;
  border: set-calc(2.5) solid $color-content-background-secondary-light;
  box-shadow: $shadow-medium-default;

  @include set-media(md) {
    border-radius: set-calc($border-radius-medium);
    border: set-calc(2) solid $color-content-background-secondary-light;
    padding: set-calc(16);
    flex-grow: 1;
  }
}

.block:last-child {
  background: $color-card-light;

  // .courseName {
  //   color: var(--color-content-paragraph-primary);
  // }

  // .title {
  //   color: var(--color-content-primary);
  // }

  // .credit{
  //   s:after {
  //     border-bottom: set-calc(1.5) solid var(--color-background-glassy-d);
  
  //     @include set-media(md) {
  //       border-bottom: set-calc(1) solid var(--color-background-glassy-d);
  //     }
  //   }
  // }

  // .creditWas {
  //   color: var(--color-background-glassy-d);
  // }

  // .creditPrice {
  //   color: var(--color-content-primary);
  // }

  // .discount {
  //   background: var(--color-background-alternate);
  // }

  // .btn {
  //   background-color: var(--color-content-background-primary);
  //   color: var(--color-content-inverted-primary);
  // }
}

.titleWrapper{
  display: flex;
  flex-direction: column;

  margin-bottom: set-calc(16);

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.courseName {
  margin-bottom: set-calc(8);
  color: $color-content-paragraph-primary-light;

  @include font-16-normal-paragraph;
}

.title {
  max-width: set-calc(560);
  word-break: break-word;
  margin-bottom: set-calc(16);

  @include font-24-normal-header;
  color: $color-content-primary-light;
}

.buble {
  position: absolute;
  right: set-calc(20);
  top: set-calc(-30);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;

  transform: rotate(2deg);
  padding: set-calc(10) set-calc(15);

  border-radius: set-calc($border-radius-large);
  padding: set-calc(10) set-calc(15);
  border: set-calc(2.5) solid $color-content-primary-light;
  backdrop-filter: blur(set-calc($backdrop-filter));
  background: $color-card-glassy-light;
  color: $color-content-primary-light;

  @include font-21-normal-ui;

  @include set-media(md) {
    padding: set-calc(8) set-calc(12);
    border: set-calc(1.5) solid $color-content-primary-light;
  }
}

.credit {
  margin-top: auto;

  padding-top: set-calc(32);
  margin-bottom: set-calc(24);

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;

  @include set-media(md) {
    padding-top: 0;
  }

  s:after {
    margin-top: 0;
    border-bottom: set-calc(1.5) solid $color-background-glassy-d-light;
    content: "";
    left: set-calc(-2);
    position: absolute;
    right: set-calc(-2);
    top: 50%;

    @include set-media(md) {
      border-bottom: set-calc(1) solid $color-background-glassy-d-light;
    }
  }
}

.creditWas {
  width: max-content;
  margin-bottom: set-calc(4);
  color: $color-background-glassy-d-light;

  @include font-24-normal-header;
  letter-spacing: -0.05rem;
}

.creditPrice {
  position: relative;
  @include set-typography(56, 60, 500);

  display: inline-block;
  letter-spacing: -0.2rem;
  color: $color-content-primary-light;

  @include set-media(md) {
    @include set-typography(48, 48, 500);
  }
}

.discount {
  position: absolute;
  top: set-calc(-28);
  right: unset;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include font-18-normal-ui;
  letter-spacing: 0;

  padding: set-calc(8) set-calc(16);
  background: $color-content-primary-light;
  color: $color-content-inverted-primary-light;
  backdrop-filter: blur(set-calc($backdrop-filter));
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    right: set-calc(100);
    top: set-calc(-34);
  }
}

.courseInfo {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 0 set-calc(5);

  @include set-media(md) {
    align-items: start;
    padding-top:  0;
    padding-bottom: set-calc(150);
  }
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-palette-white-1000;
  @include font-21-normal-ui;

  border-radius: set-calc($border-radius-10);
  background-color: $color-content-background-primary-light;
  height: set-calc(60);
  padding: 0 set-calc(32);
  width: 100%;

  transition: opacity $d-hover ease, box-shadow $d-hover ease, background-color $d-hover ease;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    opacity: 0.9;
  }

  @include set-media(md) {
    height: set-calc(52);
    border-radius: set-calc($border-radius-10);
  }
}