@import 'styles/index';

.wrapper {
  display: flex;
  gap: set-calc($s-gap);
  padding: set-calc(24) 0 0;
  justify-content: center;

  @include set-media(md) {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    width: set-calc(390);
    left: set-calc(12);
    padding: set-calc(48) 0 set-calc(16);
  }
}

.block {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: set-calc(560);
  padding: set-calc(24);

  @include set-media(md) {
    border-radius: set-calc($border-radius-medium);
    padding: set-calc(16);

    min-height: unset;
    width: 100%;
  }
}

.title {
  max-width: set-calc(560);
  margin-bottom: set-calc(16);
  
  word-break: break-word;
  @include font-32-normal-header;
  color: var(--color-content-primary);
  font-family: $font-family-bold;
  
  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.description {
  padding: set-calc(16) 0 set-calc(80);

  p {
    @include font-18-normal-paragraph;
  }

  p:not(:last-child) {
    margin-bottom: set-calc(16);
  }

  @include set-media(md) {
    padding: set-calc(16) 0 set-calc(60);
  }
}