@import 'styles/index';

.paymentWrapper {
  display: flex;
  gap: set-calc($s-gap);
  justify-content: center;
  flex-grow: 1;

  padding: set-calc(24) 0 0;

  @include set-media(md) {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    width: set-calc(390);
    left: set-calc(12);
    padding: set-calc(32) 0 set-calc(16);
  }
}

.paymentBlock {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  padding: set-calc(24);
  border-radius: set-calc($border-radius-large);
  background-color: var(--color-card);
  border: set-calc(1) solid var(--color-border);
  box-shadow: $shadow-medium-default;

  @include set-media(md) {
    border-radius: set-calc($border-radius-medium);
    padding: set-calc(16);

    width: 100%;
  }
}

.headerWrapper{
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-content-inverted-primary);
  @include font-21-normal-ui;

  border-radius: set-calc($border-radius-10);
  background-color: var(--color-content-background-primary);
  height: set-calc(60);
  width: 100%;

  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    opacity: 0.9;
  }

  @include set-media(md) {
    height: set-calc(48);
  }
}

.btn:disabled {
  background-color: var(--color-background-glassy-a);
  color: var(--color-content-tertiary);
  pointer-events: none;
}

.paymentCheck {
  position: relative;
  display: block;
  margin: 0 set-calc(8) set-calc(24);

  input {
    display: none;
  }

  label {
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    color: var(--color-content-secondary);

    span {
      @include set-typography(14, 16, 500);
    }

    svg {
      position: relative;
      display: block;
      width: set-calc(16);
      height: set-calc(16);
      margin-right: set-calc(8);

      path {
        fill: none;
      }

      rect {
        fill: var(--color-background-glassy-a);
      }
    }
  }
  
  input:checked + label {
    path {
      fill: var(--color-content-primary);
    }
  }
}

.title {
  max-width: set-calc(560);
  margin-bottom: set-calc(16);

  word-break: break-word;
  @include font-18-normal-ui;
  color: var(--color-content-tertiary);

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.creditPrice {
  position: relative;
  @include font-36-normal-header;

  display: inline-block;
  margin-right: set-calc(16);
  color: var(--color-content-primary);

  @include set-media(md) {
    @include font-56-normal-header;
  }
}

.paymentSummary {
  display: flex;
  gap: 0.25em 1em;

  margin-top: set-calc(16);
}

.paymentSummary > :last-child {
  margin: 0 0 0 auto;
  text-align: end;
}

.paymentSummaryTags {
  display: flex;
  flex-wrap: wrap;
  gap: set-calc(4);
  margin-top: set-calc(4);
}

.paymentSummaryTag {
  display: inline-block;
  padding: set-calc(4);

  background: var(--color-background-alternate);
  border-radius: set-calc($border-radius-4);
  color: var(--color-content-primary);

  @include font-14-normal-ui;
  text-align: start;
}

.paymentSummaryCreditWas {
  display: block;
  padding-block: set-calc(4);

  color: var(--color-content-tertiary);
  @include font-14-normal-ui;
  margin-top: set-calc(4);
  white-space: nowrap;

  s:after {
    margin-top: 0;
    border-bottom: set-calc(1.5) solid var(--color-content-tertiary);
    content: "";
    position: absolute;
    left: set-calc(-2);
    right: set-calc(-2);
    top: 50%;

    @include set-media(md) {
      border-bottom: set-calc(1) solid var(--color-content-tertiary);
    }
  }
}

.paymentOptions {
  margin-top: set-calc(80);
  margin-bottom: set-calc(24);

  @include set-media(md) {
    margin-bottom: set-calc(32);
  }
}

.optionDescription {
  padding: set-calc(8) set-calc(8) 0;
  @include font-14-normal-ui;

  a {
    color: var(--primary-color);
  }

  @include set-media(md) {
    padding: set-calc(16) set-calc(8) 0;
  }
}

.groupToggleOptions {
  display: flex;
  padding: set-calc(4);
  border-radius: set-calc($border-radius-large);
  background-color: var(--color-background-glassy-b);
  backdrop-filter: blur(set-calc($backdrop-filter));
}

.groupToggleOption {
  width: 50%;
}

.groupToggleLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include font-16-normal-ui;
  text-align: center;

  cursor: pointer;
  padding: set-calc(16) 0;
  border-radius: set-calc($border-radius-large);
}

.checked {
  background-color: var(--color-content-inverted-primary);
  color: var(--color-content-primary);
  cursor: default;
}