@import 'styles/index';

._ {
  position: relative;

  display: flex;
  flex-direction: column;
  z-index: 3000;

  @include is-beige;

  @include set-media(md) {
    padding: set-calc(2 * $padding-x-mob-page) set-calc($padding-x-mob-page);
  }
}

.inner {
  position: relative;

  display: flex;

  @include set-media(md) {
    flex-direction: column;
  }
}

.fields {
  display: flex;
  flex: 1;
  flex-flow: column;
  padding-right: set-calc(88);

  @include set-media(md) {
    padding: 0;
  }
}

.fieldsTitle {
  padding-bottom: set-calc(56);

  @include set-media(md) {
    padding-bottom: set-calc(40);
  }
}

.fieldsInner {
  margin-bottom: set-calc(56);

  @include set-media(md) {
    margin-bottom: set-calc(24);
  }
}

.submit {
  margin-top: set-calc(40);

  @include set-media(md) {
    order: 3;
    width: auto;
    margin-top: 0;
    margin-bottom: set-calc(56);
    padding: 0 set-calc($padding-x-mob-page);
  }
}

.submitBtn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: set-calc(48);
  padding: set-calc(4) set-calc(40);

  color: $white;

  background: $green;
  border-radius: set-calc(20);
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  @include set-media(md) {
    width: 100%;
  }
}

.submitBtn:hover {
  background-color: $green-hover;
}

.isDisabled {
  color: $grey-inactive;
  background: $grey;

  pointer-events: none;
}

.submitDescription {
  width: set-calc(440);
  margin-top: set-calc(16);

  color: $grey;

  @include set-media(md) {
    width: 100%;

    text-align: center;
  }
}

.files {
  display: flex;
  flex-flow: column;
  width: 520px;
  overflow: hidden;

  @include set-media(md) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.filesHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: set-calc(56);

  @include set-media(md) {
    flex-direction: column;
    width: 100%;
    margin-bottom: set-calc(40);
  }
}

.filesTitle {
  @include set-media(md) {
    padding-bottom: set-calc(40);
  }
}

.filesBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: set-calc(48);
  padding: set-calc(4) set-calc(40);

  color: $black-new;
  text-align: center;

  border: set-calc(2) solid $black-new;
  border-radius: set-calc(20);

  cursor: pointer;
  transition: opacity, color;
  transition-duration: $d-hover;
}

.filesBtn:hover {
  opacity: 0.5;
}

.filesContent {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow: auto;
}

.file {
  width: set-calc(-20, true, 50%);
  margin: 0 set-calc(20) set-calc(20) 0;
}

.filesEmpty {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;

  color: $grey;
  text-align: center;
}