@import 'styles/index';

.sectionTitle {
  position: relative;
  padding-bottom: set-calc(32);
  padding-left: set-calc(16);

  @include font-32-normal-header;
  font-family: $font-family-extra-bold;

  @include set-media(md) {
    position: relative;
    padding-bottom: set-calc(16);
    padding-right: set-calc(8);
    padding-left: set-calc(8);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: set-calc(16);

  @include set-media(md) {
    flex-direction: column;
    gap: set-calc(8);
  }
}