@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: set-calc(24);

  @include set-media(md) {
    padding: 0 set-calc(8);
    margin-bottom: set-calc(16);
  }
}

.headerTitle {
  padding-bottom: set-calc(16);

  @include set-media(md) {
    padding-bottom:  set-calc(8);
  }
}

.headerDesc {
  max-width: set-calc(600);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: grid;
  grid-template-columns: repeat(var(--items-in-row, 2), minmax(0,1fr));
  grid-column-gap: set-calc(10);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    margin-bottom: set-calc(8);
  }
}

.itemCard {
  position: relative;
  padding: set-calc(24);
  margin-bottom: set-calc(10);

  border-radius: set-calc($border-radius-medium);
  background-color: var(--color-card);
  border: set-calc(1) solid var(--color-border);
  box-shadow: $shadow-huge-default;
  overflow: hidden;

  color: var(--color-content-primary);
  text-align: left;

  transition: max-height 0.2s  ease-out, box-shadow 0.2s  ease-out;


  @include set-media(md) {
    padding: set-calc(16);
    margin-bottom: 0;
  }
}

.itemCardHoverable:hover {
  box-shadow: $shadow-medium-hovered;
  transition: max-height 0.2s  ease-out, box-shadow 0.2s  ease-out;

  .slideDownClosed {
    max-height: set-calc(56);
    transition: max-height 0.2s  ease-out;
  }

  .slideDownClosed::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: set-calc(56);
      background: linear-gradient(180deg, transparent 0%, var(--color-background-glassy-c) 100%);
      pointer-events: none;
    }
  
  @include set-media(md) {
    box-shadow: none;
    .slideDownClosed {
      max-height: 0;

      &::before {
        display: none;
      }
    }
  } 

  .hiddenButton {
    padding: 0;
    border: none;
    opacity: 0;
    font-size: 0;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      cursor: pointer;
    }
  } 
}

.slideDown {
  display: flex;
  flex-direction: column;
  max-height: 1000vh;
  transition-property: max-height;
  transition-timing-function: ease-out;
  transition-delay: -200ms;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(1, 0, 1, 0);
}

.slideDownClosed {
  max-height: 0;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: set-calc(24);
  right: set-calc(24);
  width: set-calc(48);
  height: set-calc(48);
  border-radius: 50%;
  background-color: var(--color-background-glassy-c);
  color: $color-palette-black-25;

  @include set-typography(24, 24, 500);

  @include set-media(md) {
    display: none;
  }
}

.meta {
  display: flex;
  justify-content: space-between;

  @include font-16-normal-ui;
}

.title {
  margin: set-calc(16) 0 set-calc(8);
  @include font-36-normal-header;
}

.description {
  margin-right: set-calc(56);
  max-width: set-calc(800);

  @include font-21-normal-paragraph;
  color: var(--color-content-paragraph-primary);

  @include set-media(md) {
    margin-right: 0;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: set-calc($s-gap);

  margin-top: set-calc(40);
  margin-bottom: 0;
  padding: 0;

  @include set-media(md) {
    margin-top: set-calc(20);
  }
}

.tag {
  padding: set-calc(10) set-calc(16);
  @include font-16-normal-ui;

  border-radius: set-calc($border-radius-large);
  background-color: var(--color-background-glassy-b);
  list-style-type: none;

  @include set-media(md) {
    padding: set-calc(8) set-calc(12);
  }
}

.additionalInfo {
  display: flex;
  gap: set-calc(36);
  position: relative;
  margin-top: set-calc(48);
  margin-bottom: set-calc(24);

  @include set-media(md) {
    flex-direction: column;
    gap: set-calc(20);
    margin-top: set-calc(40);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: set-calc(16);
  min-width: set-calc(320);
  position: relative;
}

.projectsDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: set-calc(320);

  @include font-28-normal-header;

  @include set-media(md) {
    width: 100%;
  }
}

.subsections {
  @include is-grid-3;
  gap: set-calc(36);

  @include set-media(md) {
    gap: set-calc(12);
  }
}

.item:first-child {
    pointer-events: none;
  
  .itemCard {
   background: $color-promo-highlight-sky;

    [data-subsection] {
      color: $color-content-paragraph-primary-light;
    }

    .description {
      color: $color-content-paragraph-primary-light;
    }

    .subsections,
    .projectsDescription,
    .title,
    .meta {
      color: $color-content-primary-light;
    }


  }

  .bullet {
    display: none;
  }

  .itemPlus {
    display: none;
  }

  @include set-media(md) {
    pointer-events: unset;
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: set-calc(4);

  padding: set-calc(10) set-calc(16);
  border-radius: set-calc($border-radius-30);

  color: var(--primary-color);
  @include font-21-normal-ui;
  font-variant: small-caps;

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;

    width: set-calc(24);
    height: set-calc(24);
  }

  @include set-media(md) {
    padding: set-calc(8) set-calc(12);
  }
}

.item:not(:first-child) {
  .badge  {
    display: none;
  }
}


.itemPlus {
  display: none;

  @include set-media(md) {
    position: absolute;
    top: set-calc(16);
    right: set-calc(16);
    display: flex;

    padding: set-calc(8);
    background: var(--color-background-glassy-d);
    border-radius: 50%;

    svg {
      width: set-calc(16);
      height: set-calc(16);

      stroke-width: set-calc(3);
      stroke:  var(--color-content-inverted-primary);

        width: set-calc(16);
        height: set-calc(16);
      }
  }
}