<tr>
  <td>
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
      style="margin-top:8px;line-height:normal;word-break:normal;">
      <tbody>
        <tr>
          <td align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;padding:10px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
              <tbody>
                <tr>
                  <td>
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                      style="margin-top:8px;line-height:normal;word-break:normal;">
                      <tbody>
                        <tr>
                          <td align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;padding:10px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                              <tbody>
                                <tr>
                                  <td
                                    style="background-color:#f5f5f5;padding:26px 8px 0px;border-top-left-radius:25px;border-top-right-radius:25px"
                                    bgcolor:"#f5f5f5" align="center">
                                    <table style="max-width:540px;border-spacing:0px" width="100%" cellspacing="0"
                                      cellpadding="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td align="left">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                              <tbody>
                                                <tr>
                                                  <td style="font-size:0px;line-height:0px" valign="middle"
                                                    align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td style="font-size:14px;line-height:16px" align="left">
                                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                              border="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="left">
                                                                    <a style="font-family:Arial,Tahoma,Helvetica,sans-serif;font-size:18px;text-decoration:none;color:#262626"
                                                                      href="https://flearn.net">
                                                                      Freadom to Learn
                                                                    </a>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                              border="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td style="font-size:0;line-height:25px" height="25">
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                              <tbody>
                                <tr>
                                  <td
                                    style="background-color:#ffffffff;padding:30px 20px 20px;border-top-left-radius:25px;border-top-right-radius:25px"
                                    bgcolor="#ffffffff" align="center">
                                    <table style="max-width:540px;border-spacing:0px" width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td
                                            style="font-family:Helvetica,Arial,sans-serif;font-size:32px;line-height:38px;color:#000000"
                                            align="left">
                                            <span>Добро пожаловать на {{courseType}} </span>
                                            <span style="color:#262626">«{{courseTitle}}»</span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="background-color:#ffffffff;padding:0 20px 10px" bgcolor=#ffffffff"
                                    align="center">
                                    <table style="max-width:540px;border-spacing:0px" width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td
                                            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#000000"
                                            align="left">
                                            <span>
                                              Перед тем, как приступить к&nbsp;основному курсу, мы&nbsp;предлагаем всем
                                              студентам пройти бесплатную вводную часть.
                                              <br>
                                              <br>
                                              За&nbsp;10&nbsp;часов
                                              <br>
                                              <br>
                                              → познакомитесь с&nbsp;форматом обучения в&nbsp;flearn
                                              <br>
                                              <br>
                                              → пройдете ключевые этапы работы над иллюстрацией
                                              <br>
                                              <br>
                                              → нарисуете обложку к любимой песне
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="background-color:#ffffff;padding:20px 20px 30px;border-bottom-left-radius:25px;border-bottom-right-radius:25px"
                                    bgcolor="#ffffff" align="center">
                                    <table style-"max-width:540px;border-spacing:0px" width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td align="left">
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="border-radius:100px;background-color:#262626"
                                                    valign="middle" height="60" bgcolor="#262626" align="center"
                                                    width="100%">
                                                    <a href="{{startLink}}"
                                                      style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:52px;font-weight:normal;white-space:nowrap;text-decoration:none;display:block;padding:0px 32px;color:#ffffff"
                                                      target="_blank">
                                                      <span style="color:#ffffffff;text-decoration:none"
                                                        color="#ffffffff">
                                                        <span style="color:#ffffffff">Начать учиться</span>
                                                      </span>
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td style="line-height:20px;font-size:0" height="20"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="background-color:#ffffffff;padding:30px 20px 20px;border-top-left-radius:25px;border-top-right-radius:25px"
                                    bgcolor="#ffffffff" align="center">
                                    <table style="max-width:540px;border-spacing:0px" width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td
                                            style="font-family:Helvetica,Arial,sans-serif;font-size:32px;line-height:38px;color:#000000"
                                            align="left">
                                            <span>
                                              Присоединяйтесь к нам в Telegram
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="background-color:#ffffff;padding:0 20px 20px" bgcolor="#ffffffff"
                                    align="center">
                                    <table style="max-width:540px;border-spacing:0px" width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td
                                            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#000000"
                                            valign="top" align="left">
                                            <span>
                                              Там мы рассказываем про анонсы и скидки на ранние запуски курсов в flearn.
                                              А также наш преподаватель, Соня Ульянова пишет про свои личные проекты и
                                              отвечает на вопросы студентов.
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="background-color:#ffffff;padding:20px 20px 30px;border-bottom-left-radius:25px;border-bottom-right-radius:25px"
                                    bgcolor="#ffffff" align="center">
                                    <table style-"max-width:540px;border-spacing:0px" width="100%" border="0"
                                      cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td align="left">
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td style="border-radius:100px;background-color:#262626"
                                                    valign="middle" height="60" bgcolor="#262626" align="center">
                                                    <a href="https://t.me/sofiulyanova"
                                                      style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:52px;font-weight:normal;white-space:nowrap;text-decoration:none;display:block;padding:0px 32px;color:#ffffff"
                                                      target="_blank">
                                                      <span style="color:#ffffffff;text-decoration:none"
                                                        color="#ffffffff">
                                                        <span style="color:#ffffffff">Присоединиться к
                                                          телеграм-каналу</span>
                                                      </span>
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td
                                            style="padding:30px 20px 50px;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;color:#808080"
                                            align="left">
                                            <span>
                                              ©&nbsp;2023-2024&nbsp;flearn
                                              <br>
                                              <br>
                                              Письмо создано автоматически, пожалуйста, не отвечайте на него. Чтобы
                                              отписаться от рассылки, перейдите
                                              <a href="#"
                                                style="font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;font-weight:normal;white-space:nowrap;text-decoration:underline;color:#808080"
                                                target="_blank">
                                                <span style="color:#808080;text-decoration:none" color=#808080">
                                                  <span style="color:#808080">по этой ссылке.</span>
                                                </span>
                                              </a>
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>