@import 'styles/index';

.section__title {
  margin: 0 0 set-calc(24);
  padding-left: set-calc(8);

  @include set-typography(24, 30, 500);
  font-family: $font-family-bold;
  color: var(--color-content-primary);

  @include set-media(md) {
    margin: 0 0 set-calc(24) set-calc(8);
    padding-left: set-calc(0);
  }
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: set-calc(16);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    gap: set-calc(16);
  }
}