@import 'styles/index';

.sectionTitle {
  margin: 0 0 set-calc(24);
  padding-left: set-calc(8);

  @include set-typography(24, 30, 500);
  font-family: $font-family-bold;
  color: var(--color-content-primary);

  @include set-media(md) {
    margin: 0 0 set-calc(24) set-calc(8);
    padding-left: set-calc(0);
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: set-calc(16);

  @include set-media(md) {
    gap: set-calc(8);
  }
}