@import 'styles/index';

.__ {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  color: $color-content-primary;

  padding: set-calc(32);
  width: set-calc(560);
  min-height: set-calc(600);

  @include set-media(md) {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    padding: 0;

    width: 100%;
  }
}

.close {
  z-index: 1;
  position: absolute;
  top: set-calc(12);
  right: set-calc(12);

  border-radius: set-calc($border-radius-small);
  padding: set-calc(13);

  display: flex;
  color: $color-content-primary;

  cursor: pointer;

  transition-property: background-color, border-color, box-shadow, color, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;

  
  svg {
    width: set-calc(24);
    height: set-calc(24);
    fill: none;
  }

  @include set-media(md) {
    right: set-calc(16);
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06), 0 1px 17px rgba(0, 0, 0, 0.06);
  }
}

.close:hover {
  background-color: $color-background-glassy-a;

  @include set-media(md) {
    background-color: transparent;
  }
}

.close:active {
  transform: scale(0.96);
  background-color: $color-background-glassy-b;

  @include set-media(md) {
    background-color: transparent;
    transform: none;
  }
}

.body {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.header {
  margin: 0 set-calc(28);
  max-width: set-calc(700);

  @include set-media(md) {
    margin: 0 set-calc(16) 0 set-calc(24);
  }
}

.title {
  margin: set-calc(50) 0 set-calc(20);
}

.navigationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: set-calc(58);
  color: $color-content-primary;
  border-radius: set-calc(8);
}

.navigationItem:hover {
  cursor: pointer;
  background-color: $color-background-glassy-a;
}

.navigationItemTitle {
  display: inline-flex;
  margin: 0;
  padding: set-calc(8) set-calc(28);
  color: $color-content-primary;

  span {
    font-size: inherit;
    line-height: inherit;
  }

  @include set-media(md) {
    padding: set-calc(8) set-calc(28)   set-calc(8) set-calc(16);
  }
}

.navigationItemIndex {
  display: inline-flex;
  box-sizing: border-box;
  min-width: set-calc(38);
  padding-right: set-calc(16);
  justify-content: flex-end;

  @include set-media(md) {
    min-width: set-calc(30);
    padding: 0;
    justify-content: flex-start;
  }
}

.navigationItemInfo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;
  margin-right: set-calc(16);
}

.infoItem {
  white-space: nowrap;
  color: $color-content-primary;
  font-size: set-calc(14);
  line-height: set-calc(16);
}

.infoIcon {
  width: set-calc(24);
  height: set-calc(24);
  transition: opacity 0.1s;
  opacity: 0;
  color: $color-content-primary;

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
  }
}

.itemStatus {
  width: set-calc(24);
  height: set-calc(24);
  display: flex;
  box-sizing: border-box;
}

.solved {
  .infoIcon {
    opacity: 1;
  }
}

.disabled {
  cursor: default;
  opacity: 0.5;

  &:hover {
    background: none;
    opacity: 1;

    .infoIcon {
      opacity: 1;
    }
  }
}