@import 'styles/index';

.__{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  align-items: center;
  width: 100%;
  margin: set-calc(24) 0 set-calc(52);

  @include set-media(md) {
    padding: 0 set-calc(8);
    margin: set-calc(8) 0 set-calc(24);
  }
}