@import 'styles/index';

._ {
  margin-bottom: set-calc(56);

  display: flex;
  flex-direction: column;

  @include set-media(md) {
    margin-bottom: set-calc(36);
  }
}

.nav {
  padding-bottom: 0;
  background-image: none;
}

.title {
  padding-bottom: set-calc(16);
}

.type {

}