@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  width: set-calc(700);

  @include set-media(md) {
    width: 100%;
  }
}

.nav {
  padding-bottom: 0;
  background-image: none;
}

.title {
}

.navTubs {
  display: flex;
}

.type {

}

.type:not(:last-child) {
  margin-right: set-calc(24);
}