@import 'styles/index';

._ {
  display: flex;
  flex-direction: column;
  width: set-calc(700);

  margin-bottom: set-calc(56);

  @include set-media(md) {
    margin: set-calc(36) 0 set-calc(20);
    width: 100%;
  }
}

.nav {
  padding-bottom: 0;
  background-image: none;
}

.title {
}

.navTubs {
  display: flex;
}

.type {

}

.type:not(:last-child) {
  margin-right: set-calc(24);
}