@import 'styles/index';

.card {
  @include is-grid-12;

  position: relative;

  gap: set-calc(40);

  padding: 0 set-calc(40) set-calc(40);
  background-color: var(--color-background-default);
  border-radius: set-calc($border-radius-40);
  border: 1px solid var(--color-card-border);

  @include set-media(md) {
    display: none;
  }
}

.shareLink {
  @include btn;

  position: absolute;
  right: set-calc(32);
  bottom: set-calc(32);

  display: inline-flex;
  flex-shrink: 0;
  align-self: center;
  margin-left: set-calc(32);
  width: set-calc(44);
  border-radius: set-calc($border-radius-10);

  -webkit-tap-highlight-color: transparent;
  color: var(--color-content-secondary);

  &:hover {
    background-color: var(--color-background-glassy-b);

    svg path {
      fill: var(--color-content-primary);
    }
  }

  &:active {
    background-color: var(--color-background-glassy-c);
  }

  svg {
    flex-shrink: 0;
    width: set-calc(24);
    height: set-calc(44);

    path {
      fill: currentColor;
    }
  }

  @include set-media(md) {
    display: none;
  }
}

.card__image {
  grid-column: 8 / -1;
  grid-row: span 2;

  display: flex;
  justify-content: center;
  align-items: center;

  width: set-calc(40, true, 100%);
  height: set-calc(40, true, 100%);

  border-radius: 0 set-calc(40) set-calc(40) 0;
  background: var(--color-background-violet);

  img {
    width: set-calc(300);
  }
}

.card__content {
  grid-column: span 7;

  display: flex;
  flex-direction: column;
  flex: 1 1;

  padding-top: set-calc(40);
}

.title {
  @include set-typography(40, 40, 500);
  font-family: $font-family-bold;
  max-width: set-calc(700);

  margin: 0 0 set-calc(24);
}

.description {
  @include font-18-paragraph;
  color: var(--color-content-paragraph-secondary);
  max-width: set-calc(700);

  margin: 0 0 set-calc(32);
}

.metaData {
  display: flex;
  flex-wrap: wrap;
}

.metaData_Item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 set-calc(12);
  background-color: var(--color-background-alternate);
  height: set-calc(36);
  border-radius: set-calc( calc(36 / 2));

  color: var(--color-content-paragraph-secondary);

  &:not(:last-child) {
    margin-right: set-calc(6);
  }

  &Text {
  @include font-14-ui;
    color: inherit;
    white-space: nowrap;
  }
}

.actions {
  grid-column: span 7;

  display: flex;
  padding-left: set-calc(8);
}

.actionsBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  flex-grow: 1;
}

.currentLessonButton {
  @include btn;
  @include button-48;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: set-calc(8);
  min-width: set-calc(160);

  color: $color-content-inverted-primary-light;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
  }
}