@import 'styles/index';

.__ {
  z-index: 600;
  position: sticky;

  top: 0;
  left: 0;
  bottom: 0;

  height: 100vh;

  @include set-media(md) {
    display: none;
  }
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;

  padding: set-calc(12) set-calc(4);
}

.header {
  @include icon-size(28);
  align-items: center;

  padding: 0 set-calc(10);
  margin-bottom: set-calc(24);

  cursor: pointer;
}

.items {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: set-calc(8);
}

.items:last-child {
  margin-top: auto;
  justify-content: end;
}

.item {
  @include btn;
  @include icon-button-40;
  @include icon-button-invisible-secondary;
}

.item[data-user-wrapper] {
  margin-top: set-calc(24);

  &:hover {
    background-color: transparent;
  }
}

.icon {
  svg[data-fill] {
    path {
      fill: var(--color-content-primary);
    }
  }

  svg[data-user] {
    width: set-calc(32);
    height: set-calc(32);

    path {
      fill: var(--color-background-glassy-d);
    }
  }

  @include set-media(md) {
    display: none;
  }
}

.open {
  z-index: 10000;
}