@import 'styles/index';

.__ {
  z-index: 600;
  position: sticky;

  top: 0;
  left: 0;
  bottom: 0;

  height: 100vh;

  transition: transform 450ms, box-shadow 0.2s;
  transition-timing-function: cubic-bezier(0.06, 0.45, 0, 1);

  @include set-media(md) {
    display: none;
  }
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;

  padding: set-calc(12) set-calc(4);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 set-calc(10);
  margin-bottom: set-calc(24);

  cursor: pointer;

  svg {
    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    width: set-calc(28);
    height: set-calc(28);

    padding: set-calc(2);

    transition: transform .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
}

.itemsSeparator {
  position: relative;

  display: flex;
  align-items: flex-start;

  padding: 0 set-calc(10);
  margin: set-calc(12) 0;

  min-height: set-calc(16);
  min-width: set-calc(22);

  text-overflow: ellipsis;
  white-space: nowrap;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: set-calc(-20, true, 100%);
    min-width: set-calc(22);
    height: 1px;
    background-color: var(--color-background-glassy-d);
  }

  &:first-of-type {
    display: none;
  }
}

.items {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: set-calc(2);

  // flex-grow: 1;
  flex-shrink: 0;
  list-style: none;
}

.items:last-child {
  margin-top: auto;
  justify-content: end;
}

.item {
  @include btn;

  position: relative;

  border-radius: set-calc($border-radius-10);
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--color-background-glassy-b);

    svg path {
      fill: var(--color-content-primary);
    }
  }

  &:active {
    background-color: var(--color-background-glassy-c);
  }
}

.iconWrapper {
  position: relative;
  display: block;
  overflow: inherit;

  width: set-calc(40);
  height: set-calc(40);
}

.icon {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  transition: background-color $d-hover ease, transform $d-hover ease;

  height: 100%;
  width: 100%;

  svg {
    display: inline-block;
    text-align: center;
    background: 50% no-repeat;
    background-size: contain;
    width: set-calc(22);
    height: set-calc(22);

    path {
      fill: var(--color-content-secondary);
    }
  }

  @include set-media(md) {
    display: none;
  }
}

.open {
  z-index: 10000;
}