@import 'styles/index';

.item {
  display: flex;
  flex-direction: column;
  gap: set-calc(16);

  padding: set-calc(24);
  width: calc(33.3% - set-calc(16));

  border-radius: set-calc($border-radius-20);
  border: 1px solid var(--color-card-border);
  background-color: var(--color-background-alternate);


  @include set-media(md) {
    width: 100%;
    padding: set-calc(16);
  }
}

.ratingStars {
  display: flex;
  align-items: center;
}

.ratingStar {
  @include icon-size(24);
  color: $color-highlight-gold;
}

.feedback {
  @include set-typography(16, 26, 500);
  color: var(--color-content-paragraph-primary);
  overflow: hidden;

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }
}

.name {
  @include set-typography(14, 22, 500);

  color: var(--color-content-primary);
  font-family: $font-family-bold;
}