@import 'styles/index';

._ {
  @include is-grid-4;
  position: relative;

  @include set-media(md) {
    grid-gap: 0;
  }
}

.uploadDeadline {
  grid-column: 1 / 3;

  @include set-media(md) {
    padding-bottom: set-calc(16);
  }
}

.resultsLinkWrapper {
  position: sticky;
  top: set-calc(60);
  grid-column: 4 / 5;

  display: flex;
  justify-content: start;
  flex-direction: column;

  @include set-media(md) {
    position: relative;
    top: 0;
  }
}

.resultsLinkTitle {
  padding-bottom: set-calc(8);
}

.resultsLink {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color ease-in-out 0.2s;
  margin-bottom:  set-calc(72);
}

.uploadBtnWrapper {
  position: sticky;
  top: set-calc(60);
  grid-column: 4 / 5;

  @include set-media(md) {
    position: relative;
    top: 0;
  }
}

.uploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  padding: set-calc(8) set-calc(80);

  border: set-calc(2) solid $black-new;
  border-radius: set-calc(20);

  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color ease-in-out 0.2s;

  margin-bottom:  set-calc(72);

  @include set-media(md) {
    width: 100%;
    min-height: set-calc(48);
    margin-bottom:  set-calc(48);
    margin-top: set-calc(8);
  }
}

.uploadBtn:hover {
  opacity: 0.5;
}
