@import 'styles/index';

._ {
  @include is-grid-4;
  position: relative;

  @include set-media(md) {
    grid-gap: 0;
  }
}

.uploadDeadline {
  grid-column: 1 / 3;

  @include set-media(md) {
    padding-bottom: set-calc(16);
    p {
      padding-bottom: set-calc(8);
    }
  }
}

.resultLinkWrapper {
  position: sticky;
  top: set-calc(60);
  grid-column: 4 / 5;

  display: flex;
  justify-content: start;
  flex-direction: column;

  @include set-media(md) {
    position: relative;
    top: 0;
  }
}

.resultLinkTitle {
  padding-bottom: set-calc(16);

  @include set-media(md) {
    padding-bottom: set-calc(8);
  }
}

.resultLinkGroup {
  display: flex;
  margin-bottom:  set-calc(72);
}

.resultLink {
  cursor: pointer;
  margin-right: set-calc(28);
  transition: background-color 0.2s ease-in-out, color ease-in-out 0.2s;

  @include set-media(md) {
    margin-right: set-calc(32);
  }
}

.edit {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: set-calc(1);
  transition: fill $d-hover ease-in-out, color ease-in-out $d-hover;
}

.edit:hover {
  .editTitle {
    color: $black;
  }
  .editImg path{
    fill: $black;
  }

}

.editImg {
  margin-right: set-calc(4);
}

.editImg svg {
  width: set-calc(24);
  height: set-calc(24);

  path {
    fill: $grey-inactive;
  }
}

.editTitle {
  color: $grey-inactive;
}

.uploadBtnWrapper {
  position: sticky;
  top: set-calc(60);
  grid-column: 4 / 5;
  margin-bottom: set-calc(72);

  @include set-media(md) {
    position: relative;
    top: 0;
    margin-bottom: set-calc(48);
  }
}

.uploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-bottom: set-calc(16);

  padding: set-calc(8) set-calc(80);

  border: set-calc(2) solid $black-new;
  border-radius: set-calc(20);

  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color ease-in-out 0.2s;

  @include set-media(md) {
    width: 100%;
    min-height: set-calc(48);
    margin-top: set-calc(8);
  }
}

.uploadBtn:hover {
  opacity: 0.5;
}

.uploadBtnCaption {
  text-align: center;
  color: $grey;
}
