@import 'styles/index';

.list {
  grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
  gap: set-calc(8);
  padding-bottom: set-calc(72);
  padding-top: set-calc(36);

  @include set-media(md) {
    @include is-grid-3;
    gap: set-calc(8);
    padding-top: set-calc(16);
    padding-bottom: set-calc(56);
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;

  @include set-media(md) {
    width: 100%;
    height: 100%;
  }
}

.item img {
  position: relative;
  display: block;
  box-shadow: 0 set-calc(4) set-calc(8) rgb(0 0 0 / 10%);
  border-radius: set-calc(20);

  height: set-calc(var(--gallery-height, 350));
  object-fit: contain;

  @include set-media(md) {
    height: 100%;
  }
}

.itemCaption {
  @include s-text-16;

  margin: set-calc(8) 0 set-calc(16);
}
