@import 'styles/index';

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: set-calc(50);
  grid-auto-rows: auto;
  grid-auto-flow: dense;

  position: relative;
  width: set-calc(700);
  left: set-calc(-32);
  margin: set-calc(40) 0 set-calc(20);

  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(16);
    width: set-calc(398);
    left: set-calc(-16);
  }
}

.item {
  position: relative;
  height: set-calc(300);
  border-radius: set-calc($border-radius-large);

  @include set-media(md) {
    width: 100%;
    height: 100%;
  }
}

.item:hover .overlay,
.item:hover .overlayCaption {
  opacity: 1;
  cursor: zoom-in;
}

.item img {
  position: relative;
  box-shadow: $shadow-medium-default;
  border-radius: set-calc($border-radius-large);

  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: $color-palette-white-1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: $color-background-glassy-c;
  border-radius: set-calc($border-radius-large);
  transition: opacity $d-hover ease;
  color: $color-background-default;
}

.overlayCaption {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;

  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity $d-hover ease;
  color: $color-background-default;
}

.itemCaption {
  @include s-text-14;
  text-transform: uppercase;
}
