@import 'styles/index';

.qouteWrapper {
  grid-column: span 3;
  font-family: $font-family-serif;

  border-left: set-calc(4) solid $black-new;
  padding-left: set-calc(24);
  padding-right: set-calc(160);

  display: flex;
  flex-direction: column;

  margin: set-calc(36) 0 set-calc(72);

  @include set-media(md) {
    margin: set-calc(24) 0 set-calc(56);
    padding-right: 0;
  }
}

.qouteWrapper > *:not(:last-child) {
  padding-bottom: set-calc(28);

  @include set-media(md) {
    padding-bottom: set-calc(16);
  }
}

.qouteWrapper > * {
  @include s-text-20;

}