@import 'styles/index';

.wrapper {
  @include is-beige;
  background-color: var(--color-background-alternate);

  display: flex;
  flex-direction: column;

  padding: set-calc(100) set-calc(200) set-calc(150);

  @include set-media(md) {
    padding: set-calc(64) set-calc($padding-xs-mob-page) 0;
  }
}

.header {
  position: relative;

  margin-bottom: set-calc(40);
  padding-left: set-calc(16);

  @include set-media(md) {
    position: relative;
    margin-bottom: set-calc(30);
    padding-left: set-calc($padding-xs-mob-page);
  }
}

.headerTitle {
  @include font-56-normal-header;
  font-family: $font-family-extra-bold;
}

.list {
  @include is-grid-3;
  gap: set-calc(20);

  @include set-media(md) {
    gap: set-calc(8);
  }
}

.item {
  grid-column: span 1;
  background-color: var(--color-card);
  border: 1px solid var(--color-card-border);
  padding: set-calc(32);
  border-radius: set-calc($border-radius-30);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    padding: set-calc(24);
    padding-top: set-calc(16);

    border-radius: set-calc($border-radius-20);
  }
}

.item:nth-child(1) path  {
  fill: var(--color-salmonOrange);
}

.item:nth-child(2) path  {
  fill: $color-highlight-yellow;
}

.item:nth-child(3) path  {
  fill: var(--color-royalBlue);
}

.content {
  display: flex;
  flex-direction: column;
}

.cardIcon {
  width: set-calc(40);
  aspect-ratio: auto 1;

  margin-bottom: set-calc(6);
  
  @include set-media(md) {
    width: set-calc(36);
    aspect-ratio: auto 1;

    margin-bottom: set-calc(4);
  }
}

.title {
  @include set-typography(24, 30, 500);
  font-family: $font-family-bold;
  color: var(--color-content-primary);
  margin-bottom: set-calc(20);

  @include set-media(md) {
    @include set-typography(20, 24, 500);
    margin-bottom: set-calc(16);
  }
}

.desc {
  @include font-18-normal-ui;
  color: var(--color-content-paragraph-secondary);

  p {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(8);
  }
}

.desc:not(:last-child) {
  padding-bottom: set-calc(48);

  @include set-media(md) {
    padding-bottom: set-calc(24);
  }
}