@import 'styles/index';

.title {
  position: relative;

  margin-bottom: set-calc(40);
  padding-left: set-calc(16);

  @include font-56-normal-header;
  font-family: $font-family-extra-bold;

  @include set-media(md) {
    position: relative;
    margin-bottom: set-calc(30);
    padding-left: set-calc($padding-xs-mob-page);
  }
}

.list {
  @include is-grid-3;
  gap: set-calc(20);

  @include set-media(md) {
    gap: set-calc(8);
  }
}

.item {
  grid-column: span 1;
  background-color: var(--color-card);
  border: 1px solid var(--color-card-border);
  padding: set-calc(32);
  border-radius: set-calc($border-radius-30);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    padding: set-calc(24);
    padding-top: set-calc(16);

    border-radius: set-calc($border-radius-20);
  }
}

.item__title {
  @include set-typography(24, 30, 500);
  font-family: $font-family-bold;
  color: var(--color-content-primary);
  margin-bottom: set-calc(20);

  @include set-media(md) {
    @include set-typography(20, 24, 500);
    margin-bottom: set-calc(16);
  }
}

.item__description {
  @include font-18-normal-ui;
  color: var(--color-content-paragraph-secondary);

  p {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }

  p:not(:last-child) {
    padding-bottom: set-calc(8);
  }
}

.desc:not(:last-child) {
  padding-bottom: set-calc(48);

  @include set-media(md) {
    padding-bottom: set-calc(24);
  }
}

.group {
  display: grid;
  grid-gap: set-calc(16);
  grid-template-columns: 4fr 6fr;
  grid-template-areas: "explain-intro explain-video";

  margin-top: set-calc(80);

  @include set-media(md) {
    display: flex;
    flex-direction: column;

    margin-top: set-calc(8);

    grid-gap: set-calc(8);
  }
}

.cards {
  grid-area: explain-intro;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: set-calc(16);

  overflow: hidden;
  border-radius: set-calc($border-radius-medium);

  @include set-media(md) {
    gap: set-calc(8);
  }
}

.card {
  position: relative;
  z-index: 2;

  @include set-typography(20, 30, 500);
  font-family: $font-family;
  color: $color-content-inverted-primary-light;
  white-space: pre-line;

  background-color: var(--primary-color);
  border-radius: set-calc($border-radius-20);
  padding: set-calc(32);

  @include set-media(md) {
    padding: set-calc(24);
    @include set-typography(18, 24, 500);
  }
}

.card:last-of-type {
  padding: set-calc(8) set-calc(16);

  background-color: transparent;
  width: 70%;

  color: var(--primary-color);
  @include set-typography(16, 24, 500);
  font-family: $font-family;

  @include set-media(md) {
    display: none;
  }
}

.image {
  grid-area: explain-video;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.image__buble {
  position: absolute;
  right: set-calc(20);
  top: set-calc(-30);
  transform: rotate(4deg);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;

  @include font-20-normal-ui;
  color: $color-content-inverted-primary-light;
  font-family: $font-family;

  padding: set-calc(12) set-calc(18);
  border-radius: set-calc($border-radius-large);
  background-color: var(--primary-color);

  @include set-media(md) {
    display: none;
    padding: set-calc(8) set-calc(12);
    transform: rotate(0deg);
    right: set-calc(-4);
    top: set-calc(525);
  }
}

.image__wrapper {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  max-height: set-calc(700);

  @include set-media(md) {
    max-height: unset;
    height: set-calc(350);
  }
}

.image__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: set-calc($border-radius-medium);
}

.image__description {
  display: none;

  @include set-media(md) {
    display: block;

    padding: set-calc(16) set-calc($padding-xs-mob-page) 0;
    width: 100%;

    @include set-typography(16, 24, 500);
    color: var(--primary-color);
    font-family: $font-family;
  }
}