@import 'styles/index';

.header {
  @include header;
}

.list {
  display: flex;
  gap: set-calc(6);

  @include set-media(md) {
    flex-direction: column;
    gap: set-calc(4);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: set-calc(20);

  width: calc(33.3% - set-calc(6));

  padding: set-calc(40);
  background-color: var(--color-card);
  border: 1px solid var(--color-card-border);
  border-radius: set-calc($border-radius-32);

  @include set-media(md) {
    gap: set-calc(10);
    width: 100%;
    padding: set-calc(20);
  }
}

.item__title {
  @include font-24-header;
  font-family: $font-family-bold;
}

.item__description {
  @include font-18-ui;
  color: var(--color-content-paragraph-secondary);
  gap: set-calc(8);

  p {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

.group {
  display: grid;
  grid-gap: set-calc(6);
  grid-template-columns: 4fr 6fr;
  grid-template-areas: "explain-intro explain-video";

  margin-top: set-calc(80);

  @include set-media(md) {
    display: flex;
    flex-direction: column;

    margin-top: set-calc(4);
    grid-gap: set-calc(4);
  }
}

.cards {
  grid-area: explain-intro;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: set-calc(6);

  overflow: hidden;

  @include set-media(md) {
    gap: set-calc(4);
  }
}

.card {
  position: relative;
  z-index: 2;

  @include set-typography(20, 30, 500);
  font-family: $font-family-normal;
  color: $color-content-inverted-primary-light;
  white-space: pre-line;

  background-color: var(--primary-color);
  border-radius: set-calc($border-radius-32);
  padding: set-calc(32);

  @include set-media(md) {
    padding: set-calc(24);
    @include set-typography(18, 24, 500);
  }
}

.card:last-of-type {
  padding: set-calc(8) set-calc(16);

  background-color: transparent;
  width: 70%;

  color: var(--primary-color);
  @include set-typography(16, 24, 500);
  font-family: $font-family-normal;

  @include set-media(md) {
    display: none;
  }
}

.image {
  grid-area: explain-video;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.image__buble {
  position: absolute;
  right: set-calc(20);
  top: set-calc(-30);
  transform: rotate(4deg);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9;

  @include font-20-ui;
  color: $color-content-inverted-primary-light;
  font-family: $font-family-normal;

  padding: set-calc(12) set-calc(18);
  border-radius: set-calc($border-radius-32);
  background-color: var(--primary-color);

  @include set-media(md) {
    display: none;
    padding: set-calc(8) set-calc(12);
    transform: rotate(0deg);
    right: set-calc(-4);
    top: set-calc(525);
  }
}

.image__wrapper {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  max-height: set-calc(700);

  @include set-media(md) {
    max-height: unset;
    height: set-calc(350);
  }
}

.image__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: set-calc($border-radius-32);
}

.image__description {
  display: none;

  @include set-media(md) {
    display: block;

    padding: set-calc(16) set-calc($p-page-mob-s) 0;
    width: 100%;

    @include set-typography(16, 24, 500);
    color: var(--primary-color);
    font-family: $font-family-normal;
  }
}