@import 'styles/index';

.wrapper {
  padding: 0;
}

.header {
padding-bottom: set-calc(54);

@include set-media(md) {
  padding-bottom: set-calc(32);
}
}

.headerTitle {
  padding-bottom: set-calc(24);
  font-family: $font-family-serif;
}

.headerDesc {
  max-width: set-calc(600);
}

.cards {
  display: grid;
  grid-gap: set-calc(8);
  grid-template-columns: 5fr 6fr;
  grid-template-areas: "explain-intro explain-video";

  @include set-media(md) {
    display: flex;
    flex-direction: column;
  }
}

.introCard {
  grid-area: explain-intro;
  position: relative;
  overflow: hidden;
  padding: set-calc(32);
  border-radius: set-calc(20);
  background-image: linear-gradient(98deg, $beige, $beige);

  @include set-media(md) {
    padding: set-calc(32) set-calc(24);
    margin-bottom: set-calc(24);
  }
}

.introCardQuote {
  position: relative;
  max-width: set-calc(840);
  z-index: 2;
}

.videoCard {
  grid-area: explain-video;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.videoCardContainer {
  position: relative;
  margin-bottom: set-calc(8);
  flex-grow: 1;
  flex-shrink: 1;
  height: set-calc(500);

  border-radius: set-calc(20);
  overflow: hidden;

  @include set-media(md) {
    height: set-calc(375);
  }
}

.videoCardContainer img {
  border-radius: set-calc(20);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.videoCardDesc {
  border-radius: set-calc(20);
  margin-top: auto;
  width: 60%;
  padding: set-calc(32);
  background-color: $beige;

  transform: translate(0);
  transition: transform .35s ease;

  @include set-media(md) {
    padding: set-calc(24);
    width: 100%;
    background-color: transparent;
  }
 }

 .videoCardTitle {
  padding-bottom: set-calc(16);
 }