@import 'styles/index';

.wrapper {
  padding: 0;
}

.header {
padding-bottom: set-calc(32);

@include set-media(md) {
  padding-bottom: set-calc(24);
}
}

.headerDesc {
  max-width: set-calc(600);
}

.cards {
  display: grid;
  grid-gap: set-calc(8);
  grid-template-columns: 5fr 6fr;
  grid-template-areas: "explain-intro explain-video";

  @include set-media(md) {
    display: flex;
    flex-direction: column;
  }
}

.introCard {
  grid-area: explain-intro;
  position: relative;
  overflow: hidden;
  padding: set-calc(32);
  border-radius: set-calc($border-radius-medium);
  background-color: $color-background-default;

  @include set-media(md) {
    padding: set-calc(16);
    margin-bottom: set-calc(6);
    background-color: $color-background-default;
  }
}

.introCardQuote {
  position: relative;
  max-width: set-calc(840);
  z-index: 2;
  white-space: pre-line;
}

.videoCard {
  grid-area: explain-video;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.videoCardContainer {
  position: relative;
  margin-bottom: set-calc(8);
  flex-grow: 1;
  flex-shrink: 1;
  height: set-calc(500);
  overflow: hidden;

  border-radius: set-calc($border-radius-medium);

  @include set-media(md) {
    height: set-calc(375);
  }
}

.videoCardContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.videoCardDesc {
  border-radius: set-calc($border-radius-medium);
  margin-top: auto;
  width: 80%;
  padding: set-calc(16) 0 set-calc(16) set-calc(16);

  @include set-media(md) {
    padding: set-calc(8);
    width: 100%;
  }
 }

 .videoCardTitle {
  padding-bottom: set-calc(8);
 }

 .videoCardText {
  @include set-media(md) {
    color: $color-content-secondary;
  }
 }