@import 'styles/index';

.__ {

  display: none;

  @include set-media(md) {
    display: block;
    position: fixed;
    z-index: 600;
    bottom: set-calc(16);
    width: 100%;
    padding: 0 set-calc(32);
    text-align: center;
    background-color: transparent;
    transition: .3s ease;
    will-change: transform;
  }


}

.btnLink {
  width: 100%;
  overflow: hidden;

  padding: set-calc(10) set-calc(48);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $primary-color;
  -webkit-backdrop-filter: $backdrop-filter;
  backdrop-filter: $backdrop-filter;
  color: $color-palette-white-1000;
  border-radius: set-calc($border-radius-small);
  border: $border-backdrop-filter;

  border-radius: set-calc($border-radius-large);
  cursor: pointer;

}