@import 'styles/index';

.agreement {
  align-self: flex-end;

  margin-top: set-calc(16);
  margin-right: set-calc(4);

  @include font-14-normal-ui;

  @include set-media(md) {
    margin-top: set-calc(8);
    margin-right: set-calc(4);
  }
}
