@import 'styles/index';

.coursesPage {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: set-calc(1080);
  margin: set-calc(32) auto set-calc(52) 0;

  @include set-media(md) {
    left: set-calc(-$p-mob-page);
    width: set-calc(2 * $p-mob-page, true, 100%);

    margin: 0 auto set-calc(24);
  }
}

.coursesPageContent {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: set-calc(64);

  @include set-media(md) {
    gap: set-calc(40);
  }

}

.section {
  display: block;
  position: relative;
}
