@import 'styles/index';
.wrapper {
  position: relative;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: set-calc(40);

  background: var(--primary-color);
  border-radius: set-calc($border-radius-30);

  @include set-media(md) {
    padding: set-calc(24);
    border-radius: set-calc($border-radius-20);
  }
}

.title {
  @include  font-40-normal-header;
  font-family: $font-family-extra-bold;
  color: var(--color-content-inverted-primary);

  margin-bottom: set-calc(20);

  width: 70%;

  @include set-media(md) {
    width: 100%;
    margin-bottom: set-calc(16);
  }
}

.desc {
  @include set-typography(18, 26, 500);
  color: var(--color-content-inverted-primary);
  width: 50%;

  margin-bottom: set-calc(40);

  @include set-media(md) {
    @include set-typography(16, 24, 500);
    width: 100%;
    margin-bottom: set-calc(24);
  }
}

.actions {
  display: flex;

  @include set-media(md) {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.actionsBtn {
  @include btn;
  @include button-large;

  border: 2px solid var(--color-content-inverted-primary);

  .text {
    @include font-20-normal-ui;
    color: var(--color-content-inverted-primary);
    font-family: $font-family-bold;

    @include set-media(md) {
      @include set-typography(18, 18, 500);
    }
  }

  &:hover {
    background: var(--color-content-inverted-primary);

    .text {
      color: var(--primary-color);
    }
  }

  @include set-media(md) {
    width: 100%;
    border-width: 1px;

    &:hover {
      background: transparent;
  
      .text {
        color: $color-content-inverted-primary-light;
      }
    }
  }
}