@import 'styles/index';

.item {
  position: relative;

  padding: set-calc(24);
  border-radius: set-calc($border-radius-30);
  background-color: $color-card-dark;
  border: 1px solid $color-card-border-dark;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  @include set-media(md) {
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: set-calc($border-radius-20);
  }
}

.item:not(:last-child) {
  margin-bottom: set-calc(8);

  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}


.itemQuestion {
  display: flex;
  align-items: start;
  justify-content: space-between;

  padding-bottom: set-calc(20);
  cursor: pointer;

  @include set-media(md) {
    padding-bottom: 0;
  }
}

.itemQuestionText {
  @include font-20-normal-paragraph;
  color: $color-content-primary-dark;
  font-family: $font-family-medium;
  max-width: 80%;
}

.itemArrow {
  @include icon-medium;

  margin-top: set-calc(-16);
  transition: transform $d-hover ease-in-out;

  @include set-media(md) {
    @include icon-small;
    margin-top: set-calc(-8);
  }
}

.itemArrowExpended {
  transform: rotate(180deg);
}

.itemAnswer {
  height: 0;
  overflow: hidden;
  transition: height $d-collapse linear;
}

.itemAnswerExpanded {
  transition: height $d-expansion cubic-bezier(0, 0, 0.15, 1);
}

.itemAnswerText {
  margin-right: set-calc(48);
  @include font-18-normal-ui;
  color: $color-content-paragraph-primary-dark;

  @include set-media(md) {
    margin: set-calc(20) 0 set-calc(20) 0;
  }
}