@import 'styles/index';

.__ {
  @include is-grid-3;
  grid-gap: set-calc($s-gap);

  padding: set-calc(24);
  margin: set-calc(8) auto 0;

  background-color: var(--color-card);
  border: 1px solid var(--border-color);
  border-radius: set-calc($border-radius-medium);

  @include set-media(md) {
    margin: set-calc(6) auto 0;
    row-gap: set-calc(20);
    padding: set-calc(16);
  }
}

.item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: set-calc(16);

  @include set-media(md) {
    gap: set-calc(16);
  }

  .itemSvg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: set-calc(56);
    height: set-calc(56);

    border-radius: set-calc($border-radius-10);
    background-color: var(--color-background-glassy-c);
    padding: set-calc(10);

    svg {
      height: 100%;
      align-items: center;
      justify-content: center;
  
      stroke-width: 0;
  
     path {
        fill: var(--color-content-primary);
      }
    }

    @include set-media(md) {
      width: set-calc(56);
      height: set-calc(56);

    }
  }
}

.itemText {
  @include font-18-normal-ui;
  color: var(--color-content-paragraph-primary);
  max-width: set-calc(350);
}