@import 'styles/index';

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: set-calc(60);

  @include set-media(md) {
    padding-bottom: set-calc(32);
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-column-gap: set-calc($s-gap);

  @include set-media(md) {
    display: block;
  }
}

.listItemCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: set-calc(32);
  border-radius: set-calc(16);
  background-color: $color-background-default;

  @include set-media(md) {
    padding: set-calc(16);
    border: 0;
    
    &:not(:last-child) {
      margin-bottom: set-calc(8);
    }
  }
}

.listItemContent {
  font-size: inherit;
  line-height: inherit;
  white-space: pre-line;

  p:not(:last-child) {
    padding-bottom: set-calc(16);
  }
}