@import 'styles/index';

.__ {
  @include is-grid-3;
  grid-gap: set-calc($s-gap);

  padding: set-calc(12);
  margin: set-calc(8) auto 0;
  color: $color-content-background-secondary;

  background-color: $color-content-inverted-secondary;
  border: set-calc(1) solid $color-background-default;
  box-shadow: $shadow-huge-default;
  border-radius: set-calc($border-radius-medium);

  @include set-media(md) {
    margin: set-calc(6) auto 0;
    row-gap: set-calc(2 * $s-gap);
    padding: set-calc(16) set-calc(16);
  }
}

.item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: set-calc(12);

  @include set-media(md) {
    gap: set-calc(12);
  }

  .itemSvg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: set-calc(34);
    height: set-calc(34);

    svg {
      height: 100%;
      align-items: center;
      justify-content: center;
  
      stroke-width: 0;
  
     path {
        fill: $primary-color;
      }
    }

    @include set-media(md) {
      width: set-calc(26);
      height: set-calc(26);

    }
  }
}

.itemText {
  @include font-16-normal-paragraph;
  max-width: set-calc(350);
}