@import 'styles/index';

.__ {
  position: relative;
  display: flex;
  align-items: center;

  margin: set-calc(100) 0 set-calc(100);

  @include set-media(md) {
    flex-direction: column;

    margin: 0 0 set-calc(80);
  }
}

.imgWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;

  @include set-media(md) {
    width: 70%;
    z-index: -100;
  }

  svg {
    max-width: 100%;
    height: auto;
    display: inline-block;

    aspect-ratio: auto 640 / 435;
    width: set-calc(640);

    path {
      stroke-width: set-calc(0.5);

      @include set-media(md) {
        stroke-width: set-calc(1);
      }
    }
  }

  @include set-media(md) {
    position: absolute;
    bottom: set-calc(90);
    left: 25%;
  }
}

.inner {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;

  width: 50%;

  @include set-media(md) {
    width: 100%;

    padding: 0 set-calc($padding-xs-mob-page);
  }
}

.headerWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.headerTitle {
  margin: 0 0 set-calc(30);

  @include set-typography(70, 70, 500);
  font-family: $font-family-highlight-bold;
  text-align: start;

  @include set-media(md) {

    @include set-typography(40, 48, 500);
    text-align: center;

    margin: set-calc(24) 0 set-calc(16);
  }
}

.descriptionWrapper {
  position: relative;
  max-width: set-calc(500);
  margin-bottom: set-calc(48);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    margin-bottom: set-calc(24);
  }
}

.description {
  position: relative;

  color: var(--color-content-paragraph-primary);
  text-align: start;
  @include set-typography(20, 32, 500);

  @include set-media(md) {
    @include set-typography(16, 24, 500);
    text-align: center;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @include set-media(md) {
    width: 100%;
    justify-content: center;
  }
}

.actionsBtn {
  @include btn;
  @include button-xl;

  @include font-20-normal-ui;
  color: $color-content-inverted-primary-light;
  font-family: $font-family-bold;

  width: 100%;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
  }

  @include set-media(md) {
    width: unset;
    margin-bottom: set-calc(4);
    &:hover {
      background-color: var(--primary-color);
    }
  }
}