@import 'styles/index';

.__ {
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin: set-calc(80) 0 set-calc(100);


  @include set-media(md) {
    position: relative;
    margin: set-calc(16) 0 set-calc(80);
  }
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

  padding-left: set-calc(100);
  width: 100%;

  @include set-media(md) {
    padding: 0 set-calc(16);
  }
}

.headerWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;

  @include set-media(md) {
  }
}

.headerTitle {
  margin-bottom: set-calc(32);
  max-width: 50%;

  @include set-typography(68, 70, 500);
  font-family: $font-family-highlight;
  text-align: start;

  @include set-media(md) {

    @include set-typography(40, 44, 500);
    max-width: 100%;
    font-family: $font-family-highlight;
    margin-bottom: set-calc(16);
  }
}

.descriptionWrapper {
  position: relative;
  max-width: set-calc(500);
  margin-bottom: set-calc(32);

  @include set-media(md) {
    display: flex;
    flex-direction: column;
    margin-bottom: set-calc(24);
  }
}

.description {
  position: relative;

  color: var(--color-content-paragraph-primary);
  text-align: start;
  @include font-20-normal-paragraph;

  @include set-media(md) {
  }
}

.actions {
  grid-area: actions;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @include set-media(md) {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.actionsBtn {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 set-calc(24);
  height: set-calc(64);

  border-radius: set-calc($border-radius-16);
  background: $color-gradient-rainbow;
  background-size: 400% 400%;

  animation: buttonGradient 45s ease infinite;
  transition: width .3s, margin .3s, min-width .3s, background-color .3s, color .3s, border .3s, background-position 2s ease-out, padding-left .3s;
  
  box-shadow: $shadow-small-default;

  @include font-20-normal-ui;
  color: var(--color-content-inverted-primary);

  height: set-calc(64);
  width: 100%;

  @include set-media(md) {
    margin: 0 0 set-calc(4) 0;

    padding: set-calc(0) set-calc(16);
    width: max-content;

    border-radius: set-calc($border-radius-12);
  }

  .text {
    z-index: 200;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-small-hovered;
  }
}