@import 'styles/index';

.__ {
  grid-column: span 4;
  margin-bottom: set-calc(24);

  will-change: transform;
}


.preview {
  position: relative;

  width: 100%;
  margin-bottom: set-calc(32);
  overflow: hidden;

  background-color: $beige;
  border-radius: set-calc(20);

  box-shadow: 0 set-calc(4) set-calc(8) rgb(0 0 0 / 10%);
  transition: opacity 0.35s ease;

  aspect-ratio: 1.3 / 1;

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }

  img {
    position: absolute;
    inset: 0;
  
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    transform: translateY(set-calc(-3));
    }
}

.previewLink {
  position: absolute;
  inset: 0;

  z-index: 1;
}

.content {
display: flex;
flex-direction: column;
box-sizing: border-box;
padding-right: set-calc(24);
}

.title {
  font-family: $font-family-serif;
  margin-bottom: set-calc(16);

  @include s-text-36;

  @include set-media(md) {
    margin-bottom: set-calc(16);
    @include s-text-56;
  }

  &:hover {
    color: $orange;
  }
}

.info {
  margin-bottom: set-calc(16);

  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}


.description {
  margin-bottom: set-calc(8);
  padding-right: set-calc(48);
  overflow-y: hidden;

  @include set-media(md) {
    margin-bottom: set-calc(8);
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: set-calc(32);

  @include set-media(md) {
    flex-direction: row-reverse;
    padding-bottom: set-calc(24);
  }
}

.actionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  background-color: transparent;
  color: $black;

  border: set-calc(2) solid $black-new;
  border-radius: set-calc(20);
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  width: max-content;
  margin: 0 set-calc(4) set-calc(4) 0;
  padding: set-calc(8) set-calc(40);

  @include set-media(md) {
    margin: 0 0 set-calc(4) 0;
    flex: 1 1 max-content;
    padding: set-calc(12) set-calc(80);
  }

  &:hover {
    background-color: $black-new;
    color: $white;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: set-calc(40);
  padding-right: set-calc(64);

  @include set-media(md) {
    padding-right: 0;
    margin-bottom: set-calc(32);
  }
}

.tag {
  background-image: linear-gradient(to bottom, $grey 0, $grey 100%);
  background-position: 0 90%;
  background-repeat: repeat-x;
  background-size: set-calc(1) set-calc(1);
  color: $grey;
  width: fit-content;

  margin-right: set-calc(6);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to bottom, $grey-inactive 0, $grey-inactive 100%);
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: set-calc(1) set-calc(1);

    color: $grey-inactive;
  }
}

.hashTag {
  display: inline-block;
  vertical-align: top;
  line-height: set-calc(22);
  margin-right: set-calc(6);

  color: $grey-inactive;

  @include set-media(md) {
    line-height: set-calc(19);
  }
}