@import 'styles/index';

.__ {
  grid-column: span 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);
  background: $gradient-background-red-rose;
  transition: box-shadow 0.3s ease;
  color: $white;


  &:hover {
    box-shadow: $shadow-medium-hovered;
    cursor: pointer;
  }
}


.preview {
  position: relative;

  width: 100%;
  overflow: hidden;
  border-radius: set-calc($border-radius-medium);

  aspect-ratio: 1.4 / 1;

  img {
    position: absolute;
    inset: 0;
  
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.previewLink {
  position: absolute;
  inset: 0;

  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: set-calc(16);
  
  @include set-media(md) {
    padding: set-calc(16);
    margin-bottom: 0;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: set-calc(4);

  @include set-media(md) {
    margin-bottom: set-calc(4);
  }
}

.info {
  margin-bottom: set-calc(16);
  padding: set-calc(2) set-calc($padding-x-mob-page);
  width: fit-content;

  border-radius: set-calc($border-radius-large);
  background-color: $color-background-light-opacity-15;
}


.description {
  padding-right: set-calc(16);

  @include set-media(md) {
    margin-bottom: set-calc(32);
  }
}

.actions {
  display: none;

  @include set-media(md) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-bottom: set-calc(24);
  }
}

.actionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  background-color: $color-background-default;
  color: $black;
  cursor: pointer;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  width: max-content;
  padding: set-calc(8) set-calc(40);

  @include set-media(md) {
    flex: 1 1 max-content;
    padding: set-calc(12) set-calc(80);
    border-radius: set-calc($border-radius-medium);
  }

  &:hover {
    background-color: $black;
  }
}