
@import 'styles/index';

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;
}

.inputWrap {
  padding-bottom: set-calc(8);
  display: flex;
}

.submitButton {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: set-calc(16) set-calc(16);
  min-width: set-calc(58);

  color: $color-content-inverted-primary;

  background-color: $color-content-background-secondary;
  border: set-calc(1) solid $color-background-stroke;
  border-left: 0;
  border-radius: 0 set-calc(15) set-calc(15) 0;
  cursor: pointer;
  pointer-events: all;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  &:hover {
    background-color: $color-content-background-primary;
    color: $color-content-inverted-primary;
  }

  @include set-media(md) {
    border: set-calc(0.5) solid $color-background-stroke;
    border-left: 0;
  }
}

.isSuccess {
  pointer-events: none;
  color: $color-content-background-primary;
}

.isPending {
  color: $color-content-background-primary;
  opacity: 0.7;
  pointer-events: none;
}

.isError {
  color: $color-content-inverted-primary;
  background-color: $color-accent-warning;
  opacity: 1;
  transition: opacity $d-hover ease-in-out, color ease-in-out $d-hover;

  &:hover {
    opacity: 0.8;
  }
}

.isDisabled {
  color: $color-palette-black-300;
  background-color: transparent;
  pointer-events: none;

  @include set-media(md) {
    color: $color-palette-black-300;
    -webkit-text-stroke: 0;
  }
}

.Error {
  color: $color-accent-error;
}
