
@import 'styles/index';

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;
}

.inputWrap {
  padding-bottom: set-calc(8);
  display: flex;
}

.submitButton {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: set-calc(16) set-calc(16);
  min-width: set-calc(58);

  color: $white;

  background-color: $black-new;
  border: set-calc(2) solid $black-new;
  border-left: 0;
  border-radius: 0 set-calc(15) set-calc(15) 0;
  cursor: pointer;
  pointer-events: all;

  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  &:hover {
    background-color: $black;
    color: $white;
  }

  @include set-media(md) {
    border: set-calc(1) solid $black;
    border-left: 0;
  }
}

.isSuccess {
  pointer-events: none;
  color: $black;
}

.isPending {
  color: $black;
  opacity: 0.7;
  pointer-events: none;
}

.isError {
  color: $white;
  background-color: $yellow;
  transition: background-color $d-hover ease-in-out, color ease-in-out $d-hover;

  &:hover {
    background-color: $yellow-hover;
  }
}

.isDisabled {
  color: $black;
  background-color: transparent;
  pointer-events: none;

  @include set-media(md) {
    color: $black;
    -webkit-text-stroke: 0;
  }
}

.Error {
  color: $orange;
}
