@import 'styles/index';

.input {
  position: relative;

  width: 100%;
  padding: set-calc(16) set-calc(30);
  font-family: $font-family!important;

  position: relative;
  background: none;
  border: none;
  border-radius: set-calc(15) 0 0 set-calc(15);
  box-shadow: none;
  outline: none;

  &::placeholder {
    color:  $color-palette-black-300;
    opacity: 1;
    font-family: $font-family!important;
  }
  
  &:-ms-input-placeholder {
    color:  $color-palette-black-300;
    font-family: $font-family!important;
  }
  
  &::-ms-input-placeholder {
    color:  $color-palette-black-300;
    font-family: $font-family!important;
  }

  @include set-media(md) {
    padding: set-calc(20) set-calc(16);
  }

  &Caption {
    padding-bottom: set-calc(16);
    padding-left: set-calc(8);

    @include set-media(md) {
      padding-left: set-calc(2);
    }
  }
}

.light {
  background: $color-content-inverted-secondary;
  border: set-calc(1) solid $color-background-stroke;

  @include set-media(md) {
    border: set-calc(0.5) solid $color-background-stroke;
  }
}

.dark {
  color: $color-palette-white-1000;
  background: hsla(0,0%,100%,.05);
  border: set-calc(1) solid hsla(0,0%,100%,.1);
}

.isReset {
  border: set-calc(2) solid $yellow;
}