@import 'styles/index';

.wrapper {
  display: block;
}

.title {
  padding-bottom: set-calc(60);
  font-family: $font-family-serif;

  @include set-media(md) {
    padding-bottom: set-calc(32);
  }
}

.list {
  @include is-grid-4
}