@import 'styles/index';

.wrapper {
  display: block;
}

.title {
  padding-bottom: set-calc(32);

  @include set-media(md) {
    padding-bottom: set-calc(16);
    padding-left: set-calc(8);
    padding-right: set-calc(8);
  }
}

.list {
  @include is-grid-4
}