@import 'styles/index';

.menu {
  position: relative;

  display: grid;
  grid-column-gap: set-calc(1.5 * $s-gap);
  grid-template-columns: repeat(8, minmax(0, 1fr));
  padding-bottom: set-calc(80);

  border-top: set-calc(3) solid $color-content-background-primary;

  @include set-media(md) {
    padding-bottom: set-calc(56);
    border-top: set-calc(2) solid $color-content-background-primary;
  }
}

.menuLinkWrapper {
  position: relative;

  grid-column: span 4;
  padding-top: set-calc($s-gap);

  &:not(:last-child)::after {
    position: absolute;
    top: -1px;
    right: 0;

    display: block;
    width: set-calc(3);
    height: set-calc(30);

    background-color: $color-content-background-primary;

    content: '';

    @include set-media(md) {
      width: set-calc(2);
    }
  }
}

.menuLink {
  text-decoration: none;

  transition: $d-hover color;
}

.isActive {
  color: $orange !important;

  cursor: default;

  pointer-events: none;
}