@import 'styles/index';

.__ {
  position: relative;
  color: var(--color-content-primary);
  margin: set-calc(20) 0 set-calc(40);

  width: set-calc(764);
  left: set-calc(-32);

  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(30);
    width: set-calc(398);
    left: set-calc(-8);
  };
}
.quoteWrapper {
  padding: set-calc(32);
  border: set-calc(1.5) solid var(--border);
  border-radius: set-calc($border-radius-medium);

  display: flex;
  flex-direction: column;

  @include set-media(md) {
    padding: set-calc(12);
    border-radius: set-calc($border-radius-14);
  }
}

.quoteWrapper > *:not(:last-child) {
  margin: set-calc(20) 0 set-calc(16);

  @include set-media(md) {
    margin: set-calc(20) 0 set-calc(16);
  }
}

.quoteWrapper > *:first-child {
  margin-top: 0;
}

.quoteWrapper > * {
  @include font-18-normal-paragraph;
  color: var(--color-content-paragraph-primary);
}