@import 'styles/index';

.__ {
  position: relative;
  margin: set-calc(60) 0 set-calc(40);

  width: set-calc(780);
  left: set-calc(40);

  @include set-media(md) {
    margin: set-calc(30) 0 set-calc(30);
    width: 100%;
    left: 0;
  }
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: set-calc(40);
  border-radius: set-calc($border-radius-40);
  border: 1px solid var(--border);

  @include set-media(md) {
    padding: set-calc(16);
    border-radius: set-calc($border-radius-20);
  }
}

.title {
  margin-bottom: set-calc(16);
  width: 100%;

  @include font-18-paragraph;
  text-align: center;

  @include set-media(md) {
    order: 2;
  }
}

.link {
  margin-bottom: set-calc(16);

  @include font-18-paragraph;
  text-align: center;
  color: var(--primary-color);

  @include set-media(md) {
    order: 3;
  }
}

.linkForm {
  position: relative;
  display: flex;
  gap: set-calc(8);

  width: 100%;

  color: currentColor;

  @include set-media(md) {
    order: 3;
    flex-direction: column;

    margin-bottom: set-calc(16);
  }
}

.input {
  @include input;
  @include input-medium;

  width: 100%;
}

.submit {
  display: flex;

  @include set-media(md) {
    width: 100%;
  }
}

.submitButton {
  @include btn;
  @include button-48;
  @include button-primary;

  width: 100%;

  @include set-media(md) {
    margin-top: set-calc(8);
  }
}

.isSuccess {
  pointer-events: none;
  background-color: var(--color-accent-success);
  color: var(--color-content-inverted-primary);
}

.Error {
  color: var(--color-accent-alert);
  @include font-14-ui;

  margin-top: set-calc(6);
  margin-left: set-calc(4);
}

.statusProgress {
  display: flex;
  width: 100%;
  margin-top: set-calc(28);

  @include set-media(md) {
    order: 1;
    justify-content: center;
    gap: set-calc(6);
    margin-top: 0;
    margin-bottom: set-calc(24);
  }
}

.statusProgress > * {
  flex: 1 0 auto;

  @include set-media(md) {
    flex: 0 0 0;
  }
}

.statusProgress > * + * {
  margin-top: 0;
  margin-left: set-calc(4);

  @include set-media(md) {
    margin-left: 0;
  }
}

.statusProgressStep {
  position: relative;
  display: flex;
  align-items: center;
  height: set-calc(32);

  @include set-media(md) {
    height: max-content;
  }
}

.statusProgressStepLine {
  position: relative;
  top: auto;
  left: 0;

  display: block;
  align-self: center;
  flex: 1 1 auto;
  width: 100%;
  height: set-calc(4);
  margin-left: 0;
  border-radius: set-calc(2) 0 0 set-calc(2);
  background-color: $color-palette-black-100;

  @include set-media(md) {
    display: none;
  }
}

.statusProgressStepContent {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  gap: set-calc(2);
  margin-left: 0;
  padding-right: set-calc(10);
  transform: translate(-50%, -50%);

  @include set-media(md) {
    position: relative;
    padding-right: 0;
    transform: none;
    top: 0;
    left: 0;
  }
}

.statusProgressStepContentLabel {
  display: inline-block;
  padding: set-calc(4) set-calc(12);

  border-radius: set-calc(100);
  background-color: $color-palette-black-100;
  color: $color-palette-black-900;
  white-space: nowrap;

  @include font-16-ui;

  @include set-media(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 0;
    width: set-calc(32);
    height: set-calc(32);
    border-radius: 50%;
  }
}

.progressStepArrow {
  color: $color-palette-black-100;

  svg {
    width: set-calc(10);
    height: set-calc(12);
  }

  @include set-media(md) {
    display: none;
  }
}

.finishIconWrapper {
  display: block;
  flex: 0 1 auto;
}

.finishIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0 0;
  width: set-calc(32);
  height: set-calc(32);
  border-radius: 50%;

  color: $color-palette-black-900;
  background-color: $color-palette-black-100;

  svg {
    width: set-calc(32);
    height: set-calc(32);
  }
}

.active {
  .statusProgressStepLine {
    background-color: var(--primary-color);
  }

  .statusProgressStepContentLabel {
    background-color: var(--primary-color);
    color: $color-palette-white-1000;
  }

  .progressStepArrow {
    color: var(--primary-color);
  }

  .finishIcon {
    color: var(--color-content-inverted-primary);
    background-color: var(--primary-color);
  }
 }
