@import 'styles/index';

._ {
  grid-column: span 12;
  align-items: start;

  @include is-grid-12;

  @include set-media(md) {
    align-items: start;
  }
}

.questionWrapper {
  position: relative;

  display: flex;
  grid-column: span 3;
  padding-right: set-calc(32);

  @include set-media(md) {
    padding-right: 0;
  }
}

.question {
  position: relative;

  width: 100%;
  margin-bottom: auto;

  color: $orange;
  border-radius: set-calc(20);

  @include set-media(md) {
  text-align: left;

    background-color: $white;
    border-radius: 0;
  }
}

.answear {
  grid-column: 4 / -2;
}

._:not(:last-child) {
  margin-bottom: set-calc(80);
}

@include set-media(md) {
  ._:not(:last-child) {
    margin-bottom: set-calc(40);
  }
}
