@import 'styles/index';

._ {
  grid-column: span 10;
  align-items: start;
  background-color: $color-background-default;
  border-radius: set-calc($border-radius-medium);
  padding: set-calc(24);

  @include is-grid-12;

  @include set-media(md) {
    align-items: start;
    padding: set-calc(16);
    grid-gap: 0;
  }
}

.questionWrapper {
  position: relative;

  display: flex;
  grid-column: span 3;
  height: 100%;
  padding-right: set-calc(8);


  @include set-media(md) {
    width: 100%;
    padding-right: set-calc(0);
  }
}

.question {
  position: relative;

  width: 100%;
  margin-bottom: auto;

  @include set-media(md) {
    text-align: left;
    padding-bottom: set-calc(16);
  }
}

.answear {
  grid-column: 4 / -1;

  @include set-media(md) {
    color: $color-content-secondary;
  }
}
