@import 'styles/index';

.__ {
  margin: set-calc(70) set-calc(300) set-calc(70) set-calc(50);

  color: var(--color-background-glassy-c);

  @include set-media(md) {
    margin: set-calc(40) set-calc(24) set-calc(40) set-calc(16);
  }
}
.title {
  @include font-70-normal-header;
}