@import 'styles/index';

.wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;

  margin: 0 auto;
  padding: set-calc(64);

  background-color: $color-highlight-violet;
  border-radius: set-calc($border-radius-30);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include set-media(md) {
    padding: set-calc(24);
    border-radius: set-calc($border-radius-20);
  }
}

.title {
  @include font-56-normal-header;
  font-family: $font-family-bold;
  text-align: center;

  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  color: var(--color-content-primary);

  margin-bottom: set-calc(60);
  width: 60%;
  // background: $color-gradient-rainbow;
  // background-size: 400% 400%;

  // -webkit-text-fill-color: transparent;
  // background-clip: text;

  // animation: buttonGradient 45s ease infinite;
  // transition: width .3s, margin .3s, min-width .3s, background-color .3s, color .3s, border .3s, background-position 2s ease-out, padding-left .3s;

  @include set-media(md) {
    @include font-40-normal-header;
    width: 100%;
    margin-bottom: set-calc(40);
  }
}

.actions {
  grid-area: actions;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @include set-media(md) {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.actionsBtn {
  @include btn;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  padding: 0 set-calc(64);
  height: set-calc(80);

  border-radius: calc(set-calc(80) / 2);
  background: $color-accent-promo-light;
  border: 2px solid $color-content-primary-light;

  @include set-media(md) {
    padding: 0 0;
    width: 100%;
    height: set-calc(60);
    border: 1px solid $color-content-primary-light;
  }

  .text {
    @include font-20-normal-ui;
    color: $color-content-primary-light;
    font-family: $font-family-medium;
  }

  &:hover::before {
    opacity: 1;
  }
}

.actionsBtn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity .8s;
  -o-transition: opacity .8s;
  transition: opacity .8s;
  border-radius: 100px;
  border: 0;
  background: -o-radial-gradient(50% 50%, 60% 2336.38%, $color-accent-promo-light 0, $white 100%), $color-accent-promo-light;
  background: radial-gradient(60% 2336.38% at 50% 50%, $color-accent-promo-light 0, $white 100%), $color-accent-promo-light;
  opacity: 0;
  will-change: opacity;
}