@import 'styles/index';

.btnWrapper {
  position: relative;

  display: flex;
}

.btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: set-calc(20) set-calc(80);
  margin-bottom: set-calc(24);
  width: 100%;

  color: $color-content-inverted-primary;

  background-color: $color-accent-success;
  border-radius: set-calc($border-radius-medium);
  opacity: 1;
  cursor: pointer;
  pointer-events: all;

  transition: opacity $d-hover ease-in-out, color ease-in-out $d-hover;

  &:hover {
    opacity: 0.8;
  }

  @include set-media(md) {
    padding: set-calc(15) 0;
    margin-bottom: set-calc(24);

    border-radius: set-calc($border-radius-medium);
  }
}