@import 'styles/index';

.btnWrapper {
  position: relative;

  display: flex;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-content-inverted-primary;

  border-radius: set-calc($border-radius-medium);
  background: $gradient-button;
  padding: set-calc(22) set-calc(60);
  margin-bottom: set-calc(16);
  width: max-content;

  transition: opacity $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  cursor: pointer;

  @include set-media(md) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    opacity: 0.85;
  }
}