@import 'styles/index';

.btnWrapper {
  position: relative;
  display: flex;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-content-inverted-primary;
  @include font-21-normal-ui;

  border-radius: set-calc($border-radius-medium);
  background-color: $color-content-background-secondary;
  padding: set-calc(22) set-calc(60);
  width: 100%;

  transition: background-color $d-hover ease, box-shadow $d-hover ease, color $d-hover ease;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium-hovered;
    background-color: $color-content-background-primary;
  }
}