@import 'styles/index';

.wrapper {
  padding-top: 0;

  @include set-media(md) {
    padding-top: 0;
  }
}

.header {
  position: relative;

  @include is-grid-12;
  grid-row-gap: 0;

  padding-left: set-calc(16);
  margin-bottom: set-calc(32);

  @include set-media(md) {
    position: relative;

    display: block;
    margin-bottom: set-calc(16);
    padding-left: set-calc(8);
  }
}

.headerTitle {
  grid-column: 4 / -4;

  margin-bottom: set-calc(24);
  @include font-56-normal-header;
  font-family: $font-family-medium;

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.headerDesc {
  grid-column: 4 / -4;
  margin-right: set-calc(80);

  @include font-20-normal-paragraph;

  @include set-media(md) {
    margin-right: 0;
  }
}

.list {
  position: relative;
  left: 0;

  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 100%;

  @include set-media(md) {
    position: relative;

    display: flex;
    flex-direction: column;
  }
}
