@import 'styles/index';

.wrapper {
  @include is-beige;
  background-color:  $color-background-default-dark;
  padding: set-calc(50) 0 set-calc(24);

  @include set-media(md) {
    padding: set-calc(64) set-calc(8) set-calc(64);
  }
}

.header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: set-calc(32) auto 0;

  @include set-media(md) {
    align-items: start;

    width: 100%;
    margin: set-calc(16) 0 0;
  }
}

.headerTitle {
  margin-bottom: set-calc(24);

  @include font-56-normal-header;
  font-family: $font-family-bold;
  color: $color-content-primary-dark;
  text-align: center;

  @include set-media(md) {
    margin-bottom: set-calc(16);
  }
}

.headerDesc {
  @include font-18-normal-paragraph;
  color: $color-content-primary-dark;
  font-family: $font-family-light;
  text-align: center;

  width: 100%;

  a {
    font-family: $font-family-regular;
    color: $primary-color-dark;

    transition: all $d-hover ease;
  }

  a:hover {
    color: $primary-color-hover-dark;
  }

  @include set-media(md) {
    width: 100%;
  }
}

.list {
  position: relative;
  left: 0;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 48%;

  @include set-media(md) {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
