@import 'styles/index';

.sectionTitle {
  position: relative;
  padding-bottom: set-calc(32);
  padding-left: set-calc(16);

  @include font-32-normal-header;
  font-family: $font-family-bold;

  @include set-media(md) {
    position: relative;
    padding-bottom: set-calc(16);
    padding-right: set-calc(8);
    padding-left: set-calc(8);
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  gap: set-calc(16);
  max-height: set-calc(1500);

  @include set-media(md) {
    gap: set-calc(8);
    max-height: unset;
  }
}